node-red/flows.json
[{"id":"379850dc.1ca32","type":"tab","label":"Light Flows","disabled":false,"info":""},{"id":"ea74e623.011278","type":"tab","label":"Cover Flows","disabled":false,"info":""},{"id":"cf813d83.034c","type":"tab","label":"Switch Flows","disabled":false,"info":""},{"id":"eebcb194.7d292","type":"tab","label":"Heat Flows","disabled":false,"info":""},{"id":"34897e80.661b32","type":"tab","label":"Doorbell","disabled":false,"info":""},{"id":"19e6954.3f28a6b","type":"tab","label":"Presence","disabled":false,"info":""},{"id":"3f07287f.dc1d48","type":"tab","label":"Notifications","disabled":false,"info":""},{"id":"2d493087.12ff1","type":"tab","label":"TTS Alert Flows","disabled":false,"info":""},{"id":"fb4af5e0.49ea88","type":"tab","label":"IFTTT","disabled":false,"info":""},{"id":"c361898a.63fee8","type":"tab","label":"IR Flows","disabled":false,"info":""},{"id":"9eb49d26.9483b","type":"tab","label":"Sensors","disabled":false,"info":""},{"id":"8a641acf.d79398","type":"tab","label":"Test","disabled":false,"info":""},{"id":"985f57a1.b7bce8","type":"subflow","name":"Save Climate Temperatures","info":"","category":"Eco Heating","in":[{"x":50,"y":30,"wires":[{"id":"4ac6c941.7d1748"},{"id":"3cd0d0af.3b171"},{"id":"52f806e1.3c4e68"},{"id":"d5f5bd87.b8786"},{"id":"5b971c71.3239d4"},{"id":"21efde50.29acb2"},{"id":"85018add.7e03b8"},{"id":"ebbd18d6.7e7c88"},{"id":"e0a73a66.1b06e8"},{"id":"87d9350e.a1b5e8"}]}],"out":[],"inputLabels":["In"]},{"id":"7a5a974e.fb5118","type":"subflow","name":"Google Home Broadcast Message","info":"","category":"Google Home","in":[{"x":50,"y":30,"wires":[]}],"out":[]},{"id":"76ca0172.30ea9","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true},{"id":"f9f1082f.f35368","type":"mqtt-broker","z":"","name":"Mosquitto Server","broker":"10.254.254.109","port":"1883","clientid":"Node-RED","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"601ffd76.8f43f4","type":"forecastio-credentials","z":"","key_identifier":"BlackChart"},{"id":"dc20e889.3b4568","type":"server-state-changed","z":"34897e80.661b32","name":"Doorbell Sensor","server":"76ca0172.30ea9","entityidfilter":"switch.doorbell_5_1","entityidfiltertype":"substring","haltifstate":"off","outputs":1,"x":100,"y":140,"wires":[["f376fdc1.bfbbd"]]},{"id":"84f6fa01.2be0a8","type":"api-current-state","z":"34897e80.661b32","name":"Livingroom","server":"76ca0172.30ea9","outputs":2,"halt_if":"off","halt_if_type":"","halt_if_compare":"is","override_topic":true,"entity_id":"input_boolean.doorbell_sound_livingroom","state_type":"str","override_payload":true,"override_data":true,"x":550,"y":80,"wires":[["2f9ea783.3243a8"],[]],"outputLabels":["data.entity_id = media_player.livingroom",null]},{"id":"9250c45d.6da088","type":"api-current-state","z":"34897e80.661b32","name":"Diningroom","server":"76ca0172.30ea9","outputs":2,"halt_if":"off","halt_if_type":"","halt_if_compare":"is","override_topic":true,"entity_id":"input_boolean.doorbell_sound_diningroom","state_type":"str","override_payload":true,"override_data":true,"x":550,"y":120,"wires":[["2f9ea783.3243a8"],[]]},{"id":"ab0c3cb8.477c3","type":"api-current-state","z":"34897e80.661b32","name":"Bedroom","server":"76ca0172.30ea9","outputs":2,"halt_if":"off","halt_if_type":"","halt_if_compare":"is","override_topic":true,"entity_id":"input_boolean.doorbell_sound_bedroom","state_type":"str","override_payload":true,"override_data":true,"x":540,"y":160,"wires":[["2f9ea783.3243a8"],[]]},{"id":"67551f75.fd128","type":"api-call-service","z":"34897e80.661b32","name":"Ding Dong!","server":"76ca0172.30ea9","service_domain":"media_player","service":"play_media","data":"{ }","mergecontext":"","x":1110,"y":100,"wires":[[]]},{"id":"d3d46be9.445de8","type":"function","z":"34897e80.661b32","name":"Translate entities","func":"var entity\nif (msg.topic == \"input_boolean.doorbell_sound_livingroom\") {\n    entity = \"media_player.livingroom\"\n} else if (msg.topic == \"input_boolean.doorbell_sound_diningroom\") {\n    entity = \"media_player.diningroom\"\n} else if (msg.topic == \"input_boolean.doorbell_sound_bedroom\") {\n    entity = \"media_player.bedroom\"\n} else if (msg.topic == \"input_boolean.doorbell_sound_bathroom\") {\n    entity = \"media_player.bathroom\"\n} else if (msg.topic == \"input_boolean.doorbell_sound_kitchen\") {\n    entity = \"media_player.kitchen\"\n}\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": entity,\n        \"media_content_type\": \"audio/mp3\",\n        \"media_content_id\": \"http://iot.trab.dk/sounds/doorbell-001.mp3\"\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":100,"wires":[["67551f75.fd128"]]},{"id":"f376fdc1.bfbbd","type":"api-current-state","z":"34897e80.661b32","name":"Doorbell Control State","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":false,"entity_id":"input_boolean.doorbell_control_active","override_payload":false,"x":260,"y":200,"wires":[["45483582.49a3dc"]]},{"id":"45483582.49a3dc","type":"switch","z":"34897e80.661b32","name":"Doorbell Active","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":340,"wires":[["84f6fa01.2be0a8","9250c45d.6da088","ab0c3cb8.477c3","5236abd3.88f424","285908ee.9fc378"],["afa04cf0.e42ad","b938b83d.4bb788"]]},{"id":"afa04cf0.e42ad","type":"api-call-service","z":"34897e80.661b32","name":"Notify Morten - OnePlus","server":"76ca0172.30ea9","service_domain":"notify","service":"html5_morten_oneplus","data":"{ \"title\": \"Ringeklokke\", \"message\": \"Det ringer på døren\", \"data\": {   \"tag\": \"doorbell\" } }","mergecontext":"","x":990,"y":180,"wires":[[]]},{"id":"f04d213e.a30d1","type":"server-state-changed","z":"34897e80.661b32","name":"Doorbell Test Button","server":"76ca0172.30ea9","entityidfilter":"input_boolean.doorbell_control_test","entityidfiltertype":"substring","haltifstate":"off","outputs":1,"x":110,"y":80,"wires":[["84f6fa01.2be0a8","9250c45d.6da088","ab0c3cb8.477c3","ef89787a.28a348","5236abd3.88f424","285908ee.9fc378"]]},{"id":"2f9ea783.3243a8","type":"time-range-switch","z":"34897e80.661b32","name":"Time Limit","lat":"","lon":"","startTime":"07:00","endTime":"22:00","startOffset":0,"endOffset":0,"x":750,"y":160,"wires":[["d3d46be9.445de8","afa04cf0.e42ad","b938b83d.4bb788"],["afa04cf0.e42ad","b938b83d.4bb788"]]},{"id":"34bf0cff.2d52f4","type":"server-state-changed","z":"379850dc.1ca32","name":"Couch Light State","server":"76ca0172.30ea9","entityidfilter":"light.couch","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":110,"y":60,"wires":[["602124f0.cfae2c"]]},{"id":"602124f0.cfae2c","type":"switch","z":"379850dc.1ca32","name":"Switch State","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":60,"wires":[["9e605b29.b0d8e8"],["9e547a7b.36c3f8"]]},{"id":"9e605b29.b0d8e8","type":"api-call-service","z":"379850dc.1ca32","name":"Turn On Couchtable","server":"76ca0172.30ea9","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.sofabord\",\"brightness_pct\":100,\"rgb_color\":[255,218,109]}","render_data":false,"mergecontext":"","x":500,"y":40,"wires":[[]]},{"id":"9e547a7b.36c3f8","type":"api-call-service","z":"379850dc.1ca32","name":"Turn Off Couchtable","server":"76ca0172.30ea9","service_domain":"light","service":"turn_off","data":"{ \"entity_id\": \"light.sofabord\" }","mergecontext":"","x":500,"y":100,"wires":[[]]},{"id":"bbd54b51.65db08","type":"server-state-changed","z":"379850dc.1ca32","name":"Køkken Aeotech ZW100 Sensor","server":"76ca0172.30ea9","entityidfilter":"binary_sensor.kitchen_pir_3","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"","halt_if_compare":"is","outputs":1,"x":150,"y":240,"wires":[["31bfeadb.223db6"]]},{"id":"42121f2.0d94de","type":"time-range-switch","z":"379850dc.1ca32","name":"Only at nights","lat":"55.995212","lon":"9.880392","startTime":"sunset","endTime":"goldenHourEnd","startOffset":"-150","endOffset":"0","x":600,"y":300,"wires":[["b0dd88c9.43bb68"],[]]},{"id":"1788aeba.e21bc1","type":"switch","z":"379850dc.1ca32","name":"LUX level","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"25","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":740,"y":260,"wires":[["b0dd88c9.43bb68"]]},{"id":"2f663bd6.650c64","type":"api-current-state","z":"379850dc.1ca32","name":"LUX State","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"sensor.kitchen_light_5","override_payload":true,"x":590,"y":240,"wires":[["1788aeba.e21bc1"]]},{"id":"f6715d4b.cbe03","type":"api-call-service","z":"379850dc.1ca32","name":"Turn On Kitchen Light","server":"76ca0172.30ea9","service_domain":"light","service":"turn_on","data":"{ \"entity_id\": \"light.kitchen\" }","mergecontext":"","x":1020,"y":300,"wires":[[]]},{"id":"9e4462b7.ae0a6","type":"server-state-changed","z":"379850dc.1ca32","name":"Bryggers Motion","server":"76ca0172.30ea9","entityidfilter":"binary_sensor.fyrrum_motion_sensor","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":440,"y":660,"wires":[["8c68daf3.138408"]]},{"id":"8c68daf3.138408","type":"switch","z":"379850dc.1ca32","name":"Sensor State","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":660,"wires":[["8f3d2f2d.7cdd6"],["a53943e3.ea48"]],"outputLabels":["Motion Detected","No Motion"]},{"id":"253015ea.031fda","type":"time-range-switch","z":"379850dc.1ca32","name":"Only at nights","lat":"","lon":"","startTime":"sunset","endTime":"goldenHourEnd","startOffset":"-150","endOffset":"60","x":1320,"y":660,"wires":[["b77089b3.d863e8"],[]]},{"id":"3ce270d1.5afc","type":"api-current-state","z":"379850dc.1ca32","name":"LUX State","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"sensor.fyrrum_lux","override_payload":true,"x":1310,"y":600,"wires":[["476d7f90.396ed"]]},{"id":"476d7f90.396ed","type":"switch","z":"379850dc.1ca32","name":"LUX Level","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"7","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1470,"y":620,"wires":[["b77089b3.d863e8"]]},{"id":"c06a24da.a27fd8","type":"api-call-service","z":"379850dc.1ca32","name":"Turn On Light 100%","server":"76ca0172.30ea9","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.fyr1\",\"brightness_pct\":100}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":2000,"y":480,"wires":[[]]},{"id":"104a7742.7ea519","type":"time-range-switch","z":"379850dc.1ca32","name":"Night or Day","lat":"55.995212","lon":"9.880392","startTime":"08:00","endTime":"22:00","startOffset":0,"endOffset":0,"x":1750,"y":660,"wires":[["c06a24da.a27fd8","93146ae8.667388"],["5f0628ba.e9ce28","2269fec8.303792"]]},{"id":"7db1d120.f7983","type":"api-call-service","z":"379850dc.1ca32","name":"Turn On Light 1%","server":"76ca0172.30ea9","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.fyr2\",\"brightness_pct\":1}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":2130,"y":660,"wires":[[]]},{"id":"fd4b256d.467b28","type":"api-call-service","z":"ea74e623.011278","name":"Luk Terrasse Rullegardin","server":"76ca0172.30ea9","service_domain":"cover","service":"close_cover","data":"{ \"entity_id\": \"cover.terrasse_gardin\" }","mergecontext":"","x":450,"y":260,"wires":[[]]},{"id":"daf0e301.87aef","type":"weekday","z":"ea74e623.011278","name":"Days Schedule","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"x":1040,"y":160,"wires":[["96789fc0.234dc","af701789.f4bae8","dbff5255.224fa","a0dad84f.119b88","e9d50841.eb19b8","e359f683.b246f8"],[]]},{"id":"93581432.926418","type":"inject","z":"ea74e623.011278","name":"Weekdays @ 7:00","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 07 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"x":1030,"y":200,"wires":[[]]},{"id":"96789fc0.234dc","type":"api-call-service","z":"ea74e623.011278","name":"Åbn Terrasse Rullegardin","server":"76ca0172.30ea9","service_domain":"cover","service":"open_cover","data":"{ \"entity_id\": \"cover.terrasse_gardin\" }","mergecontext":"","x":1310,"y":160,"wires":[[]]},{"id":"5016194c.aca148","type":"switch","z":"ea74e623.011278","name":"Select Action","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OFF","vt":"str"},{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":160,"wires":[["daf0e301.87aef"],["2267351e.85fd3a","fd4b256d.467b28","db6d521c.4af23","13cfe730.3edb49","98df1a74.5fc468","667f7419.24089c"]]},{"id":"8004b10b.11779","type":"inject","z":"379850dc.1ca32","name":"Test Off","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":900,"wires":[[]],"outputLabels":["test"]},{"id":"1d8008ea.21b117","type":"debug","z":"379850dc.1ca32","name":"Debug Complete Object","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","x":330,"y":860,"wires":[]},{"id":"2f260bb6.71fe64","type":"api-current-state","z":"379850dc.1ca32","name":"If Light Is On","server":"76ca0172.30ea9","outputs":2,"halt_if":"off","halt_if_type":"","halt_if_compare":"is","override_topic":true,"entity_id":"light.fyr1","state_type":"str","override_payload":true,"override_data":true,"x":1310,"y":720,"wires":[["5b3a1b9d.54b1e4"],[]]},{"id":"2c712a63.1e19c6","type":"api-current-state","z":"379850dc.1ca32","name":"Only If On","server":"76ca0172.30ea9","outputs":1,"halt_if":"off","override_topic":false,"entity_id":"light.kitchen","override_payload":false,"x":580,"y":360,"wires":[["bfe6d867.b648f8"]]},{"id":"1e884b7a.218bb5","type":"comment","z":"379850dc.1ca32","name":"Bryggers lys","info":"","x":90,"y":580,"wires":[]},{"id":"53913896.7fc548","type":"comment","z":"379850dc.1ca32","name":"Køkken lys","info":"","x":80,"y":200,"wires":[]},{"id":"c51c63db.ed254","type":"comment","z":"379850dc.1ca32","name":"Stue lys","info":"","x":70,"y":20,"wires":[]},{"id":"b938b83d.4bb788","type":"api-call-service","z":"34897e80.661b32","name":"Notify Morten - PC","server":"76ca0172.30ea9","service_domain":"notify","service":"html5_morten_pc","data":"{ \"title\": \"Ringeklokke\", \"message\": \"Det ringer på døren\", \"data\": {   \"tag\": \"doorbell\" } }","mergecontext":"","x":970,"y":240,"wires":[[]]},{"id":"ef89787a.28a348","type":"api-call-service","z":"34897e80.661b32","name":"Turn Off Test Button","server":"76ca0172.30ea9","service_domain":"input_boolean","service":"turn_off","data":"{ \"entity_id\": \"input_boolean.doorbell_control_test\" }","mergecontext":"","x":380,"y":40,"wires":[[]]},{"id":"35cd5f03.c508c","type":"schedex","z":"ea74e623.011278","name":"Timer","suspended":false,"lat":"55.995212","lon":"9.880392","ontime":"sunset","ontopic":"","onpayload":"ON","onoffset":"30","onrandomoffset":0,"offtime":"sunrise","offtopic":"","offpayload":"OFF","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":90,"y":160,"wires":[["5016194c.aca148"]]},{"id":"6732d01a.a99e","type":"server-state-changed","z":"19e6954.3f28a6b","name":"Morten","server":"76ca0172.30ea9","entityidfilter":"device_tracker.morten_oneplus","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"","halt_if_compare":"is","outputs":1,"x":110,"y":80,"wires":[["c502f234.7784f"]]},{"id":"c0973146.74135","type":"server-state-changed","z":"19e6954.3f28a6b","name":"Britta","server":"76ca0172.30ea9","entityidfilter":"device_tracker.britta_mobil","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"","halt_if_compare":"is","outputs":1,"x":110,"y":140,"wires":[["2cfdc7a3.df0108"]]},{"id":"a523cd05.7ca8b","type":"server-state-changed","z":"19e6954.3f28a6b","name":"Michael","server":"76ca0172.30ea9","entityidfilter":"device_tracker.michael_huawei","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"","halt_if_compare":"is","outputs":1,"x":110,"y":200,"wires":[["48392c58.52d1b4"]]},{"id":"28e2f47f.6f06bc","type":"server-state-changed","z":"19e6954.3f28a6b","name":"Christian","server":"76ca0172.30ea9","entityidfilter":"device_tracker.christian_motorola","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"","halt_if_compare":"is","outputs":1,"x":100,"y":260,"wires":[["49173db.9e1d0c4"]]},{"id":"c502f234.7784f","type":"switch","z":"19e6954.3f28a6b","name":"Home or Away","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":80,"wires":[["c22df1c2.3b28c"],["ae4c427d.ae04"]]},{"id":"2cfdc7a3.df0108","type":"switch","z":"19e6954.3f28a6b","name":"Home or Away","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":140,"wires":[["c22df1c2.3b28c"],["ae4c427d.ae04"]]},{"id":"48392c58.52d1b4","type":"switch","z":"19e6954.3f28a6b","name":"Home or Away","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":200,"wires":[["c22df1c2.3b28c"],["ae4c427d.ae04"]]},{"id":"49173db.9e1d0c4","type":"switch","z":"19e6954.3f28a6b","name":"Home or Away","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":260,"wires":[["c22df1c2.3b28c"],["ae4c427d.ae04"]],"outputLabels":["Home","Not Home"]},{"id":"c22df1c2.3b28c","type":"change","z":"19e6954.3f28a6b","name":"Increment","rules":[{"t":"set","p":"increment","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":160,"wires":[["4a546eed.6d14a"]]},{"id":"ae4c427d.ae04","type":"change","z":"19e6954.3f28a6b","name":"Decrement","rules":[{"t":"set","p":"decrement","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":200,"wires":[["4a546eed.6d14a"]]},{"id":"f239464d.3c7b38","type":"inject","z":"19e6954.3f28a6b","name":"Add One Not Home","topic":"","payload":"not_home","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":420,"wires":[["ae4c427d.ae04"]]},{"id":"f57e18.43ce81e8","type":"switch","z":"19e6954.3f28a6b","name":"Anyone Home?","property":"count","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":680,"y":200,"wires":[["51e9d77.d7ae828"],["f5a1d608.c2eb28"]]},{"id":"4a546eed.6d14a","type":"counter","z":"19e6954.3f28a6b","name":"","init":"0","step":"1","lower":"0","upper":null,"mode":"increment","outputs":"1","x":640,"y":160,"wires":[["f57e18.43ce81e8"]]},{"id":"cd0757f4.053f48","type":"inject","z":"19e6954.3f28a6b","name":"Add One Home","topic":"","payload":"home","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":380,"wires":[["c22df1c2.3b28c"]]},{"id":"f5a1d608.c2eb28","type":"change","z":"19e6954.3f28a6b","name":"Away","rules":[{"t":"set","p":"home","pt":"global","to":"false","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":220,"wires":[["52b73c79.883384"]]},{"id":"51e9d77.d7ae828","type":"change","z":"19e6954.3f28a6b","name":"Home","rules":[{"t":"set","p":"home","pt":"global","to":"true","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":180,"wires":[["52b73c79.883384"]]},{"id":"65b1dec8.e9fef","type":"inject","z":"19e6954.3f28a6b","name":"Pull State","topic":"","payload":"home","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":520,"wires":[["ee10aec5.1e607"]]},{"id":"7bcc4e71.6a584","type":"debug","z":"19e6954.3f28a6b","name":"Anyone detected?","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","x":610,"y":520,"wires":[]},{"id":"b77089b3.d863e8","type":"switch","z":"379850dc.1ca32","name":"Only If Home","property":"home","propertyType":"global","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1590,"y":660,"wires":[["104a7742.7ea519"]]},{"id":"b0dd88c9.43bb68","type":"switch","z":"379850dc.1ca32","name":"Only If Home","property":"home","propertyType":"global","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":300,"wires":[["f6715d4b.cbe03"]]},{"id":"ee10aec5.1e607","type":"switch","z":"19e6954.3f28a6b","name":"True/False","property":"home","propertyType":"global","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":520,"wires":[["710393b0.c2b41c"],["1964cdfa.590302"]]},{"id":"710393b0.c2b41c","type":"change","z":"19e6954.3f28a6b","name":"Detected","rules":[{"t":"set","p":"payload","pt":"msg","to":"Detected","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":500,"wires":[["7bcc4e71.6a584"]]},{"id":"1964cdfa.590302","type":"change","z":"19e6954.3f28a6b","name":"Not Detected","rules":[{"t":"set","p":"payload","pt":"msg","to":"Not Detected","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":540,"wires":[["7bcc4e71.6a584"]]},{"id":"5f0628ba.e9ce28","type":"api-current-state","z":"379850dc.1ca32","name":"Only If Off","server":"76ca0172.30ea9","outputs":2,"halt_if":"on","halt_if_type":"","halt_if_compare":"is","override_topic":true,"entity_id":"light.fyr2","state_type":"str","override_payload":true,"override_data":true,"x":1960,"y":660,"wires":[["7db1d120.f7983"],[]]},{"id":"9fe06072.36ea7","type":"comment","z":"19e6954.3f28a6b","name":"Device Tracking","info":"","x":100,"y":40,"wires":[]},{"id":"6325cb34.a2a284","type":"api-current-state","z":"379850dc.1ca32","name":"Initial State Bryggers Motion","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"binary_sensor.fyrrum_motion_sensor","override_payload":true,"x":560,"y":720,"wires":[["8c68daf3.138408"]]},{"id":"7c3ea2e2.ae756c","type":"server-state-changed","z":"379850dc.1ca32","name":"Trappe Motion","server":"76ca0172.30ea9","entityidfilter":"binary_sensor.trappe_pir_22","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"","halt_if_compare":"is","outputs":1,"x":90,"y":1040,"wires":[["ff3cdee8.18404"]]},{"id":"ff3cdee8.18404","type":"switch","z":"379850dc.1ca32","name":"Motion Detection","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":1040,"wires":[["3a0f5a90.87d426","edd1cf69.5e0d5","772268b9.7b1478"],["b9f4aefa.b5de1"]]},{"id":"3a0f5a90.87d426","type":"time-range-switch","z":"379850dc.1ca32","name":"Only at nights","lat":"55.995212","lon":"9.880392","startTime":"sunset","endTime":"goldenHourEnd","startOffset":"-150","endOffset":"0","x":540,"y":1020,"wires":[["12e30996.fcda66"],[]]},{"id":"b9f4aefa.b5de1","type":"api-current-state","z":"379850dc.1ca32","name":"Only If On","server":"76ca0172.30ea9","outputs":1,"halt_if":"off","override_topic":true,"entity_id":"light.trappe","override_payload":true,"x":520,"y":1080,"wires":[["799b3e8b.cd1f5"]]},{"id":"47eb7e40.10692","type":"inject","z":"379850dc.1ca32","name":"Init States","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"2","x":130,"y":660,"wires":[["7bfed854.ca65a8"]]},{"id":"12e30996.fcda66","type":"switch","z":"379850dc.1ca32","name":"Only If Home","property":"home","propertyType":"global","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":1020,"wires":[["1efe46d4.7c25b9"]]},{"id":"1efe46d4.7c25b9","type":"time-range-switch","z":"379850dc.1ca32","name":"Night or Day","lat":"55.995212","lon":"9.880392","startTime":"08:00","endTime":"22:00","startOffset":0,"endOffset":0,"x":950,"y":1020,"wires":[["695a450e.119ecc"],["71bf90c9.3b852"]]},{"id":"71bf90c9.3b852","type":"api-current-state","z":"379850dc.1ca32","name":"Only If Off","server":"76ca0172.30ea9","outputs":1,"halt_if":"on","override_topic":true,"entity_id":"light.trappe","override_payload":true,"x":1180,"y":1020,"wires":[["e8981598.bf8f28"]]},{"id":"695a450e.119ecc","type":"api-call-service","z":"379850dc.1ca32","name":"Turn On Light 100%","server":"76ca0172.30ea9","service_domain":"light","service":"turn_on","data":"{ \"entity_id\": \"light.trappe\", \"brightness_pct\": 100 }","mergecontext":"","x":1220,"y":960,"wires":[[]]},{"id":"e8981598.bf8f28","type":"api-call-service","z":"379850dc.1ca32","name":"Turn On Light 1%","server":"76ca0172.30ea9","service_domain":"light","service":"turn_on","data":"{ \"entity_id\": \"light.trappe\", \"brightness_pct\": 1 }","mergecontext":"","x":1350,"y":1020,"wires":[[]]},{"id":"1c412d60.cbb003","type":"function","z":"379850dc.1ca32","name":"Set Payload","func":"msg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"light.trappe\",\n        \"transition\": 10\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":1080,"wires":[["689527c5.ac80e8"]]},{"id":"689527c5.ac80e8","type":"api-call-service","z":"379850dc.1ca32","name":"Turn Off Light","server":"76ca0172.30ea9","service_domain":"light","service":"turn_off","data":"{ }","mergecontext":"","x":1080,"y":1080,"wires":[[]]},{"id":"799b3e8b.cd1f5","type":"stoptimer","z":"379850dc.1ca32","duration":"15","units":"Second","payloadtype":"num","payloadval":"0","name":"15 Seconds Timer","x":730,"y":1080,"wires":[["1c412d60.cbb003"],[]]},{"id":"75bd481d.02a578","type":"comment","z":"379850dc.1ca32","name":"Trappe lys","info":"","x":80,"y":1000,"wires":[]},{"id":"79b9a1ef.c4ea2","type":"server-state-changed","z":"eebcb194.7d292","name":"Bedroom","server":"76ca0172.30ea9","entityidfilter":"climate.bedroom_14","entityidfiltertype":"substring","outputinitially":true,"haltifstate":"","outputs":1,"x":100,"y":60,"wires":[["1c06d1ab.d17f9e"]]},{"id":"e0e96c2e.a28a6","type":"server-state-changed","z":"eebcb194.7d292","name":"Livingroom","server":"76ca0172.30ea9","entityidfilter":"climate.stue_31","entityidfiltertype":"substring","outputinitially":true,"haltifstate":"","outputs":1,"x":100,"y":120,"wires":[["7c0d0f3c.f99ba"]]},{"id":"d3c1b39d.afa37","type":"server-state-changed","z":"eebcb194.7d292","name":"Kitchen","server":"76ca0172.30ea9","entityidfilter":"climate.kitchen_9","entityidfiltertype":"substring","outputinitially":true,"haltifstate":"","outputs":1,"x":110,"y":180,"wires":[["59b42a6d.dbe0a4"]]},{"id":"1780d24a.ad74fe","type":"server-state-changed","z":"eebcb194.7d292","name":"Diningroom","server":"76ca0172.30ea9","entityidfilter":"climate.spisestue_11","entityidfiltertype":"substring","outputinitially":true,"haltifstate":"","outputs":1,"x":90,"y":240,"wires":[["e294b2c4.a5ff9"]]},{"id":"2b2d891f.dacc36","type":"server-state-changed","z":"eebcb194.7d292","name":"Hall","server":"76ca0172.30ea9","entityidfilter":"climate.hall_12","entityidfiltertype":"substring","outputinitially":true,"haltifstate":"","outputs":1,"x":110,"y":300,"wires":[["2a9ccc41.0ac374"]]},{"id":"bd311bac.4ca648","type":"server-state-changed","z":"eebcb194.7d292","name":"Bathroom","server":"76ca0172.30ea9","entityidfilter":"climate.toilet_13","entityidfiltertype":"substring","outputinitially":true,"haltifstate":"","outputs":1,"x":100,"y":360,"wires":[["3063f615.74cb0a"]]},{"id":"3730e91c.36a3a6","type":"api-call-service","z":"eebcb194.7d292","name":"Get Temp Setpoint","server":"76ca0172.30ea9","service_domain":"input_number","service":"set_value","data":"{ }","mergecontext":"","x":450,"y":60,"wires":[[]]},{"id":"2756dffb.dd193","type":"api-call-service","z":"eebcb194.7d292","name":"Get Temp Setpoint","server":"76ca0172.30ea9","service_domain":"input_number","service":"set_value","data":"{ }","mergecontext":"","x":450,"y":120,"wires":[[]]},{"id":"c6df2349.bf94","type":"api-call-service","z":"eebcb194.7d292","name":"Get Temp Setpoint","server":"76ca0172.30ea9","service_domain":"input_number","service":"set_value","data":"{ }","mergecontext":"","x":450,"y":180,"wires":[[]]},{"id":"8efb1a1a.305c28","type":"api-call-service","z":"eebcb194.7d292","name":"Get Temp Setpoint","server":"76ca0172.30ea9","service_domain":"input_number","service":"set_value","data":"{ }","mergecontext":"","x":450,"y":240,"wires":[[]]},{"id":"1da31709.732709","type":"api-call-service","z":"eebcb194.7d292","name":"Get Temp Setpoint","server":"76ca0172.30ea9","service_domain":"input_number","service":"set_value","data":"{ }","mergecontext":"","x":450,"y":300,"wires":[[]]},{"id":"20b3ecd3.ba5c54","type":"api-call-service","z":"eebcb194.7d292","name":"Get Temp Setpoint","server":"76ca0172.30ea9","service_domain":"input_number","service":"set_value","data":"{ }","mergecontext":"","x":450,"y":360,"wires":[[]]},{"id":"ab1cb826.f1cb28","type":"server-state-changed","z":"eebcb194.7d292","name":"Bedroom Setpoint","server":"76ca0172.30ea9","entityidfilter":"input_number.heat_set_bedroom","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":770,"y":60,"wires":[["cdf5dae3.706c08"]]},{"id":"72c921c5.88471","type":"api-call-service","z":"eebcb194.7d292","name":"Set Temperature","server":"76ca0172.30ea9","service_domain":"climate","service":"set_temperature","data":"{ }","mergecontext":"","x":1270,"y":60,"wires":[[]]},{"id":"54ef3d83.e72c24","type":"server-state-changed","z":"eebcb194.7d292","name":"Livingroom Setpoint","server":"76ca0172.30ea9","entityidfilter":"input_number.heat_set_livingroom","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":770,"y":120,"wires":[["5d502138.0863e"]]},{"id":"c0d835a7.d57e38","type":"api-call-service","z":"eebcb194.7d292","name":"Set Temperature","server":"76ca0172.30ea9","service_domain":"climate","service":"set_temperature","data":"{ }","mergecontext":"","x":1270,"y":120,"wires":[[]]},{"id":"3a01dd59.76f922","type":"server-state-changed","z":"eebcb194.7d292","name":"Kitchen Setpoint","server":"76ca0172.30ea9","entityidfilter":"input_number.heat_set_kitchen","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":780,"y":180,"wires":[["af6a0665.b8fe58"]]},{"id":"73e92da.8a253d4","type":"api-call-service","z":"eebcb194.7d292","name":"Set Temperature","server":"76ca0172.30ea9","service_domain":"climate","service":"set_temperature","data":"{ }","mergecontext":"","x":1270,"y":180,"wires":[[]]},{"id":"5f7a7b56.ed94d4","type":"server-state-changed","z":"eebcb194.7d292","name":"Diningroom Setpoint","server":"76ca0172.30ea9","entityidfilter":"input_number.heat_set_diningroom","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":770,"y":240,"wires":[["18d89013.7538c"]]},{"id":"df7b28e2.8248d8","type":"api-call-service","z":"eebcb194.7d292","name":"Set Temperature","server":"76ca0172.30ea9","service_domain":"climate","service":"set_temperature","data":"{ }","mergecontext":"","x":1270,"y":240,"wires":[[]]},{"id":"c31b7e8a.c1a0e","type":"server-state-changed","z":"eebcb194.7d292","name":"Hall Setpoint","server":"76ca0172.30ea9","entityidfilter":"input_number.heat_set_hall","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":790,"y":300,"wires":[["4b4692c2.fc35ac"]]},{"id":"fc736dd0.cdb1f","type":"api-call-service","z":"eebcb194.7d292","name":"Set Temperature","server":"76ca0172.30ea9","service_domain":"climate","service":"set_temperature","data":"{ }","mergecontext":"","x":1270,"y":300,"wires":[[]]},{"id":"92c5096b.a604d8","type":"server-state-changed","z":"eebcb194.7d292","name":"Bathroom Setpoint","server":"76ca0172.30ea9","entityidfilter":"input_number.heat_set_bathroom","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":770,"y":360,"wires":[["caab3ac.1cd54c8"]]},{"id":"7d7b27ec.eca6f8","type":"api-call-service","z":"eebcb194.7d292","name":"Set Temperature","server":"76ca0172.30ea9","service_domain":"climate","service":"set_temperature","data":"{ }","mergecontext":"","x":1270,"y":360,"wires":[[]]},{"id":"7b43ee99.34f2c","type":"server-state-changed","z":"eebcb194.7d292","name":"Michael","server":"76ca0172.30ea9","entityidfilter":"climate.michael_18","entityidfiltertype":"substring","outputinitially":true,"haltifstate":"","outputs":1,"x":110,"y":600,"wires":[["85eef0ff.8e225"]]},{"id":"b6ab13f3.ff843","type":"server-state-changed","z":"eebcb194.7d292","name":"Trainroom","server":"76ca0172.30ea9","entityidfilter":"climate.trainroom_17","entityidfiltertype":"substring","outputinitially":true,"haltifstate":"","outputs":1,"x":100,"y":540,"wires":[["8ae67b43.673b78"]]},{"id":"632d2e33.46115","type":"server-state-changed","z":"eebcb194.7d292","name":"Christian","server":"76ca0172.30ea9","entityidfilter":"climate.christian_16","entityidfiltertype":"substring","outputinitially":true,"haltifstate":"","outputs":1,"x":100,"y":480,"wires":[["89fd1dc1.b25e3"]]},{"id":"e9900317.fba2a","type":"server-state-changed","z":"eebcb194.7d292","name":"Repos","server":"76ca0172.30ea9","entityidfilter":"climate.repos_15","entityidfiltertype":"substring","outputinitially":true,"haltifstate":"","outputs":1,"x":110,"y":420,"wires":[["5d836ea7.5910e"]]},{"id":"a792a947.b6c858","type":"api-call-service","z":"eebcb194.7d292","name":"Get Temp Setpoint","server":"76ca0172.30ea9","service_domain":"input_number","service":"set_value","data":"{ }","mergecontext":"","x":450,"y":420,"wires":[[]]},{"id":"6f4695a2.9c377c","type":"api-call-service","z":"eebcb194.7d292","name":"Get Temp Setpoint","server":"76ca0172.30ea9","service_domain":"input_number","service":"set_value","data":"{ }","mergecontext":"","x":450,"y":480,"wires":[[]]},{"id":"3d3275fd.66f0ba","type":"api-call-service","z":"eebcb194.7d292","name":"Get Temp Setpoint","server":"76ca0172.30ea9","service_domain":"input_number","service":"set_value","data":"{ }","mergecontext":"","x":450,"y":540,"wires":[[]]},{"id":"c344d5e5.6a9d38","type":"api-call-service","z":"eebcb194.7d292","name":"Get Temp Setpoint","server":"76ca0172.30ea9","service_domain":"input_number","service":"set_value","data":"{ }","mergecontext":"","x":450,"y":600,"wires":[[]]},{"id":"99ca90a.b7b0a7","type":"server-state-changed","z":"eebcb194.7d292","name":"Michael Setpoint","server":"76ca0172.30ea9","entityidfilter":"input_number.heat_set_michael","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":780,"y":600,"wires":[["7ad2fd80.ba0844"]]},{"id":"4a5cb80c.855748","type":"server-state-changed","z":"eebcb194.7d292","name":"Trainroom Setpoint","server":"76ca0172.30ea9","entityidfilter":"input_number.heat_set_trains","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":770,"y":540,"wires":[["8bb8241f.950c78"]]},{"id":"d503d0e8.b72f6","type":"server-state-changed","z":"eebcb194.7d292","name":"Christian Setpoint","server":"76ca0172.30ea9","entityidfilter":"input_number.heat_set_christian","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":770,"y":480,"wires":[["53064b87.16dfd4"]]},{"id":"a0c24e12.1b5fd","type":"server-state-changed","z":"eebcb194.7d292","name":"Kitchen Setpoint","server":"76ca0172.30ea9","entityidfilter":"input_number.heat_set_repos","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":780,"y":420,"wires":[["1d568bb0.516964"]]},{"id":"eaac0443.d459a8","type":"api-call-service","z":"eebcb194.7d292","name":"Set Temperature","server":"76ca0172.30ea9","service_domain":"climate","service":"set_temperature","data":"{ }","mergecontext":"","x":1270,"y":420,"wires":[[]]},{"id":"46a8d812.43d8c8","type":"api-call-service","z":"eebcb194.7d292","name":"Set Temperature","server":"76ca0172.30ea9","service_domain":"climate","service":"set_temperature","data":"{ }","mergecontext":"","x":1270,"y":480,"wires":[[]]},{"id":"3154a5a8.38defa","type":"api-call-service","z":"eebcb194.7d292","name":"Set Temperature","server":"76ca0172.30ea9","service_domain":"climate","service":"set_temperature","data":"{ }","mergecontext":"","x":1270,"y":540,"wires":[[]]},{"id":"94c1e95e.6d3fd8","type":"api-call-service","z":"eebcb194.7d292","name":"Set Temperature","server":"76ca0172.30ea9","service_domain":"climate","service":"set_temperature","data":"{ }","mergecontext":"","x":1270,"y":600,"wires":[[]]},{"id":"eda2ec8.d22141","type":"comment","z":"eebcb194.7d292","name":"Night Eco","info":"","x":100,"y":680,"wires":[]},{"id":"425c9455.847ccc","type":"inject","z":"eebcb194.7d292","name":"Timestamp","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":740,"wires":[["ccec9c6c.031e5"]]},{"id":"c9de4cf1.ce7f9","type":"debug","z":"eebcb194.7d292","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":110,"y":1460,"wires":[]},{"id":"ccec9c6c.031e5","type":"moment","z":"eebcb194.7d292","name":"","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Copenhagen","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:mm:ss","locale":"C","output":"current_time","outputType":"msg","outTz":"Europe/Copenhagen","x":140,"y":780,"wires":[["537eec64.b021c4"]]},{"id":"b58375d1.4892a8","type":"api-current-state","z":"eebcb194.7d292","name":"Get Eco Start Time Weekdays","server":"76ca0172.30ea9","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_datetime.heat_eco_start","state_type":"str","override_payload":true,"override_data":true,"x":1130,"y":700,"wires":[["784affd0.3db76"]]},{"id":"784affd0.3db76","type":"switch","z":"eebcb194.7d292","name":"Time Matched?","property":"current_time","propertyType":"msg","rules":[{"t":"eq","v":"payload","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":1380,"y":760,"wires":[["5769ba14.d78114"]]},{"id":"5769ba14.d78114","type":"api-current-state","z":"eebcb194.7d292","name":"Get Min Temp","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"input_number.heat_control_min_temp","override_payload":true,"x":1580,"y":700,"wires":[["97e9c48a.25f2e8","fe4c0181.ef1a4"]]},{"id":"97e9c48a.25f2e8","type":"change","z":"eebcb194.7d292","name":"Save Min Temp","rules":[{"t":"set","p":"min_temp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":760,"wires":[["d1182ea0.2cccf"]]},{"id":"b301e840.dbeee8","type":"api-current-state","z":"eebcb194.7d292","name":"Get Current SetPoint","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"climate.spisestue_11","override_payload":true,"x":600,"y":880,"wires":[["a6c8b526.50a978"]]},{"id":"c5c2ce12.76871","type":"api-current-state","z":"eebcb194.7d292","name":"Diningroom Control","server":"76ca0172.30ea9","outputs":1,"halt_if":"off","override_topic":true,"entity_id":"input_boolean.heat_diningroom","override_payload":true,"x":390,"y":880,"wires":[["b301e840.dbeee8"]]},{"id":"d1182ea0.2cccf","type":"api-current-state","z":"eebcb194.7d292","name":"Get Lower By","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"input_number.heat_control_lowerby","override_payload":true,"x":120,"y":840,"wires":[["35a4768a.09de6a"]]},{"id":"35a4768a.09de6a","type":"change","z":"eebcb194.7d292","name":"Save Lower By","rules":[{"t":"set","p":"lowerby","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":880,"wires":[["c5c2ce12.76871","6cac41ce.9018c","41714d7b.4571a4","31cb038a.1ef33c","5357aa8a.2f7e14","7ff8df65.53c4a","51c85732.40dec8","4d9d987b.a835b8","a4fce134.375d5","650cf6a0.eb09c8"]]},{"id":"6829619d.17391","type":"inject","z":"eebcb194.7d292","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":660,"wires":[[]]},{"id":"1c06d1ab.d17f9e","type":"function","z":"eebcb194.7d292","name":"Format Payload","func":"msg.payload = \n{\n    \"data\": {\n        \"entity_id\": \"input_number.heat_set_bedroom\",\n        \"value\": msg.data.new_state.attributes.temperature\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":60,"wires":[["3730e91c.36a3a6"]]},{"id":"7c0d0f3c.f99ba","type":"function","z":"eebcb194.7d292","name":"Format Payload","func":"msg.payload = \n{\n    \"data\": {\n        \"entity_id\": \"input_number.heat_set_livingroom\",\n        \"value\": msg.data.new_state.attributes.temperature\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":120,"wires":[["2756dffb.dd193"]]},{"id":"59b42a6d.dbe0a4","type":"function","z":"eebcb194.7d292","name":"Format Payload","func":"msg.payload = \n{\n    \"data\": {\n        \"entity_id\": \"input_number.heat_set_kitchen\",\n        \"value\": msg.data.new_state.attributes.temperature\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":180,"wires":[["c6df2349.bf94"]]},{"id":"e294b2c4.a5ff9","type":"function","z":"eebcb194.7d292","name":"Format Payload","func":"msg.payload = \n{\n    \"data\": {\n        \"entity_id\": \"input_number.heat_set_diningroom\",\n        \"value\": msg.data.new_state.attributes.temperature\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":240,"wires":[["8efb1a1a.305c28"]]},{"id":"2a9ccc41.0ac374","type":"function","z":"eebcb194.7d292","name":"Format Payload","func":"msg.payload = \n{\n    \"data\": {\n        \"entity_id\": \"input_number.heat_set_hall\",\n        \"value\": msg.data.new_state.attributes.temperature\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":300,"wires":[["1da31709.732709"]]},{"id":"3063f615.74cb0a","type":"function","z":"eebcb194.7d292","name":"Format Payload","func":"msg.payload = \n{\n    \"data\": {\n        \"entity_id\": \"input_number.heat_set_bathroom\",\n        \"value\": msg.data.new_state.attributes.temperature\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":360,"wires":[["20b3ecd3.ba5c54"]]},{"id":"5d836ea7.5910e","type":"function","z":"eebcb194.7d292","name":"Format Payload","func":"msg.payload = \n{\n    \"data\": {\n        \"entity_id\": \"input_number.heat_set_repos\",\n        \"value\": msg.data.new_state.attributes.temperature\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":420,"wires":[["a792a947.b6c858"]]},{"id":"89fd1dc1.b25e3","type":"function","z":"eebcb194.7d292","name":"Format Payload","func":"msg.payload = \n{\n    \"data\": {\n        \"entity_id\": \"input_number.heat_set_christian\",\n        \"value\": msg.data.new_state.attributes.temperature\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":480,"wires":[["6f4695a2.9c377c"]]},{"id":"8ae67b43.673b78","type":"function","z":"eebcb194.7d292","name":"Format Payload","func":"msg.payload = \n{\n    \"data\": {\n        \"entity_id\": \"input_number.heat_set_trains\",\n        \"value\": msg.data.new_state.attributes.temperature\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":540,"wires":[["3d3275fd.66f0ba"]]},{"id":"85eef0ff.8e225","type":"function","z":"eebcb194.7d292","name":"Format Payload","func":"msg.payload = \n{\n    \"data\": {\n        \"entity_id\": \"input_number.heat_set_michael\",\n        \"value\": msg.data.new_state.attributes.temperature\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":600,"wires":[["c344d5e5.6a9d38"]]},{"id":"537eec64.b021c4","type":"api-current-state","z":"eebcb194.7d292","name":"Automation Active?","server":"76ca0172.30ea9","outputs":1,"halt_if":"off","override_topic":true,"entity_id":"input_boolean.heat_control","override_payload":true,"x":330,"y":740,"wires":[["67828e96.2d603"]]},{"id":"a6c8b526.50a978","type":"function","z":"eebcb194.7d292","name":"Generate SetPoint","func":"var setpoint = msg.data.attributes.temperature;\n\nif ((msg.data.attributes.temperature - msg.lowerby) < msg.min_temp) {\n    setpoint = msg.min_temp;\n} else {\n    setpoint = (msg.data.attributes.temperature - msg.lowerby);\n}\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": msg.topic,\n        \"temperature\": setpoint\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":880,"wires":[["b0814ff5.d398a"]]},{"id":"b0814ff5.d398a","type":"api-call-service","z":"eebcb194.7d292","name":"Set Temperature","server":"76ca0172.30ea9","service_domain":"climate","service":"set_temperature","data":"{ }","mergecontext":"","x":1010,"y":880,"wires":[[]]},{"id":"fe4c0181.ef1a4","type":"subflow:985f57a1.b7bce8","z":"eebcb194.7d292","name":"","x":1820,"y":700,"wires":[]},{"id":"cbaa31ce.0b2ff","type":"api-call-service","z":"985f57a1.b7bce8","name":"Save Temp Setpoint","server":"76ca0172.30ea9","service_domain":"input_number","service":"set_value","data":"{ }","mergecontext":"","x":660,"y":40,"wires":[[]]},{"id":"d869eaae.5cd918","type":"api-call-service","z":"985f57a1.b7bce8","name":"Save Temp Setpoint","server":"76ca0172.30ea9","service_domain":"input_number","service":"set_value","data":"{ }","mergecontext":"","x":660,"y":80,"wires":[[]]},{"id":"4069982a.fc3278","type":"api-call-service","z":"985f57a1.b7bce8","name":"Save Temp Setpoint","server":"76ca0172.30ea9","service_domain":"input_number","service":"set_value","data":"{ }","mergecontext":"","x":660,"y":120,"wires":[[]]},{"id":"1ea9ac6.3071854","type":"api-call-service","z":"985f57a1.b7bce8","name":"Save Temp Setpoint","server":"76ca0172.30ea9","service_domain":"input_number","service":"set_value","data":"{ }","mergecontext":"","x":660,"y":160,"wires":[[]]},{"id":"350e9121.a2417e","type":"api-call-service","z":"985f57a1.b7bce8","name":"Save Temp Setpoint","server":"76ca0172.30ea9","service_domain":"input_number","service":"set_value","data":"{ }","mergecontext":"","x":660,"y":200,"wires":[[]]},{"id":"598600b0.3f83c","type":"api-call-service","z":"985f57a1.b7bce8","name":"Save Temp Setpoint","server":"76ca0172.30ea9","service_domain":"input_number","service":"set_value","data":"{ }","mergecontext":"","x":660,"y":240,"wires":[[]]},{"id":"ecffb925.fefee8","type":"api-call-service","z":"985f57a1.b7bce8","name":"Save Temp Setpoint","server":"76ca0172.30ea9","service_domain":"input_number","service":"set_value","data":"{ }","mergecontext":"","x":660,"y":280,"wires":[[]]},{"id":"28885f1d.0720a","type":"api-call-service","z":"985f57a1.b7bce8","name":"Save Temp Setpoint","server":"76ca0172.30ea9","service_domain":"input_number","service":"set_value","data":"{ }","mergecontext":"","x":660,"y":320,"wires":[[]]},{"id":"9780c7b1.9435f8","type":"api-call-service","z":"985f57a1.b7bce8","name":"Save Temp Setpoint","server":"76ca0172.30ea9","service_domain":"input_number","service":"set_value","data":"{ }","mergecontext":"","x":660,"y":360,"wires":[[]]},{"id":"5918d691.b11018","type":"api-call-service","z":"985f57a1.b7bce8","name":"Save Temp Setpoint","server":"76ca0172.30ea9","service_domain":"input_number","service":"set_value","data":"{ }","mergecontext":"","x":660,"y":400,"wires":[[]]},{"id":"bbc601eb.71d9f","type":"function","z":"985f57a1.b7bce8","name":"Format Payload","func":"msg.payload = \n{\n    \"data\": {\n        \"entity_id\": \"input_number.heat_save_bedroom\",\n        \"value\": msg.data.attributes.temperature\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":40,"wires":[["cbaa31ce.0b2ff"]]},{"id":"8b4e5a99.c2be38","type":"function","z":"985f57a1.b7bce8","name":"Format Payload","func":"msg.payload = \n{\n    \"data\": {\n        \"entity_id\": \"input_number.heat_save_livingroom\",\n        \"value\": msg.data.attributes.temperature\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":80,"wires":[["d869eaae.5cd918"]]},{"id":"20f8b6af.9f09ca","type":"function","z":"985f57a1.b7bce8","name":"Format Payload","func":"msg.payload = \n{\n    \"data\": {\n        \"entity_id\": \"input_number.heat_save_kitchen\",\n        \"value\": msg.data.attributes.temperature\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":120,"wires":[["4069982a.fc3278"]]},{"id":"7a0cf9ca.595878","type":"function","z":"985f57a1.b7bce8","name":"Format Payload","func":"msg.payload = \n{\n    \"data\": {\n        \"entity_id\": \"input_number.heat_save_diningroom\",\n        \"value\": msg.data.attributes.temperature\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":160,"wires":[["1ea9ac6.3071854"]]},{"id":"a02bc68b.ed6cb8","type":"function","z":"985f57a1.b7bce8","name":"Format Payload","func":"msg.payload = \n{\n    \"data\": {\n        \"entity_id\": \"input_number.heat_save_hall\",\n        \"value\": msg.data.attributes.temperature\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":200,"wires":[["350e9121.a2417e"]]},{"id":"89ec82b4.357e","type":"function","z":"985f57a1.b7bce8","name":"Format Payload","func":"msg.payload = \n{\n    \"data\": {\n        \"entity_id\": \"input_number.heat_save_bathroom\",\n        \"value\": msg.data.attributes.temperature\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":240,"wires":[["598600b0.3f83c"]]},{"id":"d06d5dcc.27c53","type":"function","z":"985f57a1.b7bce8","name":"Format Payload","func":"msg.payload = \n{\n    \"data\": {\n        \"entity_id\": \"input_number.heat_save_repos\",\n        \"value\": msg.data.attributes.temperature\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":280,"wires":[["ecffb925.fefee8"]]},{"id":"efcb546e.0fa388","type":"function","z":"985f57a1.b7bce8","name":"Format Payload","func":"msg.payload = \n{\n    \"data\": {\n        \"entity_id\": \"input_number.heat_save_christian\",\n        \"value\": msg.data.attributes.temperature\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":320,"wires":[["28885f1d.0720a"]]},{"id":"e7c9dc27.08a59","type":"function","z":"985f57a1.b7bce8","name":"Format Payload","func":"msg.payload = \n{\n    \"data\": {\n        \"entity_id\": \"input_number.heat_save_trains\",\n        \"value\": msg.data.attributes.temperature\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":360,"wires":[["9780c7b1.9435f8"]]},{"id":"710a38e6.155c78","type":"function","z":"985f57a1.b7bce8","name":"Format Payload","func":"msg.payload = \n{\n    \"data\": {\n        \"entity_id\": \"input_number.heat_save_michael\",\n        \"value\": msg.data.attributes.temperature\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":400,"wires":[["5918d691.b11018"]]},{"id":"4ac6c941.7d1748","type":"api-current-state","z":"985f57a1.b7bce8","name":"Bedroom","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"climate.bedroom_14","override_payload":true,"x":280,"y":40,"wires":[["bbc601eb.71d9f"]]},{"id":"3cd0d0af.3b171","type":"api-current-state","z":"985f57a1.b7bce8","name":"Livingroom","server":"76ca0172.30ea9","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"climate.stue_31","state_type":"str","override_payload":true,"override_data":true,"x":290,"y":80,"wires":[["8b4e5a99.c2be38"]]},{"id":"52f806e1.3c4e68","type":"api-current-state","z":"985f57a1.b7bce8","name":"Kitchen","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"climate.kitchen_9","override_payload":true,"x":280,"y":120,"wires":[["20f8b6af.9f09ca"]]},{"id":"d5f5bd87.b8786","type":"api-current-state","z":"985f57a1.b7bce8","name":"Dingingroom","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"climate.spisestue_11","override_payload":true,"x":290,"y":160,"wires":[["7a0cf9ca.595878"]]},{"id":"5b971c71.3239d4","type":"api-current-state","z":"985f57a1.b7bce8","name":"Hall","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"climate.hall_12","override_payload":true,"x":270,"y":200,"wires":[["a02bc68b.ed6cb8"]]},{"id":"21efde50.29acb2","type":"api-current-state","z":"985f57a1.b7bce8","name":"Bathroom","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"climate.toilet_13","override_payload":true,"x":280,"y":240,"wires":[["89ec82b4.357e"]]},{"id":"87d9350e.a1b5e8","type":"api-current-state","z":"985f57a1.b7bce8","name":"Michael","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"climate.michael_18","override_payload":true,"x":280,"y":400,"wires":[["710a38e6.155c78"]]},{"id":"e0a73a66.1b06e8","type":"api-current-state","z":"985f57a1.b7bce8","name":"Trainroom","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"climate.trainroom_17","override_payload":true,"x":280,"y":360,"wires":[["e7c9dc27.08a59"]]},{"id":"ebbd18d6.7e7c88","type":"api-current-state","z":"985f57a1.b7bce8","name":"Christian","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"climate.christian_16","override_payload":true,"x":280,"y":320,"wires":[["efcb546e.0fa388"]]},{"id":"85018add.7e03b8","type":"api-current-state","z":"985f57a1.b7bce8","name":"Repos","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"climate.repos_15","override_payload":true,"x":270,"y":280,"wires":[["d06d5dcc.27c53"]]},{"id":"31bfeadb.223db6","type":"switch","z":"379850dc.1ca32","name":"Sensor State","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":240,"wires":[["2f663bd6.650c64","42121f2.0d94de","756c62c2.16a79c"],["2c712a63.1e19c6"]],"outputLabels":["Motion Detected","No Motion"]},{"id":"f020070.41d28f8","type":"server-state-changed","z":"379850dc.1ca32","name":"Gang Motion","server":"76ca0172.30ea9","entityidfilter":"binary_sensor.gang_motion_sensor","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":510,"y":1400,"wires":[["9e50fbe6.fc7708","9e723923.3d6d48"]]},{"id":"9e50fbe6.fc7708","type":"switch","z":"379850dc.1ca32","name":"Sensor State","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":1400,"wires":[["b89c7487.af53f8","7fc4e0fa.e5539"],["29c7f778.bdb5c8"]],"outputLabels":["Motion Detected","No Motion"]},{"id":"4717b86a.189108","type":"time-range-switch","z":"379850dc.1ca32","name":"Only at nights","lat":"55.995212","lon":"9.880392","startTime":"sunset","endTime":"goldenHourEnd","startOffset":"-150","endOffset":"60","x":1120,"y":1400,"wires":[["1b86449.77f45bb"],[]]},{"id":"db680a93.cf51f8","type":"api-current-state","z":"379850dc.1ca32","name":"LUX State","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"sensor.hall_lux","override_payload":true,"x":1110,"y":1340,"wires":[["69a4bcdb.8eeed4"]]},{"id":"702af44f.085dbc","type":"stoptimer","z":"379850dc.1ca32","duration":"3","units":"Minute","payloadtype":"num","payloadval":"0","name":"3 Minutes Timer","x":1120,"y":1520,"wires":[["b24f4eff.6c7e3"],[]]},{"id":"18cc0ef8.93e4b1","type":"api-current-state","z":"379850dc.1ca32","name":"If Light Is On","server":"76ca0172.30ea9","outputs":1,"halt_if":"off","override_topic":true,"entity_id":"light.gang","override_payload":true,"x":1110,"y":1460,"wires":[["702af44f.085dbc"]]},{"id":"226f36f4.b6fbaa","type":"comment","z":"379850dc.1ca32","name":"Gang lys","info":"","x":80,"y":1320,"wires":[]},{"id":"2ca4b8b.b60d148","type":"api-current-state","z":"379850dc.1ca32","name":"Initial State Gang Motion","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"binary_sensor.gang_motion_sensor","override_payload":true,"x":630,"y":1460,"wires":[["9e50fbe6.fc7708"]]},{"id":"9dc9d67b.1b8f98","type":"inject","z":"379850dc.1ca32","name":"Init States","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"2","x":130,"y":1400,"wires":[["3ab071a2.754b9e"]]},{"id":"69a4bcdb.8eeed4","type":"switch","z":"379850dc.1ca32","name":"LUX Level","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"7","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1270,"y":1360,"wires":[["1b86449.77f45bb"]]},{"id":"1b86449.77f45bb","type":"switch","z":"379850dc.1ca32","name":"Only If Home","property":"home","propertyType":"global","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1390,"y":1400,"wires":[["b890949d.9c3228"]]},{"id":"b890949d.9c3228","type":"time-range-switch","z":"379850dc.1ca32","name":"Night or Day","lat":"55.995212","lon":"9.880392","startTime":"08:00","endTime":"22:00","startOffset":0,"endOffset":0,"x":1550,"y":1400,"wires":[["a332a5e8.ad7d88"],["c7076f0e.d0f33"]]},{"id":"da475b15.276658","type":"api-call-service","z":"379850dc.1ca32","name":"Turn Off Light","server":"76ca0172.30ea9","service_domain":"light","service":"turn_off","data":"{ \"entity_id\": \"light.gang\" }","mergecontext":"","x":1460,"y":1520,"wires":[[]]},{"id":"b24f4eff.6c7e3","type":"function","z":"379850dc.1ca32","name":"Set Payload","func":"msg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"light.gang\",\n        \"transition\": 60\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":1520,"wires":[["da475b15.276658"]]},{"id":"138a8883.1a99c7","type":"api-call-service","z":"379850dc.1ca32","name":"Turn On Light 1%","server":"76ca0172.30ea9","service_domain":"light","service":"turn_on","data":"{ \"entity_id\": \"light.gang\", \"brightness_pct\": 1 }","mergecontext":"","x":1930,"y":1400,"wires":[[]]},{"id":"c7076f0e.d0f33","type":"api-current-state","z":"379850dc.1ca32","name":"Only If Off","server":"76ca0172.30ea9","outputs":1,"halt_if":"on","override_topic":true,"entity_id":"light.gang","override_payload":true,"x":1760,"y":1400,"wires":[["138a8883.1a99c7"]]},{"id":"a332a5e8.ad7d88","type":"api-call-service","z":"379850dc.1ca32","name":"Turn On Light 100%","server":"76ca0172.30ea9","service_domain":"light","service":"turn_on","data":"{ \"entity_id\": \"light.gang\", \"brightness_pct\": 100 }","mergecontext":"","x":1800,"y":1340,"wires":[[]]},{"id":"aa7669f1.2e6c38","type":"function","z":"eebcb194.7d292","name":"Format Payload","func":"msg.payload = \n{\n    \"data\": {\n        \"entity_id\": \"climate.bedroom_14\",\n        \"temperature\": msg.payload\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":60,"wires":[["72c921c5.88471"]]},{"id":"ec4ea11d.0e74d","type":"function","z":"eebcb194.7d292","name":"Format Payload","func":"msg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"climate.stue_31\",\n        \"temperature\": msg.payload\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":120,"wires":[["c0d835a7.d57e38"]]},{"id":"be9fa301.dbb71","type":"function","z":"eebcb194.7d292","name":"Format Payload","func":"msg.payload = \n{\n    \"data\": {\n        \"entity_id\": \"climate.kitchen_9\",\n        \"temperature\": msg.payload\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":180,"wires":[["73e92da.8a253d4"]]},{"id":"9ff1d477.f16dd8","type":"function","z":"eebcb194.7d292","name":"Format Payload","func":"msg.payload = \n{\n    \"data\": {\n        \"entity_id\": \"climate.spisestue_11\",\n        \"temperature\": msg.payload\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":240,"wires":[["df7b28e2.8248d8"]]},{"id":"bb1961d4.71109","type":"function","z":"eebcb194.7d292","name":"Format Payload","func":"msg.payload = \n{\n    \"data\": {\n        \"entity_id\": \"climate.hall_12\",\n        \"temperature\": msg.payload\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":300,"wires":[["fc736dd0.cdb1f"]]},{"id":"d22af3ae.1ead","type":"function","z":"eebcb194.7d292","name":"Format Payload","func":"msg.payload = \n{\n    \"data\": {\n        \"entity_id\": \"climate.toilet_13\",\n        \"temperature\": msg.payload\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":360,"wires":[["7d7b27ec.eca6f8"]]},{"id":"fabd963e.7f75d8","type":"function","z":"eebcb194.7d292","name":"Format Payload","func":"msg.payload = \n{\n    \"data\": {\n        \"entity_id\": \"climate.repos_15\",\n        \"temperature\": msg.payload\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":420,"wires":[["eaac0443.d459a8"]]},{"id":"961ccfe2.a6b4a","type":"function","z":"eebcb194.7d292","name":"Format Payload","func":"msg.payload = \n{\n    \"data\": {\n        \"entity_id\": \"climate.christian_16\",\n        \"temperature\": msg.payload\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":480,"wires":[["46a8d812.43d8c8"]]},{"id":"7cde0c39.5568d4","type":"function","z":"eebcb194.7d292","name":"Format Payload","func":"msg.payload = \n{\n    \"data\": {\n        \"entity_id\": \"climate.trainroom_17\",\n        \"temperature\": msg.payload\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":540,"wires":[["3154a5a8.38defa"]]},{"id":"6a754f02.4e3f9","type":"function","z":"eebcb194.7d292","name":"Format Payload","func":"msg.payload = \n{\n    \"data\": {\n        \"entity_id\": \"climate.michael_18\",\n        \"temperature\": msg.payload\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":600,"wires":[["94c1e95e.6d3fd8"]]},{"id":"edd1cf69.5e0d5","type":"change","z":"379850dc.1ca32","name":"Stop Timers","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":1140,"wires":[["799b3e8b.cd1f5"]]},{"id":"588273af.e6a22c","type":"change","z":"379850dc.1ca32","name":"Stop Timers","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":780,"wires":[["e57f53a6.38984","c9a29691.98f138","a30a5336.96e47"]]},{"id":"756c62c2.16a79c","type":"change","z":"379850dc.1ca32","name":"Stop Timers","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":420,"wires":[["72a0f3dc.5b722c","c663464.a14e0b8","ddce06b8.b38938"]]},{"id":"b89c7487.af53f8","type":"change","z":"379850dc.1ca32","name":"Stop Timers","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":1520,"wires":[["702af44f.085dbc"]]},{"id":"cfbdc412.645028","type":"inject","z":"379850dc.1ca32","name":"Test On","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":860,"wires":[[]],"outputLabels":["test"]},{"id":"a53943e3.ea48","type":"switch","z":"379850dc.1ca32","name":"If not off","property":"bryggers_motion","propertyType":"flow","rules":[{"t":"neq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1080,"y":700,"wires":[["b93db0e5.9684"]]},{"id":"3414419c.b45d6e","type":"change","z":"379850dc.1ca32","name":"Set Global Param","rules":[{"t":"set","p":"bryggers_motion","pt":"flow","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":660,"wires":[["3ce270d1.5afc","253015ea.031fda"]]},{"id":"b93db0e5.9684","type":"change","z":"379850dc.1ca32","name":"Set Global Param","rules":[{"t":"set","p":"bryggers_motion","pt":"flow","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":740,"wires":[["2f260bb6.71fe64","ec8e2422.0f5f88"]]},{"id":"7fc4e0fa.e5539","type":"change","z":"379850dc.1ca32","name":"Set Global Param","rules":[{"t":"set","p":"hall_motion","pt":"flow","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1400,"wires":[["db680a93.cf51f8","4717b86a.189108"]]},{"id":"29c7f778.bdb5c8","type":"switch","z":"379850dc.1ca32","name":"If not off","property":"hall_motion","propertyType":"flow","rules":[{"t":"neq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":880,"y":1440,"wires":[["d4b2d949.abf078"]]},{"id":"d4b2d949.abf078","type":"change","z":"379850dc.1ca32","name":"Set Global Param","rules":[{"t":"set","p":"hall_motion","pt":"flow","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1480,"wires":[["18cc0ef8.93e4b1"]]},{"id":"7bfed854.ca65a8","type":"change","z":"379850dc.1ca32","name":"Set Global Param","rules":[{"t":"set","p":"bryggers_motion","pt":"global","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":130,"y":720,"wires":[["9f7950af.63796"]]},{"id":"3ab071a2.754b9e","type":"change","z":"379850dc.1ca32","name":"Set Global Param","rules":[{"t":"set","p":"hall_motion","pt":"global","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":130,"y":1460,"wires":[["4b302aaa.597274"]]},{"id":"e8ae07e3.53ac58","type":"api-current-state","z":"eebcb194.7d292","name":"Get Current SetPoint","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"climate.toilet_13","override_payload":true,"x":600,"y":920,"wires":[["24471036.10cf7"]]},{"id":"6cac41ce.9018c","type":"api-current-state","z":"eebcb194.7d292","name":"Bathroom Control","server":"76ca0172.30ea9","outputs":1,"halt_if":"off","override_topic":true,"entity_id":"input_boolean.heat_bathroom","override_payload":true,"x":390,"y":920,"wires":[["e8ae07e3.53ac58"]]},{"id":"24471036.10cf7","type":"function","z":"eebcb194.7d292","name":"Generate SetPoint","func":"var setpoint = msg.data.attributes.temperature;\n\nif ((msg.data.attributes.temperature - msg.lowerby) < msg.min_temp) {\n    setpoint = msg.min_temp;\n} else {\n    setpoint = (msg.data.attributes.temperature - msg.lowerby);\n}\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": msg.topic,\n        \"temperature\": setpoint\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":920,"wires":[["8fb271ac.8f3b9"]]},{"id":"8fb271ac.8f3b9","type":"api-call-service","z":"eebcb194.7d292","name":"Set Temperature","server":"76ca0172.30ea9","service_domain":"climate","service":"set_temperature","data":"{ }","mergecontext":"","x":1010,"y":920,"wires":[[]]},{"id":"1144432b.3cb4fd","type":"api-current-state","z":"eebcb194.7d292","name":"Get Current SetPoint","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"climate.kitchen_9","override_payload":true,"x":600,"y":960,"wires":[["dd10a5a7.7a2428"]]},{"id":"41714d7b.4571a4","type":"api-current-state","z":"eebcb194.7d292","name":"Kitchen Control","server":"76ca0172.30ea9","outputs":1,"halt_if":"off","override_topic":true,"entity_id":"input_boolean.heat_kitchen","override_payload":true,"x":380,"y":960,"wires":[["1144432b.3cb4fd"]]},{"id":"dd10a5a7.7a2428","type":"function","z":"eebcb194.7d292","name":"Generate SetPoint","func":"var setpoint = msg.data.attributes.temperature;\n\nif ((msg.data.attributes.temperature - msg.lowerby) < msg.min_temp) {\n    setpoint = msg.min_temp;\n} else {\n    setpoint = (msg.data.attributes.temperature - msg.lowerby);\n}\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": msg.topic,\n        \"temperature\": setpoint\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":960,"wires":[["f90616cf.b2a4f8"]]},{"id":"f90616cf.b2a4f8","type":"api-call-service","z":"eebcb194.7d292","name":"Set Temperature","server":"76ca0172.30ea9","service_domain":"climate","service":"set_temperature","data":"{ }","mergecontext":"","x":1010,"y":960,"wires":[[]]},{"id":"e556aa71.de82c8","type":"api-current-state","z":"eebcb194.7d292","name":"Get Current SetPoint","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"climate.bedroom_14","override_payload":true,"x":600,"y":1000,"wires":[["88fe0c7c.70de1"]]},{"id":"31cb038a.1ef33c","type":"api-current-state","z":"eebcb194.7d292","name":"Bedroom Control","server":"76ca0172.30ea9","outputs":1,"halt_if":"off","override_topic":true,"entity_id":"input_boolean.heat_bedroom","override_payload":true,"x":390,"y":1000,"wires":[["e556aa71.de82c8"]]},{"id":"88fe0c7c.70de1","type":"function","z":"eebcb194.7d292","name":"Generate SetPoint","func":"var setpoint = msg.data.attributes.temperature;\n\nif ((msg.data.attributes.temperature - msg.lowerby) < msg.min_temp) {\n    setpoint = msg.min_temp;\n} else {\n    setpoint = (msg.data.attributes.temperature - msg.lowerby);\n}\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": msg.topic,\n        \"temperature\": setpoint\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":1000,"wires":[["5656affc.a558b"]]},{"id":"5656affc.a558b","type":"api-call-service","z":"eebcb194.7d292","name":"Set Temperature","server":"76ca0172.30ea9","service_domain":"climate","service":"set_temperature","data":"{ }","mergecontext":"","x":1010,"y":1000,"wires":[[]]},{"id":"67bec134.44a64","type":"api-current-state","z":"eebcb194.7d292","name":"Get Current SetPoint","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"climate.repos_15","override_payload":true,"x":600,"y":1040,"wires":[["eba26a08.7bde08"]]},{"id":"5357aa8a.2f7e14","type":"api-current-state","z":"eebcb194.7d292","name":"Repos Control","server":"76ca0172.30ea9","outputs":1,"halt_if":"off","override_topic":true,"entity_id":"input_boolean.heat_repos","override_payload":true,"x":380,"y":1040,"wires":[["67bec134.44a64"]]},{"id":"eba26a08.7bde08","type":"function","z":"eebcb194.7d292","name":"Generate SetPoint","func":"var setpoint = msg.data.attributes.temperature;\n\nif ((msg.data.attributes.temperature - msg.lowerby) < msg.min_temp) {\n    setpoint = msg.min_temp;\n} else {\n    setpoint = (msg.data.attributes.temperature - msg.lowerby);\n}\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": msg.topic,\n        \"temperature\": setpoint\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":1040,"wires":[["eb0c3fa6.28dde"]]},{"id":"eb0c3fa6.28dde","type":"api-call-service","z":"eebcb194.7d292","name":"Set Temperature","server":"76ca0172.30ea9","service_domain":"climate","service":"set_temperature","data":"{ }","mergecontext":"","x":1010,"y":1040,"wires":[[]]},{"id":"c01a3ecc.49845","type":"api-current-state","z":"eebcb194.7d292","name":"Get Current SetPoint","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"climate.michael_18","override_payload":true,"x":600,"y":1080,"wires":[["cba74de4.09ce5"]]},{"id":"7ff8df65.53c4a","type":"api-current-state","z":"eebcb194.7d292","name":"Michael Control","server":"76ca0172.30ea9","outputs":1,"halt_if":"off","override_topic":true,"entity_id":"input_boolean.heat_michael","override_payload":true,"x":380,"y":1080,"wires":[["c01a3ecc.49845"]]},{"id":"cba74de4.09ce5","type":"function","z":"eebcb194.7d292","name":"Generate SetPoint","func":"var setpoint = msg.data.attributes.temperature;\n\nif ((msg.data.attributes.temperature - msg.lowerby) < msg.min_temp) {\n    setpoint = msg.min_temp;\n} else {\n    setpoint = (msg.data.attributes.temperature - msg.lowerby);\n}\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": msg.topic,\n        \"temperature\": setpoint\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":1080,"wires":[["f0dcb968.d0d288"]]},{"id":"f0dcb968.d0d288","type":"api-call-service","z":"eebcb194.7d292","name":"Set Temperature","server":"76ca0172.30ea9","service_domain":"climate","service":"set_temperature","data":"{ }","mergecontext":"","x":1010,"y":1080,"wires":[[]]},{"id":"1ebe4c24.12e394","type":"api-current-state","z":"eebcb194.7d292","name":"Get Current SetPoint","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"climate.christian_16","override_payload":true,"x":600,"y":1120,"wires":[["9a8720fb.93032"]]},{"id":"51c85732.40dec8","type":"api-current-state","z":"eebcb194.7d292","name":"Christian Control","server":"76ca0172.30ea9","outputs":1,"halt_if":"off","override_topic":true,"entity_id":"input_boolean.heat_christian","override_payload":true,"x":390,"y":1120,"wires":[["1ebe4c24.12e394"]]},{"id":"9a8720fb.93032","type":"function","z":"eebcb194.7d292","name":"Generate SetPoint","func":"var setpoint = msg.data.attributes.temperature;\n\nif ((msg.data.attributes.temperature - msg.lowerby) < msg.min_temp) {\n    setpoint = msg.min_temp;\n} else {\n    setpoint = (msg.data.attributes.temperature - msg.lowerby);\n}\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": msg.topic,\n        \"temperature\": setpoint\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":1120,"wires":[["22d5d36e.8547bc"]]},{"id":"22d5d36e.8547bc","type":"api-call-service","z":"eebcb194.7d292","name":"Set Temperature","server":"76ca0172.30ea9","service_domain":"climate","service":"set_temperature","data":"{ }","mergecontext":"","x":1010,"y":1120,"wires":[[]]},{"id":"38c7d920.2830e6","type":"api-current-state","z":"eebcb194.7d292","name":"Get Current SetPoint","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"climate.stue_31","override_payload":true,"override_data":true,"x":600,"y":1160,"wires":[["c06defeb.0c378"]]},{"id":"4d9d987b.a835b8","type":"api-current-state","z":"eebcb194.7d292","name":"Livingroom Control","server":"76ca0172.30ea9","outputs":1,"halt_if":"off","override_topic":true,"entity_id":"input_boolean.heat_livingroom","override_payload":true,"x":390,"y":1160,"wires":[["38c7d920.2830e6"]]},{"id":"c06defeb.0c378","type":"function","z":"eebcb194.7d292","name":"Generate SetPoint","func":"var setpoint = msg.data.attributes.temperature;\n\nif ((msg.data.attributes.temperature - msg.lowerby) < msg.min_temp) {\n    setpoint = msg.min_temp;\n} else {\n    setpoint = (msg.data.attributes.temperature - msg.lowerby);\n}\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": msg.topic,\n        \"temperature\": setpoint\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":1160,"wires":[["5477644b.657b8c"]]},{"id":"5477644b.657b8c","type":"api-call-service","z":"eebcb194.7d292","name":"Set Temperature","server":"76ca0172.30ea9","service_domain":"climate","service":"set_temperature","data":"{ }","mergecontext":"","x":1010,"y":1160,"wires":[[]]},{"id":"7285d2cc.b1450c","type":"api-current-state","z":"eebcb194.7d292","name":"Get Current SetPoint","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"climate.hall_12","override_payload":true,"x":600,"y":1200,"wires":[["c3183e55.bd47d"]]},{"id":"a4fce134.375d5","type":"api-current-state","z":"eebcb194.7d292","name":"Hall Control","server":"76ca0172.30ea9","outputs":1,"halt_if":"off","override_topic":true,"entity_id":"input_boolean.heat_hall","override_payload":true,"x":370,"y":1200,"wires":[["7285d2cc.b1450c"]]},{"id":"c3183e55.bd47d","type":"function","z":"eebcb194.7d292","name":"Generate SetPoint","func":"var setpoint = msg.data.attributes.temperature;\n\nif ((msg.data.attributes.temperature - msg.lowerby) < msg.min_temp) {\n    setpoint = msg.min_temp;\n} else {\n    setpoint = (msg.data.attributes.temperature - msg.lowerby);\n}\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": msg.topic,\n        \"temperature\": setpoint\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":1200,"wires":[["8441d035.6d04d"]]},{"id":"8441d035.6d04d","type":"api-call-service","z":"eebcb194.7d292","name":"Set Temperature","server":"76ca0172.30ea9","service_domain":"climate","service":"set_temperature","data":"{ }","mergecontext":"","x":1010,"y":1200,"wires":[[]]},{"id":"bc9e9813.d2f2a8","type":"api-current-state","z":"eebcb194.7d292","name":"Get Current SetPoint","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"climate.trainroom_17","override_payload":true,"x":600,"y":1240,"wires":[["babc881d.4f8d18"]]},{"id":"650cf6a0.eb09c8","type":"api-current-state","z":"eebcb194.7d292","name":"Trainroom Control","server":"76ca0172.30ea9","outputs":1,"halt_if":"off","override_topic":true,"entity_id":"input_boolean.heat_trains","override_payload":true,"x":390,"y":1240,"wires":[["bc9e9813.d2f2a8"]]},{"id":"babc881d.4f8d18","type":"function","z":"eebcb194.7d292","name":"Generate SetPoint","func":"var setpoint = msg.data.attributes.temperature;\n\nif ((msg.data.attributes.temperature - msg.lowerby) < msg.min_temp) {\n    setpoint = msg.min_temp;\n} else {\n    setpoint = (msg.data.attributes.temperature - msg.lowerby);\n}\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": msg.topic,\n        \"temperature\": setpoint\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":1240,"wires":[["997dac80.c08a8"]]},{"id":"997dac80.c08a8","type":"api-call-service","z":"eebcb194.7d292","name":"Set Temperature","server":"76ca0172.30ea9","service_domain":"climate","service":"set_temperature","data":"{ }","mergecontext":"","x":1010,"y":1240,"wires":[[]]},{"id":"d4d737a8.b3dde8","type":"inject","z":"eebcb194.7d292","name":"Timestamp","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1320,"wires":[["7da54bb5.4191e4"]]},{"id":"7da54bb5.4191e4","type":"moment","z":"eebcb194.7d292","name":"","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Copenhagen","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:mm:ss","locale":"C","output":"current_time","outputType":"msg","outTz":"Europe/Copenhagen","x":140,"y":1360,"wires":[["704979b6.d51cb8"]]},{"id":"76b0a406.ad761c","type":"api-current-state","z":"eebcb194.7d292","name":"Get Eco End Time Weekdays","server":"76ca0172.30ea9","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_datetime.heat_eco_end","state_type":"str","override_payload":true,"override_data":true,"x":1140,"y":1300,"wires":[["94508a3b.4cd1b8"]]},{"id":"94508a3b.4cd1b8","type":"switch","z":"eebcb194.7d292","name":"Time Matched?","property":"current_time","propertyType":"msg","rules":[{"t":"eq","v":"payload","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":1420,"wires":[["b795da20.d491b8","d1e353af.65ab8","e33becc7.7deb9","2f424786.520df8","7c13d5bf.62a00c","c0a79e6d.5fe1d","30ad304c.f987a","d9121e14.61353","6d83ef15.2889d","c29f1d1.b193fe"]]},{"id":"704979b6.d51cb8","type":"api-current-state","z":"eebcb194.7d292","name":"Automation Active?","server":"76ca0172.30ea9","outputs":1,"halt_if":"off","override_topic":true,"entity_id":"input_boolean.heat_control","override_payload":true,"x":330,"y":1320,"wires":[["5f5337d3.911a68"]]},{"id":"a0cd82bf.8342a","type":"function","z":"eebcb194.7d292","name":"Generate SetPoint","func":"msg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"climate.spisestue_11\",\n        \"temperature\": msg.payload\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":1440,"wires":[["287175d.29b0f8a"]]},{"id":"287175d.29b0f8a","type":"api-call-service","z":"eebcb194.7d292","name":"Set Temperature","server":"76ca0172.30ea9","service_domain":"climate","service":"set_temperature","data":"{ }","mergecontext":"","x":1110,"y":1440,"wires":[[]]},{"id":"b795da20.d491b8","type":"api-current-state","z":"eebcb194.7d292","name":"Get Diningroom Save Temp","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"input_number.heat_save_diningroom","override_payload":true,"x":680,"y":1440,"wires":[["a0cd82bf.8342a"]]},{"id":"951209ed.cf5c18","type":"function","z":"eebcb194.7d292","name":"Generate SetPoint","func":"msg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"climate.toilet_13\",\n        \"temperature\": msg.payload\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":1480,"wires":[["bf062ee9.a44f9"]]},{"id":"bf062ee9.a44f9","type":"api-call-service","z":"eebcb194.7d292","name":"Set Temperature","server":"76ca0172.30ea9","service_domain":"climate","service":"set_temperature","data":"{ }","mergecontext":"","x":1110,"y":1480,"wires":[[]]},{"id":"d1e353af.65ab8","type":"api-current-state","z":"eebcb194.7d292","name":"Get Bathroom Save Temp","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"input_number.heat_save_bathroom","override_payload":true,"x":670,"y":1480,"wires":[["951209ed.cf5c18"]]},{"id":"a5c747a0.91aa88","type":"function","z":"eebcb194.7d292","name":"Generate SetPoint","func":"msg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"climate.kitchen_9\",\n        \"temperature\": msg.payload\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":1520,"wires":[["29af6655.c7a5fa"]]},{"id":"29af6655.c7a5fa","type":"api-call-service","z":"eebcb194.7d292","name":"Set Temperature","server":"76ca0172.30ea9","service_domain":"climate","service":"set_temperature","data":"{ }","mergecontext":"","x":1110,"y":1520,"wires":[[]]},{"id":"e33becc7.7deb9","type":"api-current-state","z":"eebcb194.7d292","name":"Get Kitchen Save Temp","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"input_number.heat_save_kitchen","override_payload":true,"x":670,"y":1520,"wires":[["a5c747a0.91aa88"]]},{"id":"33581b2f.f407a4","type":"function","z":"eebcb194.7d292","name":"Generate SetPoint","func":"msg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"climate.bedroom_14\",\n        \"temperature\": msg.payload\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":1560,"wires":[["2604cbb1.193594"]]},{"id":"2604cbb1.193594","type":"api-call-service","z":"eebcb194.7d292","name":"Set Temperature","server":"76ca0172.30ea9","service_domain":"climate","service":"set_temperature","data":"{ }","mergecontext":"","x":1110,"y":1560,"wires":[[]]},{"id":"2f424786.520df8","type":"api-current-state","z":"eebcb194.7d292","name":"Get Bedroom Save Temp","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"input_number.heat_save_bedroom","override_payload":true,"x":670,"y":1560,"wires":[["33581b2f.f407a4"]]},{"id":"934120eb.14ab5","type":"function","z":"eebcb194.7d292","name":"Generate SetPoint","func":"msg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"climate.repos_15\",\n        \"temperature\": msg.payload\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":1600,"wires":[["2c92506f.65039"]]},{"id":"2c92506f.65039","type":"api-call-service","z":"eebcb194.7d292","name":"Set Temperature","server":"76ca0172.30ea9","service_domain":"climate","service":"set_temperature","data":"{ }","mergecontext":"","x":1110,"y":1600,"wires":[[]]},{"id":"7c13d5bf.62a00c","type":"api-current-state","z":"eebcb194.7d292","name":"Get Repos Save Temp","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"input_number.heat_save_repos","override_payload":true,"x":660,"y":1600,"wires":[["934120eb.14ab5"]]},{"id":"9c986d84.f79c8","type":"function","z":"eebcb194.7d292","name":"Generate SetPoint","func":"msg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"climate.michael18\",\n        \"temperature\": msg.payload\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":1640,"wires":[["935568d3.2b2388"]]},{"id":"935568d3.2b2388","type":"api-call-service","z":"eebcb194.7d292","name":"Set Temperature","server":"76ca0172.30ea9","service_domain":"climate","service":"set_temperature","data":"{ }","mergecontext":"","x":1110,"y":1640,"wires":[[]]},{"id":"c0a79e6d.5fe1d","type":"api-current-state","z":"eebcb194.7d292","name":"Get Michael Save Temp","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"input_number.heat_save_michael","override_payload":true,"x":670,"y":1640,"wires":[["9c986d84.f79c8"]]},{"id":"228a4224.4eef2e","type":"function","z":"eebcb194.7d292","name":"Generate SetPoint","func":"msg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"climate.christian_16\",\n        \"temperature\": msg.payload\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":1680,"wires":[["74aff665.ca3f08"]]},{"id":"74aff665.ca3f08","type":"api-call-service","z":"eebcb194.7d292","name":"Set Temperature","server":"76ca0172.30ea9","service_domain":"climate","service":"set_temperature","data":"{ }","mergecontext":"","x":1110,"y":1680,"wires":[[]]},{"id":"30ad304c.f987a","type":"api-current-state","z":"eebcb194.7d292","name":"Get Christian Save Temp","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"input_number.heat_save_christian","override_payload":true,"x":670,"y":1680,"wires":[["228a4224.4eef2e"]]},{"id":"60e869c1.083ca8","type":"function","z":"eebcb194.7d292","name":"Generate SetPoint","func":"msg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"climate.stue_31\",\n        \"temperature\": msg.payload\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":1720,"wires":[["35fc03e7.eda0fc"]]},{"id":"35fc03e7.eda0fc","type":"api-call-service","z":"eebcb194.7d292","name":"Set Temperature","server":"76ca0172.30ea9","service_domain":"climate","service":"set_temperature","data":"{ }","mergecontext":"","x":1110,"y":1720,"wires":[[]]},{"id":"d9121e14.61353","type":"api-current-state","z":"eebcb194.7d292","name":"Get Livingroom Save Temp","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"input_number.heat_save_livingroom","override_payload":true,"x":680,"y":1720,"wires":[["60e869c1.083ca8"]]},{"id":"358d2cd.ea12ad4","type":"function","z":"eebcb194.7d292","name":"Generate SetPoint","func":"msg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"climate.hall_12\",\n        \"temperature\": msg.payload\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":1760,"wires":[["fd328bbb.ceffd8"]]},{"id":"fd328bbb.ceffd8","type":"api-call-service","z":"eebcb194.7d292","name":"Set Temperature","server":"76ca0172.30ea9","service_domain":"climate","service":"set_temperature","data":"{ }","mergecontext":"","x":1110,"y":1760,"wires":[[]]},{"id":"6d83ef15.2889d","type":"api-current-state","z":"eebcb194.7d292","name":"Get Hall Save Temp","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"input_number.heat_save_hall","override_payload":true,"x":660,"y":1760,"wires":[["358d2cd.ea12ad4"]]},{"id":"2beb926.5e98d6e","type":"function","z":"eebcb194.7d292","name":"Generate SetPoint","func":"msg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"climate.trainroom_17\",\n        \"temperature\": msg.payload\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":1800,"wires":[["a154512.0a1ceb"]]},{"id":"a154512.0a1ceb","type":"api-call-service","z":"eebcb194.7d292","name":"Set Temperature","server":"76ca0172.30ea9","service_domain":"climate","service":"set_temperature","data":"{ }","mergecontext":"","x":1110,"y":1800,"wires":[[]]},{"id":"c29f1d1.b193fe","type":"api-current-state","z":"eebcb194.7d292","name":"Get Trainroom Save Temp","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"input_number.heat_save_trains","override_payload":true,"x":680,"y":1800,"wires":[["2beb926.5e98d6e"]]},{"id":"d2e5675b.dc82e8","type":"server-state-changed","z":"eebcb194.7d292","name":"All Out State","server":"76ca0172.30ea9","entityidfilter":"input_boolean.heat_control_out","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":150,"y":1740,"wires":[["6077ce26.83d16"]]},{"id":"6077ce26.83d16","type":"switch","z":"eebcb194.7d292","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":1740,"wires":[["b795da20.d491b8","d1e353af.65ab8","e33becc7.7deb9","2f424786.520df8","7c13d5bf.62a00c","c0a79e6d.5fe1d","30ad304c.f987a","d9121e14.61353","6d83ef15.2889d","c29f1d1.b193fe"],["4384b93.9f6d848"]]},{"id":"933d10c0.7085e","type":"inject","z":"eebcb194.7d292","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1420,"wires":[[]]},{"id":"68b88fda.55918","type":"api-current-state","z":"eebcb194.7d292","name":"Get Diningroom SetPoint","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"climate.spisestue_11","override_payload":true,"x":450,"y":1920,"wires":[["36dcde13.8da3c2"]]},{"id":"36dcde13.8da3c2","type":"function","z":"eebcb194.7d292","name":"Generate SetPoint","func":"var setpoint = msg.data.attributes.temperature;\n\nif (msg.data.attributes.temperature > msg.min_temp) {\n    setpoint = msg.min_temp;\n}\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": msg.topic,\n        \"temperature\": setpoint\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":1920,"wires":[["d5c39012.2e81a"]]},{"id":"d5c39012.2e81a","type":"api-call-service","z":"eebcb194.7d292","name":"Set Temperature","server":"76ca0172.30ea9","service_domain":"climate","service":"set_temperature","data":"{ }","mergecontext":"","x":870,"y":1920,"wires":[[]]},{"id":"bb4fdbc5.628568","type":"api-current-state","z":"eebcb194.7d292","name":"Get Bathroom SetPoint","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"climate.toilet_13","override_payload":true,"x":450,"y":1960,"wires":[["6df5ff17.3ceaf"]]},{"id":"6df5ff17.3ceaf","type":"function","z":"eebcb194.7d292","name":"Generate SetPoint","func":"var setpoint = msg.data.attributes.temperature;\n\nif (msg.data.attributes.temperature > msg.min_temp) {\n    setpoint = msg.min_temp;\n}\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": msg.topic,\n        \"temperature\": setpoint\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":1960,"wires":[["e1daa91.fcb0658"]]},{"id":"e1daa91.fcb0658","type":"api-call-service","z":"eebcb194.7d292","name":"Set Temperature","server":"76ca0172.30ea9","service_domain":"climate","service":"set_temperature","data":"{ }","mergecontext":"","x":870,"y":1960,"wires":[[]]},{"id":"3fcb24c8.59b26c","type":"api-current-state","z":"eebcb194.7d292","name":"Get Kitchen SetPoint","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"climate.kitchen_9","override_payload":true,"x":440,"y":2000,"wires":[["e4367d9d.36c04"]]},{"id":"e4367d9d.36c04","type":"function","z":"eebcb194.7d292","name":"Generate SetPoint","func":"var setpoint = msg.data.attributes.temperature;\n\nif (msg.data.attributes.temperature > msg.min_temp) {\n    setpoint = msg.min_temp;\n}\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": msg.topic,\n        \"temperature\": setpoint\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":2000,"wires":[["ce674bd8.45ea28"]]},{"id":"ce674bd8.45ea28","type":"api-call-service","z":"eebcb194.7d292","name":"Set Temperature","server":"76ca0172.30ea9","service_domain":"climate","service":"set_temperature","data":"{ }","mergecontext":"","x":870,"y":2000,"wires":[[]]},{"id":"cafdbcc7.5f98f","type":"api-current-state","z":"eebcb194.7d292","name":"Get Bedroom SetPoint","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"climate.bedroom_14","override_payload":true,"x":440,"y":2040,"wires":[["6f4f16f1.ba3768"]]},{"id":"6f4f16f1.ba3768","type":"function","z":"eebcb194.7d292","name":"Generate SetPoint","func":"var setpoint = msg.data.attributes.temperature;\n\nif (msg.data.attributes.temperature > msg.min_temp) {\n    setpoint = msg.min_temp;\n}\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": msg.topic,\n        \"temperature\": setpoint\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":2040,"wires":[["afcda1ec.5330d"]]},{"id":"afcda1ec.5330d","type":"api-call-service","z":"eebcb194.7d292","name":"Set Temperature","server":"76ca0172.30ea9","service_domain":"climate","service":"set_temperature","data":"{ }","mergecontext":"","x":870,"y":2040,"wires":[[]]},{"id":"ddd5bb3b.1c89b8","type":"api-current-state","z":"eebcb194.7d292","name":"Get Repos SetPoint","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"climate.repos_15","override_payload":true,"x":440,"y":2080,"wires":[["8abdc3.421c324"]]},{"id":"8abdc3.421c324","type":"function","z":"eebcb194.7d292","name":"Generate SetPoint","func":"var setpoint = msg.data.attributes.temperature;\n\nif (msg.data.attributes.temperature > msg.min_temp) {\n    setpoint = msg.min_temp;\n}\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": msg.topic,\n        \"temperature\": setpoint\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":2080,"wires":[["dcd1016f.5cd29"]]},{"id":"dcd1016f.5cd29","type":"api-call-service","z":"eebcb194.7d292","name":"Set Temperature","server":"76ca0172.30ea9","service_domain":"climate","service":"set_temperature","data":"{ }","mergecontext":"","x":870,"y":2080,"wires":[[]]},{"id":"c052c833.ee4908","type":"api-current-state","z":"eebcb194.7d292","name":"Get Michael SetPoint","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"climate.michael_18","override_payload":true,"x":440,"y":2120,"wires":[["c9c51a2e.311388"]]},{"id":"c9c51a2e.311388","type":"function","z":"eebcb194.7d292","name":"Generate SetPoint","func":"var setpoint = msg.data.attributes.temperature;\n\nif (msg.data.attributes.temperature > msg.min_temp) {\n    setpoint = msg.min_temp;\n}\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": msg.topic,\n        \"temperature\": setpoint\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":2120,"wires":[["5805319e.aed6e"]]},{"id":"5805319e.aed6e","type":"api-call-service","z":"eebcb194.7d292","name":"Set Temperature","server":"76ca0172.30ea9","service_domain":"climate","service":"set_temperature","data":"{ }","mergecontext":"","x":870,"y":2120,"wires":[[]]},{"id":"4799b473.e8926c","type":"api-current-state","z":"eebcb194.7d292","name":"Get Christian SetPoint","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"climate.christian_16","override_payload":true,"x":440,"y":2160,"wires":[["53b43d48.cb84d4"]]},{"id":"53b43d48.cb84d4","type":"function","z":"eebcb194.7d292","name":"Generate SetPoint","func":"var setpoint = msg.data.attributes.temperature;\n\nif (msg.data.attributes.temperature > msg.min_temp) {\n    setpoint = msg.min_temp;\n}\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": msg.topic,\n        \"temperature\": setpoint\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":2160,"wires":[["a5b2a5cb.75b5d8"]]},{"id":"a5b2a5cb.75b5d8","type":"api-call-service","z":"eebcb194.7d292","name":"Set Temperature","server":"76ca0172.30ea9","service_domain":"climate","service":"set_temperature","data":"{ }","mergecontext":"","x":870,"y":2160,"wires":[[]]},{"id":"2d26adcf.cb1d02","type":"api-current-state","z":"eebcb194.7d292","name":"Get Livingroom SetPoint","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"climate.stue_31","override_payload":true,"override_data":true,"x":450,"y":2200,"wires":[["7d56446a.255bac"]]},{"id":"7d56446a.255bac","type":"function","z":"eebcb194.7d292","name":"Generate SetPoint","func":"var setpoint = msg.data.attributes.temperature;\n\nif (msg.data.attributes.temperature > msg.min_temp) {\n    setpoint = msg.min_temp;\n}\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": msg.topic,\n        \"temperature\": setpoint\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":2200,"wires":[["be1ba315.b9a6b"]]},{"id":"be1ba315.b9a6b","type":"api-call-service","z":"eebcb194.7d292","name":"Set Temperature","server":"76ca0172.30ea9","service_domain":"climate","service":"set_temperature","data":"{ }","mergecontext":"","x":870,"y":2200,"wires":[[]]},{"id":"ea1afad1.b75e48","type":"api-current-state","z":"eebcb194.7d292","name":"Get Hall SetPoint","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"climate.hall_12","override_payload":true,"x":430,"y":2240,"wires":[["a452ecf9.c184f"]]},{"id":"a452ecf9.c184f","type":"function","z":"eebcb194.7d292","name":"Generate SetPoint","func":"var setpoint = msg.data.attributes.temperature;\n\nif (msg.data.attributes.temperature > msg.min_temp) {\n    setpoint = msg.min_temp;\n}\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": msg.topic,\n        \"temperature\": setpoint\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":2240,"wires":[["8690d554.f33bd8"]]},{"id":"8690d554.f33bd8","type":"api-call-service","z":"eebcb194.7d292","name":"Set Temperature","server":"76ca0172.30ea9","service_domain":"climate","service":"set_temperature","data":"{ }","mergecontext":"","x":870,"y":2240,"wires":[[]]},{"id":"e64c6df6.87d59","type":"api-current-state","z":"eebcb194.7d292","name":"Get Trainroom SetPoint","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"climate.trainroom_17","override_payload":true,"x":450,"y":2280,"wires":[["fbecc930.8b54a8"]]},{"id":"fbecc930.8b54a8","type":"function","z":"eebcb194.7d292","name":"Generate SetPoint","func":"var setpoint = msg.data.attributes.temperature;\n\nif (msg.data.attributes.temperature > msg.min_temp) {\n    setpoint = msg.min_temp;\n}\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": msg.topic,\n        \"temperature\": setpoint\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":2280,"wires":[["37f1f794.4aa6e8"]]},{"id":"37f1f794.4aa6e8","type":"api-call-service","z":"eebcb194.7d292","name":"Set Temperature","server":"76ca0172.30ea9","service_domain":"climate","service":"set_temperature","data":"{ }","mergecontext":"","x":870,"y":2280,"wires":[[]]},{"id":"fcb7d782.fb3ea8","type":"change","z":"eebcb194.7d292","name":"Save Min Temp","rules":[{"t":"set","p":"min_temp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":1920,"wires":[["68b88fda.55918","bb4fdbc5.628568","3fcb24c8.59b26c","cafdbcc7.5f98f","ddd5bb3b.1c89b8","c052c833.ee4908","4799b473.e8926c","2d26adcf.cb1d02","ea1afad1.b75e48","e64c6df6.87d59"]]},{"id":"4384b93.9f6d848","type":"api-current-state","z":"eebcb194.7d292","name":"Get Min Temp","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"input_number.heat_control_min_temp","override_payload":true,"x":500,"y":1860,"wires":[["fcb7d782.fb3ea8","d023565d.a34ec8"]]},{"id":"d023565d.a34ec8","type":"subflow:985f57a1.b7bce8","z":"eebcb194.7d292","name":"","x":780,"y":1860,"wires":[]},{"id":"a523f2ae.89959","type":"api-call-service","z":"2d493087.12ff1","name":"Say Message","server":"76ca0172.30ea9","service_domain":"media_player","service":"play_media","data":"{ }","mergecontext":"","x":440,"y":560,"wires":[["f352a03.398ca6"]]},{"id":"b7fcc578.1ee1f8","type":"function","z":"2d493087.12ff1","name":"Set Payload","func":"msg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.livingroom\",\n        \"media_content_type\": \"audio/mp3\",\n        \"media_content_id\": msg.payload\n    }\n}\n\n//msg.old_volume = msg.old_volume;\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":520,"wires":[["a523f2ae.89959"]]},{"id":"9b126f10.c93e4","type":"api-call-service","z":"2d493087.12ff1","name":"Silence","server":"76ca0172.30ea9","service_domain":"media_player","service":"play_media","data":"{ }","mergecontext":"","x":420,"y":220,"wires":[["b8a4e1f8.dd0c5"]]},{"id":"9fe94191.87f22","type":"function","z":"2d493087.12ff1","name":"Silence JSON","func":"msg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.livingroom\",\n        \"media_content_type\": \"audio/mp3\",\n        \"media_content_id\": \"http://iot.trab.dk/sounds/silence.mp3\"\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":180,"wires":[["9b126f10.c93e4"]]},{"id":"5db4b8c0.168d28","type":"api-current-state","z":"2d493087.12ff1","name":"Get Volume","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"media_player.livingroom","override_payload":true,"x":430,"y":360,"wires":[["abdd8f99.09a2d"]]},{"id":"abdd8f99.09a2d","type":"change","z":"2d493087.12ff1","name":"Save Volume","rules":[{"t":"set","p":"old_volume","pt":"msg","to":"data.attributes.volume_level","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":400,"wires":[["4119100d.17912"]]},{"id":"1f4c05a3.b2792a","type":"api-call-service","z":"2d493087.12ff1","name":"Set Volume","server":"76ca0172.30ea9","service_domain":"media_player","service":"volume_set","data":"{ }","mergecontext":"","x":430,"y":480,"wires":[["d543efa3.132ac"]]},{"id":"55ad3bb5.b3ab24","type":"function","z":"2d493087.12ff1","name":"Set Volume Restore","func":"msg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.livingroom\",\n        \"volume_level\": msg.old_volume\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":840,"wires":[["b8495c02.fec8"]]},{"id":"4119100d.17912","type":"function","z":"2d493087.12ff1","name":"Set Volume Payload","func":"var volume = msg.old_volume;\n\nif ( volume < \"0.7\" ) { volume = \"0.7\"; }\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.livingroom\",\n        \"volume_level\": volume\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":440,"wires":[["1f4c05a3.b2792a","7f1640d0.dff1b"]]},{"id":"b8495c02.fec8","type":"api-call-service","z":"2d493087.12ff1","name":"Set Volume","server":"76ca0172.30ea9","service_domain":"media_player","service":"volume_set","data":"{ }","mergecontext":"","x":430,"y":880,"wires":[["1d2e8174.9d063f"]]},{"id":"b8a4e1f8.dd0c5","type":"api-current-state","z":"2d493087.12ff1","name":"Get State","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":false,"entity_id":"media_player.livingroom","override_payload":false,"x":420,"y":260,"wires":[["da209032.87d17"]]},{"id":"da209032.87d17","type":"switch","z":"2d493087.12ff1","name":"Is Idle","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"idle","vt":"str"},{"t":"eq","v":"idle","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":320,"wires":[["6b44cb24.5fb1d4"],["5db4b8c0.168d28"]]},{"id":"d9fef17.4f7ae1","type":"api-current-state","z":"2d493087.12ff1","name":"Get State","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":false,"entity_id":"media_player.livingroom","override_payload":false,"x":420,"y":680,"wires":[["68c79cb8.7bd3e4"]]},{"id":"68c79cb8.7bd3e4","type":"switch","z":"2d493087.12ff1","name":"Is Idle","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"idle","vt":"str"},{"t":"eq","v":"idle","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":740,"wires":[["6535d311.cf0a3c"],["7f1640d0.dff1b"]]},{"id":"78c3f5d.8caeb0c","type":"google-tts","z":"2d493087.12ff1","name":"","inputField":"payload","inputFieldType":"msg","outputField":"payload","outputFieldType":"msg","languageField":"da","languageFieldType":"str","speedField":"1","speedFieldType":"num","x":700,"y":480,"wires":[["b7fcc578.1ee1f8"]]},{"id":"d543efa3.132ac","type":"change","z":"2d493087.12ff1","name":"TTS","rules":[{"t":"set","p":"payload","pt":"msg","to":"TTS","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":480,"wires":[["78c3f5d.8caeb0c"]]},{"id":"c1992d4e.16679","type":"function","z":"2d493087.12ff1","name":"Set Volume Restore","func":"msg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.livingroom\",\n        \"volume_level\": \"0.3\"\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":500,"wires":[["f6708b5f.c08ef8"]]},{"id":"f6708b5f.c08ef8","type":"api-call-service","z":"2d493087.12ff1","name":"Set Volume","server":"76ca0172.30ea9","service_domain":"media_player","service":"volume_set","data":"{ \"entity_id\": \"media_player.livingroom\", \"volume_level\": \"0.7\" }","mergecontext":"","x":130,"y":540,"wires":[[]]},{"id":"9a2b6556.121568","type":"inject","z":"2d493087.12ff1","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":460,"wires":[["c1992d4e.16679"]]},{"id":"5bde7575.27ca2c","type":"debug","z":"2d493087.12ff1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":110,"y":600,"wires":[]},{"id":"f54f6810.39e808","type":"change","z":"2d493087.12ff1","name":"Set Process State","rules":[{"t":"set","p":"process","pt":"msg","to":"say_message","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":640,"wires":[["d9fef17.4f7ae1"]]},{"id":"6535d311.cf0a3c","type":"stoptimer","z":"2d493087.12ff1","duration":"500","units":"Millisecond","payloadtype":"num","payloadval":"0","name":"","x":620,"y":740,"wires":[["d9fef17.4f7ae1"],[]]},{"id":"f352a03.398ca6","type":"stoptimer","z":"2d493087.12ff1","duration":"500","units":"Millisecond","payloadtype":"num","payloadval":"0","name":"","x":460,"y":600,"wires":[["f54f6810.39e808"],[]]},{"id":"6b44cb24.5fb1d4","type":"stoptimer","z":"2d493087.12ff1","duration":"500","units":"Millisecond","payloadtype":"num","payloadval":"0","name":"","x":600,"y":320,"wires":[["b8a4e1f8.dd0c5"],[]]},{"id":"7f1640d0.dff1b","type":"traffic","z":"2d493087.12ff1","name":"process","property_allow":"process","filter_allow":"^say_message$","ignore_case_allow":true,"negate_allow":false,"send_allow":false,"property_stop":"process","filter_stop":"^init$","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":true,"x":420,"y":780,"wires":[["55ad3bb5.b3ab24"]]},{"id":"fbc50b38.4884d8","type":"change","z":"2d493087.12ff1","name":"Set Process State","rules":[{"t":"set","p":"process","pt":"msg","to":"init","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":140,"wires":[["9fe94191.87f22","7f1640d0.dff1b"]]},{"id":"1d2e8174.9d063f","type":"change","z":"2d493087.12ff1","name":"Set Process State","rules":[{"t":"set","p":"process","pt":"msg","to":"init","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":880,"wires":[["7f1640d0.dff1b"]]},{"id":"9c3847a0.075278","type":"inject","z":"2d493087.12ff1","name":"","topic":"","payload":"11","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":40,"wires":[[]]},{"id":"96d3c909.4eaa98","type":"server-state-changed","z":"2d493087.12ff1","name":"Landroid Error","server":"76ca0172.30ea9","entityidfilter":"sensor.landroid_err_code","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":110,"y":80,"wires":[["3f35eb2f.22cf24"]]},{"id":"3f35eb2f.22cf24","type":"switch","z":"2d493087.12ff1","name":"Error Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"11","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":280,"y":80,"wires":[["e32f3f3b.c0835"],["e54ad622.0a89a8"]],"outputLabels":["Outside Wire","Upside Down"]},{"id":"e32f3f3b.c0835","type":"change","z":"2d493087.12ff1","name":"Wire Crossed","rules":[{"t":"set","p":"TTS","pt":"flow","to":"Advarsel, plæneklipperen er kørt forbi wiren!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":40,"wires":[["be6a4519.58dd08"]]},{"id":"e54ad622.0a89a8","type":"change","z":"2d493087.12ff1","name":"Upside Down","rules":[{"t":"set","p":"TTS","pt":"flow","to":"Advarsel, plæneklipperen vender på hovedet!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":80,"wires":[["be6a4519.58dd08"]]},{"id":"be6a4519.58dd08","type":"switch","z":"2d493087.12ff1","name":"Only If Home","property":"home","propertyType":"global","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":60,"wires":[["fbc50b38.4884d8","6d867b2e.813f44","aa851489.462938"]]},{"id":"1c751123.2f074f","type":"comment","z":"2d493087.12ff1","name":"Landroid Err State","info":"","x":150,"y":260,"wires":[]},{"id":"70cb57b5.f93658","type":"api-call-service","z":"2d493087.12ff1","name":"Say Message","server":"76ca0172.30ea9","service_domain":"media_player","service":"play_media","data":"{ }","mergecontext":"","x":920,"y":560,"wires":[["6f4f517c.a4fee"]]},{"id":"9a527be8.7df688","type":"function","z":"2d493087.12ff1","name":"Set Payload","func":"msg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.diningroom\",\n        \"media_content_type\": \"audio/mp3\",\n        \"media_content_id\": msg.payload\n    }\n}\n\n//msg.old_volume = msg.old_volume;\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":520,"wires":[["70cb57b5.f93658"]]},{"id":"e0427325.cb254","type":"api-call-service","z":"2d493087.12ff1","name":"Silence","server":"76ca0172.30ea9","service_domain":"media_player","service":"play_media","data":"{ }","mergecontext":"","x":900,"y":220,"wires":[["159ca7aa.8d3698"]]},{"id":"eb8f9830.0c2988","type":"function","z":"2d493087.12ff1","name":"Silence JSON","func":"msg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.diningroom\",\n        \"media_content_type\": \"audio/mp3\",\n        \"media_content_id\": \"http://iot.trab.dk/sounds/silence.mp3\"\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":180,"wires":[["e0427325.cb254"]]},{"id":"cbedabc7.83bd98","type":"api-current-state","z":"2d493087.12ff1","name":"Get Volume","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"media_player.diningroom","override_payload":true,"x":910,"y":360,"wires":[["92205254.48618"]]},{"id":"92205254.48618","type":"change","z":"2d493087.12ff1","name":"Save Volume","rules":[{"t":"set","p":"old_volume","pt":"msg","to":"data.attributes.volume_level","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":400,"wires":[["215deb11.2d3c04"]]},{"id":"e2e18031.b63cc","type":"api-call-service","z":"2d493087.12ff1","name":"Set Volume","server":"76ca0172.30ea9","service_domain":"media_player","service":"volume_set","data":"{ }","mergecontext":"","x":910,"y":480,"wires":[["faa9b944.4e8b48"]]},{"id":"8ac88b7b.6ecc48","type":"function","z":"2d493087.12ff1","name":"Set Volume Restore","func":"msg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.diningroom\",\n        \"volume_level\": msg.old_volume\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":840,"wires":[["52802a7b.e543b4"]]},{"id":"215deb11.2d3c04","type":"function","z":"2d493087.12ff1","name":"Set Volume Payload","func":"var volume = msg.old_volume;\n\nif ( volume < \"0.7\" ) { volume = \"0.7\"; }\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.diningroom\",\n        \"volume_level\": volume\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":440,"wires":[["e2e18031.b63cc","8d925ef5.dafd7"]]},{"id":"52802a7b.e543b4","type":"api-call-service","z":"2d493087.12ff1","name":"Set Volume","server":"76ca0172.30ea9","service_domain":"media_player","service":"volume_set","data":"{ }","mergecontext":"","x":910,"y":880,"wires":[["a7a41872.17ca48"]]},{"id":"159ca7aa.8d3698","type":"api-current-state","z":"2d493087.12ff1","name":"Get State","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":false,"entity_id":"media_player.diningroom","override_payload":false,"x":900,"y":260,"wires":[["69cfdb36.902b04"]]},{"id":"69cfdb36.902b04","type":"switch","z":"2d493087.12ff1","name":"Is Idle","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"idle","vt":"str"},{"t":"eq","v":"idle","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":890,"y":320,"wires":[["87d1af44.f53fb"],["cbedabc7.83bd98"]]},{"id":"2e6a2fe7.de934","type":"api-current-state","z":"2d493087.12ff1","name":"Get State","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":false,"entity_id":"media_player.diningroom","override_payload":false,"x":900,"y":680,"wires":[["8b7c8087.132b1"]]},{"id":"8b7c8087.132b1","type":"switch","z":"2d493087.12ff1","name":"Is Idle","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"idle","vt":"str"},{"t":"eq","v":"idle","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":890,"y":740,"wires":[["4aa1fc93.b38a14"],["8d925ef5.dafd7"]]},{"id":"e0fd0cfb.7c3c2","type":"google-tts","z":"2d493087.12ff1","name":"","inputField":"payload","inputFieldType":"msg","outputField":"payload","outputFieldType":"msg","languageField":"da","languageFieldType":"str","speedField":"1","speedFieldType":"num","x":1180,"y":480,"wires":[["9a527be8.7df688"]]},{"id":"faa9b944.4e8b48","type":"change","z":"2d493087.12ff1","name":"TTS","rules":[{"t":"set","p":"payload","pt":"msg","to":"TTS","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":480,"wires":[["e0fd0cfb.7c3c2"]]},{"id":"9c662b07.11a968","type":"change","z":"2d493087.12ff1","name":"Set Process State","rules":[{"t":"set","p":"process","pt":"msg","to":"say_message","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":640,"wires":[["2e6a2fe7.de934"]]},{"id":"4aa1fc93.b38a14","type":"stoptimer","z":"2d493087.12ff1","duration":"500","units":"Millisecond","payloadtype":"num","payloadval":"0","name":"","x":1100,"y":740,"wires":[["2e6a2fe7.de934"],[]]},{"id":"6f4f517c.a4fee","type":"stoptimer","z":"2d493087.12ff1","duration":"500","units":"Millisecond","payloadtype":"num","payloadval":"0","name":"","x":940,"y":600,"wires":[["9c662b07.11a968"],[]]},{"id":"87d1af44.f53fb","type":"stoptimer","z":"2d493087.12ff1","duration":"500","units":"Millisecond","payloadtype":"num","payloadval":"0","name":"","x":1080,"y":320,"wires":[["159ca7aa.8d3698"],[]]},{"id":"8d925ef5.dafd7","type":"traffic","z":"2d493087.12ff1","name":"process","property_allow":"process","filter_allow":"^say_message$","ignore_case_allow":true,"negate_allow":false,"send_allow":false,"property_stop":"process","filter_stop":"^init$","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":true,"x":900,"y":780,"wires":[["8ac88b7b.6ecc48"]]},{"id":"6d867b2e.813f44","type":"change","z":"2d493087.12ff1","name":"Set Process State","rules":[{"t":"set","p":"process","pt":"msg","to":"init","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":140,"wires":[["eb8f9830.0c2988","8d925ef5.dafd7"]]},{"id":"a7a41872.17ca48","type":"change","z":"2d493087.12ff1","name":"Set Process State","rules":[{"t":"set","p":"process","pt":"msg","to":"init","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":880,"wires":[["8d925ef5.dafd7"]]},{"id":"43f2d317.aeb88c","type":"api-call-service","z":"2d493087.12ff1","name":"Say Message","server":"76ca0172.30ea9","service_domain":"media_player","service":"play_media","data":"{ }","mergecontext":"","x":1400,"y":560,"wires":[["a2460735.007d08"]]},{"id":"91f02787.70d328","type":"function","z":"2d493087.12ff1","name":"Set Payload","func":"msg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.bedroom\",\n        \"media_content_type\": \"audio/mp3\",\n        \"media_content_id\": msg.payload\n    }\n}\n\n//msg.old_volume = msg.old_volume;\n\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":520,"wires":[["43f2d317.aeb88c"]]},{"id":"a7a28d38.c176d","type":"api-call-service","z":"2d493087.12ff1","name":"Silence","server":"76ca0172.30ea9","service_domain":"media_player","service":"play_media","data":"{ }","mergecontext":"","x":1380,"y":220,"wires":[["86c8d0ab.bed69"]]},{"id":"524dd178.c06af","type":"function","z":"2d493087.12ff1","name":"Silence JSON","func":"msg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.bedroom\",\n        \"media_content_type\": \"audio/mp3\",\n        \"media_content_id\": \"http://iot.trab.dk/sounds/silence.mp3\"\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":180,"wires":[["a7a28d38.c176d"]]},{"id":"a0e9b9d9.8c16d8","type":"api-current-state","z":"2d493087.12ff1","name":"Get Volume","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"media_player.bedroom","override_payload":true,"x":1390,"y":360,"wires":[["6983d63c.83b698"]]},{"id":"6983d63c.83b698","type":"change","z":"2d493087.12ff1","name":"Save Volume","rules":[{"t":"set","p":"old_volume","pt":"msg","to":"data.attributes.volume_level","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":400,"wires":[["55c75a39.e7b344"]]},{"id":"aa3123cd.8191e","type":"api-call-service","z":"2d493087.12ff1","name":"Set Volume","server":"76ca0172.30ea9","service_domain":"media_player","service":"volume_set","data":"{ }","mergecontext":"","x":1390,"y":480,"wires":[["477cb206.58e52c"]]},{"id":"de724750.98cb78","type":"function","z":"2d493087.12ff1","name":"Set Volume Restore","func":"msg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.bedroom\",\n        \"volume_level\": msg.old_volume\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1420,"y":840,"wires":[["c2395a8e.21cb58"]]},{"id":"55c75a39.e7b344","type":"function","z":"2d493087.12ff1","name":"Set Volume Payload","func":"var volume = msg.old_volume;\n\nif ( volume < \"0.7\" ) { volume = \"0.7\"; }\n\nmsg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"media_player.bedroom\",\n        \"volume_level\": volume\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1420,"y":440,"wires":[["aa3123cd.8191e","7834631b.9c7bfc"]]},{"id":"c2395a8e.21cb58","type":"api-call-service","z":"2d493087.12ff1","name":"Set Volume","server":"76ca0172.30ea9","service_domain":"media_player","service":"volume_set","data":"{ }","mergecontext":"","x":1390,"y":880,"wires":[["bb861f13.78ca5"]]},{"id":"86c8d0ab.bed69","type":"api-current-state","z":"2d493087.12ff1","name":"Get State","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":false,"entity_id":"media_player.bedroom","override_payload":false,"x":1380,"y":260,"wires":[["97eb2829.377a88"]]},{"id":"97eb2829.377a88","type":"switch","z":"2d493087.12ff1","name":"Is Idle","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"idle","vt":"str"},{"t":"eq","v":"idle","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1370,"y":320,"wires":[["8c13f1be.6ed2c"],["a0e9b9d9.8c16d8"]]},{"id":"9b1f96e7.4144b8","type":"api-current-state","z":"2d493087.12ff1","name":"Get State","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":false,"entity_id":"media_player.bedroom","override_payload":false,"x":1380,"y":680,"wires":[["1eca745a.a82f8c"]]},{"id":"1eca745a.a82f8c","type":"switch","z":"2d493087.12ff1","name":"Is Idle","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"idle","vt":"str"},{"t":"eq","v":"idle","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1370,"y":740,"wires":[["f3c988b5.5a8208"],["7834631b.9c7bfc"]]},{"id":"6cbaa831.7bbf68","type":"google-tts","z":"2d493087.12ff1","name":"","inputField":"payload","inputFieldType":"msg","outputField":"payload","outputFieldType":"msg","languageField":"da","languageFieldType":"str","speedField":"1","speedFieldType":"num","x":1660,"y":480,"wires":[["91f02787.70d328"]]},{"id":"477cb206.58e52c","type":"change","z":"2d493087.12ff1","name":"TTS","rules":[{"t":"set","p":"payload","pt":"msg","to":"TTS","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1530,"y":480,"wires":[["6cbaa831.7bbf68"]]},{"id":"a32a7b9c.44a1c8","type":"change","z":"2d493087.12ff1","name":"Set Process State","rules":[{"t":"set","p":"process","pt":"msg","to":"say_message","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":640,"wires":[["9b1f96e7.4144b8"]]},{"id":"f3c988b5.5a8208","type":"stoptimer","z":"2d493087.12ff1","duration":"500","units":"Millisecond","payloadtype":"num","payloadval":"0","name":"","x":1580,"y":740,"wires":[["9b1f96e7.4144b8"],[]]},{"id":"a2460735.007d08","type":"stoptimer","z":"2d493087.12ff1","duration":"500","units":"Millisecond","payloadtype":"num","payloadval":"0","name":"","x":1420,"y":600,"wires":[["a32a7b9c.44a1c8"],[]]},{"id":"8c13f1be.6ed2c","type":"stoptimer","z":"2d493087.12ff1","duration":"500","units":"Millisecond","payloadtype":"num","payloadval":"0","name":"","x":1560,"y":320,"wires":[["86c8d0ab.bed69"],[]]},{"id":"7834631b.9c7bfc","type":"traffic","z":"2d493087.12ff1","name":"process","property_allow":"process","filter_allow":"^say_message$","ignore_case_allow":true,"negate_allow":false,"send_allow":false,"property_stop":"process","filter_stop":"^init$","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":true,"x":1380,"y":780,"wires":[["de724750.98cb78"]]},{"id":"aa851489.462938","type":"change","z":"2d493087.12ff1","name":"Set Process State","rules":[{"t":"set","p":"process","pt":"msg","to":"init","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":140,"wires":[["524dd178.c06af","7834631b.9c7bfc"]]},{"id":"bb861f13.78ca5","type":"change","z":"2d493087.12ff1","name":"Set Process State","rules":[{"t":"set","p":"process","pt":"msg","to":"init","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1570,"y":880,"wires":[["7834631b.9c7bfc"]]},{"id":"52b73c79.883384","type":"mqtt out","z":"19e6954.3f28a6b","name":"Save state to MQTT","topic":"presence/home","qos":"","retain":"true","broker":"f9f1082f.f35368","x":1000,"y":200,"wires":[]},{"id":"772268b9.7b1478","type":"api-current-state","z":"379850dc.1ca32","name":"LUX State","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"sensor.trappe_light_24","override_payload":true,"x":530,"y":960,"wires":[["7977dff1.026dd"]]},{"id":"7977dff1.026dd","type":"switch","z":"379850dc.1ca32","name":"LUX Level","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"5","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":980,"wires":[["12e30996.fcda66"]]},{"id":"a3c04e76.662e","type":"switch","z":"8a641acf.d79398","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":240,"wires":[["346d823b.5ae07e","8ec0b4d2.7deab8"],["78f22efb.34a87"]]},{"id":"4f7929d7.eebfe8","type":"function","z":"8a641acf.d79398","name":"Payload Blue","func":"var entity;\nif (msg.topic == \"input_boolean.police_livingroom\") {\n    entity = \"light.sofabord\"\n} else if (msg.topic == \"input_boolean.police_diningroom\") {\n    entity = \"light.spisebord\"\n} else if (msg.topic == \"input_boolean.police_bryggers\") {\n    entity = \"light.fyrrum\"\n}\n\nmsg.payload = {\n    \"data\": {\n        \"entity_id\": entity,\n        \"rgb_color\": [0, 0, 255],\n        \"transition\": \"0\"\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":260,"wires":[["aa50e84d.e04b48"]]},{"id":"73fd7802.165e58","type":"delay","z":"8a641acf.d79398","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":340,"wires":[["2939ba2a.915b26"]]},{"id":"2939ba2a.915b26","type":"function","z":"8a641acf.d79398","name":"Payload Red","func":"var entity;\nif (msg.topic == \"input_boolean.police_livingroom\") {\n    entity = \"light.sofabord\"\n} else if (msg.topic == \"input_boolean.police_diningroom\") {\n    entity = \"light.spisebord\"\n} else if (msg.topic == \"input_boolean.police_bryggers\") {\n    entity = \"light.fyrrum\"\n}\n\nmsg.payload = {\n    \"data\": {\n        \"entity_id\": entity,\n        \"rgb_color\": [255, 0, 0],\n        \"transition\": \"0\"\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":380,"wires":[["3282c044.44da9"]]},{"id":"6a78f89c.df40c8","type":"delay","z":"8a641acf.d79398","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":460,"wires":[["ba0752f1.8eb48"]]},{"id":"aa50e84d.e04b48","type":"api-call-service","z":"8a641acf.d79398","name":"","server":"76ca0172.30ea9","service_domain":"light","service":"turn_on","data":"{ }","mergecontext":"","x":680,"y":300,"wires":[["73fd7802.165e58"]]},{"id":"3282c044.44da9","type":"api-call-service","z":"8a641acf.d79398","name":"","server":"76ca0172.30ea9","service_domain":"light","service":"turn_on","data":"{ }","mergecontext":"","x":680,"y":420,"wires":[["6a78f89c.df40c8"]]},{"id":"58cd8a1b.398534","type":"api-call-service","z":"8a641acf.d79398","name":"","server":"76ca0172.30ea9","service_domain":"light","service":"turn_off","data":"","render_data":false,"mergecontext":"","x":690,"y":600,"wires":[[]]},{"id":"f13b7eb7.57ce5","type":"server-state-changed","z":"8a641acf.d79398","name":"","server":"76ca0172.30ea9","entityidfilter":"input_boolean.police","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":180,"y":60,"wires":[["a3c04e76.662e"]]},{"id":"ba0752f1.8eb48","type":"api-current-state","z":"8a641acf.d79398","name":"","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"input_boolean.police","override_payload":true,"override_data":true,"x":320,"y":460,"wires":[["a3c04e76.662e"]]},{"id":"2267351e.85fd3a","type":"api-call-service","z":"ea74e623.011278","name":"Luk Spisestue Rullegardin","server":"76ca0172.30ea9","service_domain":"cover","service":"close_cover","data":"{ \"entity_id\": \"cover.spisestue_gardin\" }","mergecontext":"","x":450,"y":200,"wires":[[]]},{"id":"af701789.f4bae8","type":"api-call-service","z":"ea74e623.011278","name":"Åbn Spisestue Rullegardin","server":"76ca0172.30ea9","service_domain":"cover","service":"open_cover","data":"{ \"entity_id\": \"cover.spisestue_gardin\" }","mergecontext":"","x":1320,"y":220,"wires":[[]]},{"id":"2f821696.21ab0a","type":"inject","z":"379850dc.1ca32","name":"Test Input","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":940,"wires":[[]]},{"id":"6e3e913e.99a19","type":"debug","z":"379850dc.1ca32","name":"Debug Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":300,"y":920,"wires":[]},{"id":"91faab8.f1f6058","type":"change","z":"379850dc.1ca32","name":"Set Global Param","rules":[{"t":"set","p":"hall_motion","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":1460,"wires":[["2ca4b8b.b60d148"]]},{"id":"13a71ca8.7fdd23","type":"change","z":"379850dc.1ca32","name":"Set Global Param","rules":[{"t":"set","p":"bryggers_motion","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":780,"wires":[["6325cb34.a2a284"]]},{"id":"9f7950af.63796","type":"api-current-state","z":"379850dc.1ca32","name":"Light State","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"light.fyrrum","override_payload":true,"override_data":true,"x":310,"y":720,"wires":[["13a71ca8.7fdd23"]]},{"id":"4b302aaa.597274","type":"api-current-state","z":"379850dc.1ca32","name":"Light State","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"light.gang","override_payload":true,"override_data":true,"x":330,"y":1400,"wires":[["91faab8.f1f6058"]]},{"id":"cf6183b3.4b1cc","type":"api-call-service","z":"ea74e623.011278","name":"Luk Rullegardin, Glasparti Venstre","server":"76ca0172.30ea9","service_domain":"cover","service":"close_cover","data":"{\"entity_id\":\"cover.glasparti_venstre\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":860,"y":280,"wires":[[]]},{"id":"db6d521c.4af23","type":"api-call-service","z":"ea74e623.011278","name":"Luk Rullegardin, Glasparti Midt","server":"76ca0172.30ea9","service_domain":"cover","service":"set_cover_position","data":"{\"entity_id\":\"cover.glasparti_midt\",\"position\":\"15\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":470,"y":380,"wires":[[]]},{"id":"98df1a74.5fc468","type":"api-call-service","z":"ea74e623.011278","name":"Luk Rullegardin, Glasparti Højre","server":"76ca0172.30ea9","service_domain":"cover","service":"close_cover","data":"{\"entity_id\":\"cover.glasdor\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":470,"y":440,"wires":[[]]},{"id":"dbff5255.224fa","type":"api-call-service","z":"ea74e623.011278","name":"Åbn Rullegardin, Glasparti Venstre","server":"76ca0172.30ea9","service_domain":"cover","service":"open_cover","data":"{\"entity_id\":\"cover.glasparti_venstre\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1340,"y":280,"wires":[[]]},{"id":"a0dad84f.119b88","type":"api-call-service","z":"ea74e623.011278","name":"Åbn Rullegardin, Glasparti Midt","server":"76ca0172.30ea9","service_domain":"cover","service":"open_cover","data":"{\"entity_id\":\"cover.glasparti_midt\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1330,"y":340,"wires":[[]]},{"id":"e9d50841.eb19b8","type":"api-call-service","z":"ea74e623.011278","name":"Åbn Rullegardin, Glasparti Højre","server":"76ca0172.30ea9","service_domain":"cover","service":"open_cover","data":"{\"entity_id\":\"cover.glasdor\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1330,"y":400,"wires":[[]]},{"id":"13cfe730.3edb49","type":"api-current-state","z":"ea74e623.011278","name":"Window Closed","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"binary_sensor.lille_vindue_stue_30","override_payload":true,"override_data":true,"x":420,"y":320,"wires":[["8d70c26c.030b2"]]},{"id":"67f13be7.b35a54","type":"schedex","z":"379850dc.1ca32","name":"Turn Off Light","suspended":false,"lat":"55.995212","lon":"9.880392","ontime":"dusk","ontopic":"ON","onpayload":"","onoffset":"","onrandomoffset":0,"offtime":"22:00","offtopic":"","offpayload":"OFF","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":500,"y":1700,"wires":[["3449b80e.0e4e28"]]},{"id":"3449b80e.0e4e28","type":"api-current-state","z":"379850dc.1ca32","name":"If Light Is On","server":"76ca0172.30ea9","outputs":1,"halt_if":"off","override_topic":true,"entity_id":"light.gardsplads","override_payload":true,"override_data":true,"x":770,"y":1700,"wires":[["eccf109f.93ad8"]]},{"id":"eccf109f.93ad8","type":"api-call-service","z":"379850dc.1ca32","name":"Turn Off Light","server":"76ca0172.30ea9","service_domain":"light","service":"turn_off","data":"{ \"entity_id\": \"light.gardsplads\" }","mergecontext":"","x":940,"y":1700,"wires":[[]]},{"id":"2e2cc165.78aa8e","type":"comment","z":"379850dc.1ca32","name":"Gårdsplads lys","info":"","x":100,"y":1680,"wires":[]},{"id":"ea8531ea.24a8c","type":"server-state-changed","z":"3f07287f.dc1d48","name":"A8","server":"76ca0172.30ea9","entityidfilter":"sensor.anet_a8_3d_printer","entityidfiltertype":"substring","outputinitially":true,"haltifstate":"","outputs":1,"x":90,"y":100,"wires":[["b28c4aa4.32e7e8"]]},{"id":"b28c4aa4.32e7e8","type":"switch","z":"3f07287f.dc1d48","name":"new_state = none","property":"data.new_state.attributes.job","propertyType":"msg","rules":[{"t":"eq","v":"none","vt":"str"},{"t":"neq","v":"none","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":100,"wires":[["bdc07834.17bd68"],["74afc8f0.dd94b8"]]},{"id":"bdc07834.17bd68","type":"switch","z":"3f07287f.dc1d48","name":"old_state != none","property":"data.old_state.attributes.job","propertyType":"msg","rules":[{"t":"neq","v":"none","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":100,"wires":[["50da9bf4.2a1794","1f7fd0dd.4658ef"]]},{"id":"b1e99ff.39a006","type":"api-call-service","z":"3f07287f.dc1d48","name":"Notify Morten - OnePlus","server":"76ca0172.30ea9","service_domain":"notify","service":"html5_morten_oneplus","data":"{ }","mergecontext":"","x":950,"y":120,"wires":[[]]},{"id":"47617e01.6576f","type":"api-call-service","z":"3f07287f.dc1d48","name":"Notify Morten - PC","server":"76ca0172.30ea9","service_domain":"notify","service":"html5_morten_pc","data":"{ }","mergecontext":"","x":930,"y":180,"wires":[[]]},{"id":"50da9bf4.2a1794","type":"function","z":"3f07287f.dc1d48","name":"Set Payload","func":"msg.payload = {\n    \"data\": {\n        \"title\": \"ANet A8 job færdig\",\n        \"message\": \"Jobbet '\" + msg.data.old_state.attributes.job + \"' er færdig.\",\n        \"data\": {\n            \"url\": \"https://cnc.trab.dk/#!/printer/Anet_A8_3D_Printer/print\"\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":100,"wires":[["47617e01.6576f","b1e99ff.39a006"]]},{"id":"f1883eda.7f867","type":"comment","z":"3f07287f.dc1d48","name":"Notify when print is done","info":"","x":150,"y":60,"wires":[]},{"id":"b84153e4.ff074","type":"server-state-changed","z":"379850dc.1ca32","name":"10 minuters lys","server":"76ca0172.30ea9","entityidfilter":"input_boolean.courtyard_ten","entityidfiltertype":"substring","outputinitially":true,"haltifstate":"off","outputs":1,"x":120,"y":1780,"wires":[["60770137.c5625","c7de6476.81d738"]]},{"id":"60770137.c5625","type":"api-call-service","z":"379850dc.1ca32","name":"Turn On Light","server":"76ca0172.30ea9","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.gardsplads\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":320,"y":1780,"wires":[["52b184dc.290d3c"]]},{"id":"52b184dc.290d3c","type":"stoptimer","z":"379850dc.1ca32","duration":"10","units":"Minute","payloadtype":"num","payloadval":"0","name":"10 Minutes Timer","x":550,"y":1780,"wires":[["3449b80e.0e4e28"],[]]},{"id":"c7de6476.81d738","type":"api-call-service","z":"379850dc.1ca32","name":"Set switch off","server":"76ca0172.30ea9","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.courtyard_ten\"}","mergecontext":"","x":310,"y":1840,"wires":[[]]},{"id":"a01ba247.35643","type":"link in","z":"379850dc.1ca32","name":"Link Courtyard Timer","links":["9965b853.949388","1fa83a33.7595b6","3c86de7e.0bd102","34f7382e.1a0b18"],"x":155,"y":1840,"wires":[["60770137.c5625"]]},{"id":"8d70c26c.030b2","type":"switch","z":"ea74e623.011278","name":"Open/Closed?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":600,"y":320,"wires":[["cf6183b3.4b1cc"],["1f0d4d72.0ed953"]]},{"id":"1f0d4d72.0ed953","type":"api-call-service","z":"ea74e623.011278","name":"Luk Rullegardin 30%, Glasparti Venstre","server":"76ca0172.30ea9","service_domain":"cover","service":"set_cover_position","data":"{\"entity_id\":\"cover.glasparti_venstre\",\"position\":\"70\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":880,"y":340,"wires":[[]]},{"id":"c2dae8a.cfc5418","type":"inject","z":"ea74e623.011278","name":"Manual Close","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":220,"wires":[["13cfe730.3edb49","fd4b256d.467b28","2267351e.85fd3a","db6d521c.4af23","98df1a74.5fc468","667f7419.24089c"]]},{"id":"5d502138.0863e","type":"stoptimer","z":"eebcb194.7d292","duration":"2","units":"Second","payloadtype":"num","payloadval":"0","name":"Delay","x":930,"y":120,"wires":[["ec4ea11d.0e74d"],[]]},{"id":"cdf5dae3.706c08","type":"stoptimer","z":"eebcb194.7d292","duration":"2","units":"Second","payloadtype":"num","payloadval":"0","name":"Delay","x":930,"y":60,"wires":[["aa7669f1.2e6c38"],[]]},{"id":"af6a0665.b8fe58","type":"stoptimer","z":"eebcb194.7d292","duration":"2","units":"Second","payloadtype":"num","payloadval":"0","name":"Delay","x":930,"y":180,"wires":[["be9fa301.dbb71"],[]]},{"id":"18d89013.7538c","type":"stoptimer","z":"eebcb194.7d292","duration":"2","units":"Second","payloadtype":"num","payloadval":"0","name":"Delay","x":930,"y":240,"wires":[["9ff1d477.f16dd8"],[]]},{"id":"4b4692c2.fc35ac","type":"stoptimer","z":"eebcb194.7d292","duration":"2","units":"Second","payloadtype":"num","payloadval":"0","name":"Delay","x":930,"y":300,"wires":[["bb1961d4.71109"],[]]},{"id":"caab3ac.1cd54c8","type":"stoptimer","z":"eebcb194.7d292","duration":"2","units":"Second","payloadtype":"num","payloadval":"0","name":"Delay","x":930,"y":360,"wires":[["d22af3ae.1ead"],[]]},{"id":"1d568bb0.516964","type":"stoptimer","z":"eebcb194.7d292","duration":"2","units":"Second","payloadtype":"num","payloadval":"0","name":"Delay","x":930,"y":420,"wires":[["fabd963e.7f75d8"],[]]},{"id":"53064b87.16dfd4","type":"stoptimer","z":"eebcb194.7d292","duration":"2","units":"Second","payloadtype":"num","payloadval":"0","name":"Delay","x":930,"y":480,"wires":[["961ccfe2.a6b4a"],[]]},{"id":"8bb8241f.950c78","type":"stoptimer","z":"eebcb194.7d292","duration":"2","units":"Second","payloadtype":"num","payloadval":"0","name":"Delay","x":930,"y":540,"wires":[["7cde0c39.5568d4"],[]]},{"id":"7ad2fd80.ba0844","type":"stoptimer","z":"eebcb194.7d292","duration":"2","units":"Second","payloadtype":"num","payloadval":"0","name":"Delay","x":930,"y":600,"wires":[["6a754f02.4e3f9"],[]]},{"id":"107c5d08.999973","type":"debug","z":"3f07287f.dc1d48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","x":250,"y":160,"wires":[]},{"id":"bfe6d867.b648f8","type":"weekday","z":"379850dc.1ca32","name":"","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":false,"sat":false,"x":740,"y":360,"wires":[["3f5bf8d3.862428"],["72a0f3dc.5b722c"]]},{"id":"3f5bf8d3.862428","type":"time-range-switch","z":"379850dc.1ca32","name":"Only at nights","lat":"55.995212","lon":"9.880392","startTime":"06:00","endTime":"22:00","startOffset":"0","endOffset":"0","x":920,"y":360,"wires":[["c663464.a14e0b8"],["ddce06b8.b38938"]]},{"id":"c663464.a14e0b8","type":"stoptimer","z":"379850dc.1ca32","duration":"15","units":"Minute","payloadtype":"num","payloadval":"0","name":"15 Minutes Timer","x":1150,"y":360,"wires":[["17c04b0c.174bf5"],[]]},{"id":"ddce06b8.b38938","type":"stoptimer","z":"379850dc.1ca32","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"5 Minutes Timer","x":1140,"y":420,"wires":[["17c04b0c.174bf5"],[]]},{"id":"17c04b0c.174bf5","type":"api-call-service","z":"379850dc.1ca32","name":"Turn Off Kitchen Light","server":"76ca0172.30ea9","service_domain":"light","service":"turn_off","data":"{ \"entity_id\": \"light.kitchen\" }","mergecontext":"","x":1400,"y":420,"wires":[[]]},{"id":"72a0f3dc.5b722c","type":"stoptimer","z":"379850dc.1ca32","duration":"15","units":"Minute","payloadtype":"num","payloadval":"0","name":"15 Minutes Timer","x":1150,"y":480,"wires":[["17c04b0c.174bf5"],[]]},{"id":"5b3a1b9d.54b1e4","type":"weekday","z":"379850dc.1ca32","name":"","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":false,"sat":false,"x":1480,"y":740,"wires":[["9f3f0fbd.23ef"],["e57f53a6.38984"]]},{"id":"9f3f0fbd.23ef","type":"time-range-switch","z":"379850dc.1ca32","name":"Only at nights","lat":"55.995212","lon":"9.880392","startTime":"06:00","endTime":"22:00","startOffset":"0","endOffset":"0","x":1640,"y":720,"wires":[["c9a29691.98f138"],["a30a5336.96e47"]]},{"id":"e57f53a6.38984","type":"stoptimer","z":"379850dc.1ca32","duration":"10","units":"Minute","payloadtype":"num","payloadval":"0","name":"10 Minutes Timer","x":1870,"y":840,"wires":[["4597bd23.53cf64","1338a944.0443e7"],[]]},{"id":"a30a5336.96e47","type":"stoptimer","z":"379850dc.1ca32","duration":"3","units":"Minute","payloadtype":"num","payloadval":"0","name":"3 Minutes Timer","x":1860,"y":780,"wires":[["2280b089.c005d","9d238640.d8c0c8"],[]]},{"id":"c9a29691.98f138","type":"stoptimer","z":"379850dc.1ca32","duration":"10","units":"Minute","payloadtype":"num","payloadval":"0","name":"10 Minutes Timer","x":1870,"y":720,"wires":[["4597bd23.53cf64","1338a944.0443e7"],[]]},{"id":"8516e8d1.f66338","type":"api-call-service","z":"379850dc.1ca32","name":"Turn Off Light","server":"76ca0172.30ea9","service_domain":"light","service":"turn_off","data":"","render_data":false,"mergecontext":"","x":2280,"y":780,"wires":[[]]},{"id":"4597bd23.53cf64","type":"function","z":"379850dc.1ca32","name":"Set Payload","func":"msg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"light.fyr1\",\n        \"transition\": 60\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":2070,"y":720,"wires":[["8516e8d1.f66338"]]},{"id":"2280b089.c005d","type":"function","z":"379850dc.1ca32","name":"Set Payload","func":"msg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"light.fyr1\",\n        \"transition\": 30\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":2070,"y":760,"wires":[["8516e8d1.f66338"]]},{"id":"12bbb60c.842dda","type":"comment","z":"9eb49d26.9483b","name":"Weeknumber","info":"","x":90,"y":40,"wires":[]},{"id":"ad8905e3.7268c8","type":"inject","z":"9eb49d26.9483b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"01 00 * * 1","once":false,"onceDelay":0.1,"x":110,"y":100,"wires":[["65d9d7.7d4c3628"]]},{"id":"5563f843.a322c8","type":"debug","z":"9eb49d26.9483b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":470,"y":260,"wires":[]},{"id":"65d9d7.7d4c3628","type":"moment","z":"9eb49d26.9483b","name":"Get weeknumber","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Copenhagen","adjAmount":0,"adjType":"days","adjDir":"add","format":"w","locale":"da_dk","output":"payload","outputType":"msg","outTz":"Europe/Copenhagen","x":290,"y":100,"wires":[["15406017.5af22"]]},{"id":"15406017.5af22","type":"mqtt out","z":"9eb49d26.9483b","name":"Set Sensor","topic":"sensor/weeknumber","qos":"0","retain":"true","broker":"f9f1082f.f35368","x":470,"y":100,"wires":[]},{"id":"bff54ab4.4b8578","type":"inject","z":"9eb49d26.9483b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":260,"wires":[["cde5145.851aae8"]]},{"id":"cde5145.851aae8","type":"moment","z":"9eb49d26.9483b","name":"","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Copenhagen","adjAmount":0,"adjType":"days","adjDir":"add","format":"calendar(next wednesday)","locale":"da_dk","output":"payload","outputType":"msg","outTz":"Europe/Copenhagen","x":300,"y":260,"wires":[["5563f843.a322c8"]]},{"id":"6395d9a3.9dd0b8","type":"server-events","z":"fb4af5e0.49ea88","name":"IFTTT Input","server":"76ca0172.30ea9","event_type":"ifttt_webhook_received","x":90,"y":100,"wires":[["3cae4ea8.dfd7a2"]]},{"id":"3cae4ea8.dfd7a2","type":"switch","z":"fb4af5e0.49ea88","name":"Is light_flow?","property":"payload.event.action","propertyType":"msg","rules":[{"t":"eq","v":"light_flow","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":100,"wires":[["1efee684.6bbd49"]]},{"id":"1efee684.6bbd49","type":"switch","z":"fb4af5e0.49ea88","name":"Which flow?","property":"payload.event.flow","propertyType":"msg","rules":[{"t":"eq","v":"courtyard_ten","vt":"str"},{"t":"eq","v":"location_courtyard","vt":"str"},{"t":"eq","v":"christian_loft","vt":"str"},{"t":"eq","v":"christian_bord","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":430,"y":100,"wires":[["34f7382e.1a0b18"],["14ada57.84d905b"],["deccd0dc.62e42"],["5d5923c1.c544cc"]]},{"id":"34f7382e.1a0b18","type":"link out","z":"fb4af5e0.49ea88","name":"","links":["a01ba247.35643"],"x":795,"y":60,"wires":[]},{"id":"14ada57.84d905b","type":"time-range-switch","z":"fb4af5e0.49ea88","name":"Only at nights","lat":"55.995212","lon":"9.880392","startTime":"sunsetStart","endTime":"sunriseEnd","startOffset":"0","endOffset":"0","x":660,"y":100,"wires":[["34f7382e.1a0b18"],[]]},{"id":"2ce1a6f.e4f775a","type":"comment","z":"fb4af5e0.49ea88","name":"IFTTT Light Flows","info":"","x":130,"y":40,"wires":[]},{"id":"5d5923c1.c544cc","type":"api-call-service","z":"fb4af5e0.49ea88","name":"Christian Bord","server":"76ca0172.30ea9","service_domain":"light","service":"toggle","data":"{\"entity_id\":\"light.christian_led_strip\"}","render_data":false,"mergecontext":"","x":660,"y":220,"wires":[[]]},{"id":"726ccae6.32d074","type":"server-events","z":"fb4af5e0.49ea88","name":"IFTTT Input","server":"76ca0172.30ea9","event_type":"ifttt_webhook_received","x":90,"y":640,"wires":[["be5f2d21.e206"]]},{"id":"be5f2d21.e206","type":"switch","z":"fb4af5e0.49ea88","name":"Is heat_flow?","property":"payload.event.action","propertyType":"msg","rules":[{"t":"eq","v":"heat_flow","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":640,"wires":[["b0b634f9.5ab3d8"]]},{"id":"b0b634f9.5ab3d8","type":"switch","z":"fb4af5e0.49ea88","name":"Which flow?","property":"payload.event.flow","propertyType":"msg","rules":[{"t":"eq","v":"all_on","vt":"str"},{"t":"eq","v":"all_off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":640,"wires":[["c84c7f8d.82759"],["ddd4368.ee507c8"]]},{"id":"c84c7f8d.82759","type":"link out","z":"fb4af5e0.49ea88","name":"","links":["82f8b00a.ec03e"],"x":595,"y":620,"wires":[]},{"id":"b00aae18.39522","type":"comment","z":"fb4af5e0.49ea88","name":"IFTTT Varmestyring","info":"","x":130,"y":580,"wires":[]},{"id":"3e81004e.e6344","type":"link in","z":"eebcb194.7d292","name":"All_Off","links":["ddd4368.ee507c8","67b66544.4572bc"],"x":135,"y":1620,"wires":[["f918dc15.564eb"]]},{"id":"82f8b00a.ec03e","type":"link in","z":"eebcb194.7d292","name":"All_On","links":["c84c7f8d.82759"],"x":135,"y":1560,"wires":[["44cd39ce.82be28"]]},{"id":"ddd4368.ee507c8","type":"link out","z":"fb4af5e0.49ea88","name":"","links":["3e81004e.e6344"],"x":595,"y":660,"wires":[]},{"id":"f918dc15.564eb","type":"api-call-service","z":"eebcb194.7d292","name":"Set All Out On","server":"76ca0172.30ea9","service_domain":"input_boolean","service":"turn_on","data":"{\"entity_id\":\"input_boolean.heat_control_out\"}","render_data":false,"mergecontext":"","x":260,"y":1620,"wires":[[]]},{"id":"44cd39ce.82be28","type":"api-call-service","z":"eebcb194.7d292","name":"Set All Out Off","server":"76ca0172.30ea9","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.heat_control_out\"}","render_data":false,"mergecontext":"","x":260,"y":1560,"wires":[[]]},{"id":"4f233165.10f1a","type":"weekday","z":"eebcb194.7d292","name":"","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":false,"sat":false,"x":900,"y":720,"wires":[["b58375d1.4892a8"],["52f28596.dc724c"]]},{"id":"52f28596.dc724c","type":"api-current-state","z":"eebcb194.7d292","name":"Get Eco Start Time Weekends","server":"76ca0172.30ea9","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_datetime.heat_eco_start_weekend","state_type":"str","override_payload":true,"override_data":true,"x":1130,"y":760,"wires":[["784affd0.3db76"]]},{"id":"517b81d1.202bc","type":"weekday","z":"eebcb194.7d292","name":"","sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"x":900,"y":1300,"wires":[["76b0a406.ad761c"],["8f14e0d.109b42"]]},{"id":"8f14e0d.109b42","type":"api-current-state","z":"eebcb194.7d292","name":"Get Eco End Time Weekend","server":"76ca0172.30ea9","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_datetime.heat_eco_end_weekend","state_type":"str","override_payload":true,"override_data":true,"x":1140,"y":1360,"wires":[["94508a3b.4cd1b8"]]},{"id":"aaa7525e.f48b1","type":"inject","z":"3f07287f.dc1d48","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 18 * * *","once":false,"onceDelay":0.1,"x":130,"y":260,"wires":[["2e7cc9a8.845296"]]},{"id":"d93cea12.aad248","type":"switch","z":"3f07287f.dc1d48","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":260,"wires":[["b1e99ff.39a006","47617e01.6576f"]]},{"id":"4fec5828.feb318","type":"function","z":"cf813d83.034c","name":"On","func":"msg.url = \"http://192.168.1.101:3344/printer/api/?a=runExternalCommand&data={%22id%22:%223%22}&apikey=660fe01c-5807-4959-a173-a8ef28bc03b9\";\nmsg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":80,"wires":[["b1e66010.5f693"]]},{"id":"f602c33e.248bb","type":"function","z":"cf813d83.034c","name":"Off","func":"msg.url = \"http://192.168.1.101:3344/printer/api/?a=runExternalCommand&data={%22id%22:%222%22}&apikey=660fe01c-5807-4959-a173-a8ef28bc03b9\";\nmsg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":120,"wires":[["b1e66010.5f693"]]},{"id":"b1e66010.5f693","type":"http request","z":"cf813d83.034c","name":"","method":"GET","ret":"txt","url":"","tls":"","x":650,"y":100,"wires":[[]]},{"id":"d7d8f8a3.6a8298","type":"link in","z":"cf813d83.034c","name":"Turn On Anet","links":[],"x":55,"y":80,"wires":[["4fec5828.feb318"]]},{"id":"d6bab2d5.efea9","type":"link in","z":"cf813d83.034c","name":"Turn Off Anet","links":["1f7fd0dd.4658ef"],"x":55,"y":120,"wires":[["dd075e65.8e4a9"]]},{"id":"92b2852b.9b4a28","type":"comment","z":"cf813d83.034c","name":"ANet A8 Power","info":"","x":120,"y":40,"wires":[]},{"id":"dd075e65.8e4a9","type":"stoptimer","z":"cf813d83.034c","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":360,"y":120,"wires":[["f602c33e.248bb"],[]]},{"id":"3d60905c.6fa51","type":"link in","z":"cf813d83.034c","name":"ANet A8 Stop Timer","links":["74afc8f0.dd94b8"],"x":55,"y":160,"wires":[["b600684a.546648"]]},{"id":"b600684a.546648","type":"change","z":"cf813d83.034c","name":"Stop Timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":160,"wires":[["dd075e65.8e4a9"]]},{"id":"1f7fd0dd.4658ef","type":"link out","z":"3f07287f.dc1d48","name":"","links":["d6bab2d5.efea9"],"x":615,"y":140,"wires":[]},{"id":"74afc8f0.dd94b8","type":"link out","z":"3f07287f.dc1d48","name":"","links":["3d60905c.6fa51"],"x":395,"y":140,"wires":[]},{"id":"c095b790.904bc8","type":"comment","z":"3f07287f.dc1d48","name":"Notify when battery is low","info":"","x":150,"y":220,"wires":[]},{"id":"bd257f58.a3105","type":"comment","z":"3f07287f.dc1d48","name":"Mortens devices","info":"","x":920,"y":80,"wires":[]},{"id":"deccd0dc.62e42","type":"api-call-service","z":"fb4af5e0.49ea88","name":"Christian Loft","server":"76ca0172.30ea9","service_domain":"light","service":"toggle","data":"{\"entity_id\":\"light.christian_loft\"}","render_data":false,"mergecontext":"","x":650,"y":160,"wires":[[]]},{"id":"78f22efb.34a87","type":"function","z":"8a641acf.d79398","name":"Set Payload","func":"var entity;\nif (msg.topic == \"input_boolean.police_livingroom\") {\n    entity = \"light.sofabord\"\n} else if (msg.topic == \"input_boolean.police_diningroom\") {\n    entity = \"light.spisebord\"\n} else if (msg.topic == \"input_boolean.police_bryggers\") {\n    entity = \"light.fyrrum\"\n}\n\nmsg.payload = {\n    \"data\": {\n        \"entity_id\": entity\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":560,"wires":[["58cd8a1b.398534"]]},{"id":"72eefd58.941ab4","type":"debug","z":"8a641acf.d79398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":910,"y":100,"wires":[]},{"id":"d87547b8.8aeda8","type":"function","z":"8a641acf.d79398","name":"Set Payload","func":"msg.payload = \"on\"\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":520,"wires":[[]]},{"id":"346d823b.5ae07e","type":"api-current-state","z":"8a641acf.d79398","name":"Stue","server":"76ca0172.30ea9","outputs":1,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_boolean.police_livingroom","state_type":"str","override_payload":false,"override_data":false,"x":390,"y":160,"wires":[["4f7929d7.eebfe8"]]},{"id":"8ec0b4d2.7deab8","type":"api-current-state","z":"8a641acf.d79398","name":"Stue","server":"76ca0172.30ea9","outputs":1,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_boolean.police_diningroom","state_type":"str","override_payload":false,"override_data":false,"x":390,"y":220,"wires":[["4f7929d7.eebfe8"]]},{"id":"51693c65.eeb5b4","type":"server-state-changed","z":"379850dc.1ca32","name":"Dining Light State","server":"76ca0172.30ea9","entityidfilter":"light.spisebord","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":130,"y":2040,"wires":[["b230e091.8cebd"]]},{"id":"b230e091.8cebd","type":"switch","z":"379850dc.1ca32","name":"Switch State","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":2040,"wires":[["b5aab408.9694b8","c05af105.d119e","d11eb54a.0c7658"],["81201ef9.88325","37f74e96.61b022"]]},{"id":"46b42d4c.944c44","type":"api-call-service","z":"379850dc.1ca32","name":"Turn On Diningtable","server":"76ca0172.30ea9","service_domain":"light","service":"turn_on","data":"","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":880,"y":2020,"wires":[[]]},{"id":"f738de07.819a3","type":"comment","z":"379850dc.1ca32","name":"Spisestue lys","info":"","x":90,"y":2000,"wires":[]},{"id":"b5aab408.9694b8","type":"time-range-switch","z":"379850dc.1ca32","name":"21-24","lat":"55.995212","lon":"9.880392","startTime":"21:00","endTime":"23:59","startOffset":"0","endOffset":"0","x":510,"y":2120,"wires":[["1c0a9c1b.8196e4","3a883e4a.d71932"],[]]},{"id":"c05af105.d119e","type":"time-range-switch","z":"379850dc.1ca32","name":"00-08","lat":"55.995212","lon":"9.880392","startTime":"00:00","endTime":"07:59","startOffset":"0","endOffset":"0","x":510,"y":2000,"wires":[["bbf1c75d.72cf28"],[]]},{"id":"d11eb54a.0c7658","type":"time-range-switch","z":"379850dc.1ca32","name":"08-21","lat":"55.995212","lon":"9.880392","startTime":"08:00","endTime":"20:59","startOffset":"0","endOffset":"0","x":510,"y":2060,"wires":[["96c3189.e7906e8","3a883e4a.d71932"],[]]},{"id":"1c0a9c1b.8196e4","type":"function","z":"379850dc.1ca32","name":"Set Payload","func":"msg.payload = {\n    \"data\": {\n        \"entity_id\": \"light.spisebord\",\n        \"brightness\":200,\n        \"rgb_color\":[255,217,146]\n    }\n}\n        \nreturn msg;","outputs":1,"noerr":0,"x":650,"y":2120,"wires":[["46b42d4c.944c44"]]},{"id":"96c3189.e7906e8","type":"function","z":"379850dc.1ca32","name":"Set Payload","func":"msg.payload = {\n    \"data\": {\n        \"entity_id\": \"light.spisebord\",\n        \"brightness\":254,\n        \"rgb_color\":[255,217,146]\n    }\n}\n        \nreturn msg;","outputs":1,"noerr":0,"x":650,"y":2060,"wires":[["46b42d4c.944c44"]]},{"id":"bbf1c75d.72cf28","type":"function","z":"379850dc.1ca32","name":"Set Payload","func":"msg.payload = {\n    \"data\": {\n        \"entity_id\": \"light.spisebord\",\n        \"brightness\":100,\n        \"rgb_color\":[255,217,146]\n    }\n}\n        \nreturn msg;","outputs":1,"noerr":0,"x":650,"y":2000,"wires":[["46b42d4c.944c44"]]},{"id":"37f74e96.61b022","type":"api-call-service","z":"379850dc.1ca32","name":"Turn Off Cupboard","server":"76ca0172.30ea9","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.diningroom_cupboard\"}","render_data":false,"mergecontext":"","x":550,"y":2240,"wires":[[]]},{"id":"81201ef9.88325","type":"api-call-service","z":"379850dc.1ca32","name":"Turn Off Diningtable","server":"76ca0172.30ea9","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.spisebord\"}","render_data":false,"mergecontext":"","x":560,"y":2180,"wires":[[]]},{"id":"5b7749b5.8abf78","type":"server-state-changed","z":"379850dc.1ca32","name":"Bedroom Light State","server":"76ca0172.30ea9","entityidfilter":"group.bedroom","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":130,"y":2400,"wires":[["7d835a2.2d5f7a4"]]},{"id":"7d835a2.2d5f7a4","type":"switch","z":"379850dc.1ca32","name":"Switch State","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":2400,"wires":[["cfb18648.b12858","88426fe9.46c61"],["1541f58c.1eb4da"]]},{"id":"97304ac.af3acb8","type":"api-call-service","z":"379850dc.1ca32","name":"Turn On Bedroom","server":"76ca0172.30ea9","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.bedroom_group\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":870,"y":2400,"wires":[[]]},{"id":"5865ccae.459014","type":"comment","z":"379850dc.1ca32","name":"Soveværelse lys","info":"","x":100,"y":2360,"wires":[]},{"id":"cfb18648.b12858","type":"time-range-switch","z":"379850dc.1ca32","name":"00-08","lat":"55.995212","lon":"9.880392","startTime":"00:00","endTime":"07:59","startOffset":"0","endOffset":"0","x":510,"y":2380,"wires":[["328bb586.8b1d6a"],[]]},{"id":"88426fe9.46c61","type":"time-range-switch","z":"379850dc.1ca32","name":"08-24","lat":"55.995212","lon":"9.880392","startTime":"08:00","endTime":"23:59","startOffset":"0","endOffset":"0","x":510,"y":2440,"wires":[["5b9468f0.d339e8"],[]]},{"id":"5b9468f0.d339e8","type":"function","z":"379850dc.1ca32","name":"Set Payload","func":"msg.payload = {\n    \"data\": {\n        \"brightness\": 254,\n        \"color_temp\": 150,\n        \"rgb_color\":[254,254,254]\n    }\n}\n        \nreturn msg;","outputs":1,"noerr":0,"x":650,"y":2440,"wires":[["97304ac.af3acb8"]]},{"id":"328bb586.8b1d6a","type":"function","z":"379850dc.1ca32","name":"Set Payload","func":"msg.payload = {\n    \"data\": {\n        \"brightness\": 80,\n        \"color_temp\": 150,\n        \"rgb_color\": [254,254,254]\n    }\n}\n        \nreturn msg;","outputs":1,"noerr":0,"x":650,"y":2380,"wires":[["97304ac.af3acb8"]]},{"id":"1541f58c.1eb4da","type":"api-call-service","z":"379850dc.1ca32","name":"Turn Off Bedroom","server":"76ca0172.30ea9","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.bedroom_group\"}","render_data":false,"mergecontext":"","x":550,"y":2500,"wires":[[]]},{"id":"3a883e4a.d71932","type":"api-call-service","z":"379850dc.1ca32","name":"Turn Off Cupboard","server":"76ca0172.30ea9","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.diningroom_cupboard\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":870,"y":2080,"wires":[[]]},{"id":"67828e96.2d603","type":"api-current-state","z":"eebcb194.7d292","name":"Get Holiday State","server":"76ca0172.30ea9","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_boolean.heat_control_holidays","state_type":"str","override_payload":true,"override_data":true,"x":530,"y":740,"wires":[["ae3e83c8.9348"]]},{"id":"ae3e83c8.9348","type":"switch","z":"eebcb194.7d292","name":"Holiday On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":720,"y":740,"wires":[["4f233165.10f1a"],["52f28596.dc724c"]]},{"id":"5f5337d3.911a68","type":"api-current-state","z":"eebcb194.7d292","name":"Get Holiday State","server":"76ca0172.30ea9","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_boolean.heat_control_holidays","state_type":"str","override_payload":true,"override_data":true,"x":530,"y":1320,"wires":[["65306ff9.6b9c5"]]},{"id":"65306ff9.6b9c5","type":"switch","z":"eebcb194.7d292","name":"Holiday On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":720,"y":1320,"wires":[["517b81d1.202bc"],["8f14e0d.109b42"]]},{"id":"46ddcb2f.a81914","type":"inject","z":"c361898a.63fee8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":380,"wires":[["3e8bedf3.733772"]]},{"id":"18588d97.29c212","type":"inject","z":"c361898a.63fee8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":180,"wires":[["8cfb7046.e2625"]]},{"id":"5f82db5c.e53bb4","type":"api-call-service","z":"c361898a.63fee8","name":"TV","server":"76ca0172.30ea9","service_domain":"switch","service":"broadlink_send_packet_192_168_1_220","data":"{\"packet\":[\"JgBYAAABKpQSExISExITEhITEhMSEhM3EhMSExISExITNxI3EzcSExI3EzcSExI3ExITEhI4EjcTEhITEjcTEhI4EjcTEhMSEAAFuAABKEoQAAxVAAEoShAADQU=\"]}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":670,"y":460,"wires":[["a32558f4.c47798"]]},{"id":"5fc8208a.93a62","type":"ping","z":"c361898a.63fee8","name":"Stue TV","host":"192.168.1.105","timer":"5","x":80,"y":280,"wires":[["d7a003df.25633"]]},{"id":"d7a003df.25633","type":"switch","z":"c361898a.63fee8","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":280,"wires":[["92dab5f2.68dfa8"],["be69169c.9bd238"]]},{"id":"a9c6aa1d.2756c8","type":"debug","z":"c361898a.63fee8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":490,"y":440,"wires":[]},{"id":"8cfb7046.e2625","type":"change","z":"c361898a.63fee8","name":"","rules":[{"t":"set","p":"tv","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":260,"wires":[["a9c6aa1d.2756c8","2cb75d1c.16ba22"]]},{"id":"be69169c.9bd238","type":"switch","z":"c361898a.63fee8","name":"","property":"tv","propertyType":"flow","rules":[{"t":"false"},{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":370,"y":320,"wires":[["3e8bedf3.733772"],[],["3e8bedf3.733772"]]},{"id":"3e8bedf3.733772","type":"change","z":"c361898a.63fee8","name":"","rules":[{"t":"set","p":"tv","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":300,"wires":[["99c387f3.4976d8","a9c6aa1d.2756c8"]]},{"id":"92dab5f2.68dfa8","type":"switch","z":"c361898a.63fee8","name":"","property":"tv","propertyType":"flow","rules":[{"t":"true"},{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":370,"y":240,"wires":[["8cfb7046.e2625"],[],["8cfb7046.e2625"]]},{"id":"99c387f3.4976d8","type":"change","z":"c361898a.63fee8","name":"Set Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"reset","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":300,"wires":[["ec779f9c.aac3e"]]},{"id":"badcb300.b884f","type":"debug","z":"c361898a.63fee8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":190,"y":440,"wires":[]},{"id":"ec779f9c.aac3e","type":"counter","z":"c361898a.63fee8","name":"","init":"0","step":"1","lower":"0","upper":"50","mode":"increment","outputs":"1","x":680,"y":340,"wires":[["27e6ed29.0f6c92"]]},{"id":"649ee115.ac846","type":"switch","z":"c361898a.63fee8","name":"","property":"countUpperLimitReached","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":420,"wires":[[],["5f82db5c.e53bb4"]]},{"id":"27e6ed29.0f6c92","type":"change","z":"c361898a.63fee8","name":"Remove Reset","rules":[{"t":"delete","p":"reset","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":380,"wires":[["649ee115.ac846"]]},{"id":"2cb75d1c.16ba22","type":"change","z":"c361898a.63fee8","name":"Set Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"reset","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":200,"wires":[["77b53a46.3d4424"]]},{"id":"77b53a46.3d4424","type":"counter","z":"c361898a.63fee8","name":"","init":"0","step":"1","lower":"0","upper":"50","mode":"increment","outputs":"1","x":900,"y":240,"wires":[["7d01f6d7.2706f8"]]},{"id":"61e6c3e0.05adfc","type":"switch","z":"c361898a.63fee8","name":"","property":"countUpperLimitReached","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":890,"y":320,"wires":[[],["bbfeff51.4fa68"]]},{"id":"7d01f6d7.2706f8","type":"change","z":"c361898a.63fee8","name":"Remove Reset","rules":[{"t":"delete","p":"reset","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":280,"wires":[["61e6c3e0.05adfc"]]},{"id":"bbfeff51.4fa68","type":"api-call-service","z":"c361898a.63fee8","name":"D-In","server":"76ca0172.30ea9","service_domain":"switch","service":"broadlink_send_packet_192_168_1_220","data":"{\"packet\":[\"JgBYAAABJ5USExITEhITEhEVEBUQFBE4ERQRFRETERMRORE4EjgSExI4EhMRExM3EjcSOBI3EjgSFA85EjgSExITERQPFhETEAAFuAABJkwQAAxVAAEnSxAADQU=\"]}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":890,"y":360,"wires":[["eb53dc56.b4fc6"]]},{"id":"667f7419.24089c","type":"api-call-service","z":"ea74e623.011278","name":"Luk Rullegardin, Stue Vindue","server":"76ca0172.30ea9","service_domain":"cover","service":"close_cover","data":"{\"entity_id\":\"cover.stue_vindue\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":460,"y":500,"wires":[[]]},{"id":"e359f683.b246f8","type":"api-call-service","z":"ea74e623.011278","name":"Åbn Rullegardin, Stue Vindue","server":"76ca0172.30ea9","service_domain":"cover","service":"open_cover","data":"{\"entity_id\":\"cover.stue_vindue\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1320,"y":460,"wires":[[]]},{"id":"3fcec871.32c508","type":"inject","z":"ea74e623.011278","name":"Manual Open","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1050,"y":240,"wires":[["96789fc0.234dc","af701789.f4bae8","dbff5255.224fa","a0dad84f.119b88","e9d50841.eb19b8","e359f683.b246f8"]]},{"id":"b4785a67.deb818","type":"server-events","z":"fb4af5e0.49ea88","name":"IFTTT Input","server":"76ca0172.30ea9","event_type":"ifttt_webhook_received","x":90,"y":900,"wires":[["7797fa2a.11ebe4"]]},{"id":"7797fa2a.11ebe4","type":"switch","z":"fb4af5e0.49ea88","name":"Is cover_flow?","property":"payload.event.action","propertyType":"msg","rules":[{"t":"eq","v":"cover_flow","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":900,"wires":[["d7448e29.7f5a8"]]},{"id":"d7448e29.7f5a8","type":"switch","z":"fb4af5e0.49ea88","name":"Which flow?","property":"payload.event.flow","propertyType":"msg","rules":[{"t":"eq","v":"close_livingroom_window","vt":"str"},{"t":"eq","v":"close_livingroom_all","vt":"str"},{"t":"eq","v":"close_livingroom_garden","vt":"str"},{"t":"eq","v":"close_diningroom_window","vt":"str"},{"t":"eq","v":"close_diningroom_door","vt":"str"},{"t":"eq","v":"open_livingroom_window","vt":"str"},{"t":"eq","v":"open_livingroom_all","vt":"str"},{"t":"eq","v":"open_livingroom_garden","vt":"str"},{"t":"eq","v":"open_diningroom_window","vt":"str"},{"t":"eq","v":"open_diningroom_door","vt":"str"}],"checkall":"true","repair":false,"outputs":10,"x":450,"y":960,"wires":[["c11b6cc3.cf75c"],["ba92a397.9a85d"],["83f9c242.7bf5e"],["9b349cfe.52926"],["49e4aa68.9d56b4"],["cbc293e1.2d88c"],["2fc91cd.0a127e4"],["f2fdfa77.943b88"],["c6f5166e.2116b8"],["277b0627.c0650a"]]},{"id":"c11b6cc3.cf75c","type":"link out","z":"fb4af5e0.49ea88","name":"","links":["404a2983.a9d528"],"x":595,"y":860,"wires":[]},{"id":"77bfe23.40b3a1c","type":"comment","z":"fb4af5e0.49ea88","name":"IFTTT Gardin styring","info":"","x":130,"y":840,"wires":[]},{"id":"404a2983.a9d528","type":"link in","z":"ea74e623.011278","name":"Close Livingroom Window","links":["c11b6cc3.cf75c"],"x":175,"y":500,"wires":[["667f7419.24089c"]]},{"id":"a43627a1.2b8038","type":"link in","z":"ea74e623.011278","name":"Close All Covers In Livingroom","links":["ba92a397.9a85d"],"x":175,"y":440,"wires":[["13cfe730.3edb49","db6d521c.4af23","98df1a74.5fc468","667f7419.24089c"]]},{"id":"ba92a397.9a85d","type":"link out","z":"fb4af5e0.49ea88","name":"","links":["a43627a1.2b8038"],"x":635,"y":880,"wires":[]},{"id":"34ffbe0.c5ae642","type":"link in","z":"ea74e623.011278","name":"Close Diningroom Window","links":["9b349cfe.52926"],"x":175,"y":260,"wires":[["2267351e.85fd3a"]]},{"id":"cd7b0b10.f79968","type":"link in","z":"ea74e623.011278","name":"Close Diningroom Door","links":["49e4aa68.9d56b4"],"x":175,"y":300,"wires":[["fd4b256d.467b28"]]},{"id":"4066ea52.487004","type":"link in","z":"ea74e623.011278","name":"Close Garden Faced Curtains","links":["83f9c242.7bf5e"],"x":175,"y":380,"wires":[["13cfe730.3edb49","db6d521c.4af23","98df1a74.5fc468"]]},{"id":"ab4479d3.9af238","type":"link in","z":"ea74e623.011278","name":"Open Diningroom Door","links":["277b0627.c0650a"],"x":1095,"y":280,"wires":[["96789fc0.234dc"]]},{"id":"12c72c84.2776f3","type":"link in","z":"ea74e623.011278","name":"Open Diningroom Window","links":["c6f5166e.2116b8"],"x":1095,"y":320,"wires":[["af701789.f4bae8"]]},{"id":"222a3f5a.937c8","type":"link in","z":"ea74e623.011278","name":"Open Garden Faced Curtains","links":["f2fdfa77.943b88"],"x":1095,"y":360,"wires":[["dbff5255.224fa","a0dad84f.119b88","e9d50841.eb19b8"]]},{"id":"923b7310.03fd8","type":"link in","z":"ea74e623.011278","name":"Open All Livingroom Curtains","links":["2fc91cd.0a127e4"],"x":1095,"y":400,"wires":[["dbff5255.224fa","a0dad84f.119b88","e9d50841.eb19b8","e359f683.b246f8"]]},{"id":"8464b4df.1b2168","type":"link in","z":"ea74e623.011278","name":"Open Livingroom Window","links":["cbc293e1.2d88c"],"x":1095,"y":460,"wires":[["e359f683.b246f8"]]},{"id":"83f9c242.7bf5e","type":"link out","z":"fb4af5e0.49ea88","name":"","links":["4066ea52.487004"],"x":595,"y":900,"wires":[]},{"id":"9b349cfe.52926","type":"link out","z":"fb4af5e0.49ea88","name":"","links":["34ffbe0.c5ae642"],"x":635,"y":920,"wires":[]},{"id":"49e4aa68.9d56b4","type":"link out","z":"fb4af5e0.49ea88","name":"","links":["cd7b0b10.f79968"],"x":595,"y":940,"wires":[]},{"id":"cbc293e1.2d88c","type":"link out","z":"fb4af5e0.49ea88","name":"","links":["8464b4df.1b2168"],"x":635,"y":960,"wires":[]},{"id":"2fc91cd.0a127e4","type":"link out","z":"fb4af5e0.49ea88","name":"","links":["923b7310.03fd8"],"x":595,"y":980,"wires":[]},{"id":"f2fdfa77.943b88","type":"link out","z":"fb4af5e0.49ea88","name":"","links":["222a3f5a.937c8"],"x":635,"y":1000,"wires":[]},{"id":"c6f5166e.2116b8","type":"link out","z":"fb4af5e0.49ea88","name":"","links":["12c72c84.2776f3"],"x":595,"y":1020,"wires":[]},{"id":"277b0627.c0650a","type":"link out","z":"fb4af5e0.49ea88","name":"","links":["ab4479d3.9af238"],"x":635,"y":1040,"wires":[]},{"id":"3faba85f.05d158","type":"server-state-changed","z":"19e6954.3f28a6b","name":"Gæst","server":"76ca0172.30ea9","entityidfilter":"input_boolean.presence_override","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"","halt_if_compare":"is","outputs":1,"x":110,"y":320,"wires":[["fb49442.436f4b8"]]},{"id":"fb49442.436f4b8","type":"switch","z":"19e6954.3f28a6b","name":"Guest or not","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":320,"wires":[["c22df1c2.3b28c"],["ae4c427d.ae04"]],"outputLabels":["Home","Not Home"]},{"id":"896f4786.64ffb8","type":"stoptimer","z":"379850dc.1ca32","duration":"20","units":"Second","payloadtype":"num","payloadval":"0","name":"20 sec Timer","x":710,"y":1320,"wires":[["f8d3b0be.f286"],[]]},{"id":"9e723923.3d6d48","type":"change","z":"379850dc.1ca32","name":"Set Flow Hall True","rules":[{"t":"set","p":"hall_activated","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1280,"wires":[["896f4786.64ffb8"]]},{"id":"f8d3b0be.f286","type":"change","z":"379850dc.1ca32","name":"Set Flow Hall False","rules":[{"t":"set","p":"hall_activated","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":1360,"wires":[[]]},{"id":"8f3d2f2d.7cdd6","type":"api-current-state","z":"379850dc.1ca32","name":"3D Printer Tændt?","server":"76ca0172.30ea9","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.anet_a8_3d_printer","state_type":"str","override_payload":false,"override_data":false,"x":830,"y":760,"wires":[["d5866a48.425fe8"],["588273af.e6a22c","3414419c.b45d6e"]]},{"id":"d5866a48.425fe8","type":"switch","z":"379850dc.1ca32","name":"Did Hall trigger before?","property":"hall_activated","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":720,"wires":[["3414419c.b45d6e","588273af.e6a22c"]]},{"id":"5236abd3.88f424","type":"api-current-state","z":"34897e80.661b32","name":"Bathroom","server":"76ca0172.30ea9","outputs":2,"halt_if":"off","halt_if_type":"","halt_if_compare":"is","override_topic":true,"entity_id":"input_boolean.doorbell_sound_bathroom","state_type":"str","override_payload":true,"override_data":true,"x":540,"y":200,"wires":[["2f9ea783.3243a8"],[]]},{"id":"285908ee.9fc378","type":"api-current-state","z":"34897e80.661b32","name":"Kitchen","server":"76ca0172.30ea9","outputs":2,"halt_if":"off","halt_if_type":"","halt_if_compare":"is","override_topic":true,"entity_id":"input_boolean.doorbell_sound_kitchen","state_type":"str","override_payload":true,"override_data":true,"x":540,"y":240,"wires":[["2f9ea783.3243a8"],[]]},{"id":"39b672ec.a583ce","type":"blindcontroller","z":"ea74e623.011278","name":"Test Controller","mode":"Summer","channel":"1","orientation":"160","noffset":"0","poffset":"0","top":"180","bottom":"5","depth":"200","altitudethreshold":"","increment":"5","maxopen":"0","maxclosed":"100","temperaturethreshold":"","temperaturethresholdposition":"","cloudsthreshold":"","cloudsthresholdposition":"","nightposition":"100","expiryperiod":"120","x":560,"y":1120,"wires":[["c0c92609.f14718"]]},{"id":"4a38882d.e648b8","type":"sunpos","z":"ea74e623.011278","name":"Sunpos","lon":"9.880392","lat":"55.995212","start":"sunrise","startoffset":0,"end":"sunset","endoffset":0,"x":320,"y":1120,"wires":[["39b672ec.a583ce"]]},{"id":"c0c92609.f14718","type":"debug","z":"ea74e623.011278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":790,"y":1080,"wires":[]},{"id":"dcea0496.5c1958","type":"inject","z":"ea74e623.011278","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1080,"wires":[["4a38882d.e648b8"]]},{"id":"67373e0d.65882","type":"forecastio","z":"ea74e623.011278","forecastio":"601ffd76.8f43f4","name":"","lon":"9.880392","lat":"55.995212","date":"","time":"","mode":"message","units":"auto","x":330,"y":1040,"wires":[["4a32a280.6e56ec"]]},{"id":"4a32a280.6e56ec","type":"change","z":"ea74e623.011278","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"weather","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1040,"wires":[[]]},{"id":"2e7cc9a8.845296","type":"ha-get-entities","z":"3f07287f.dc1d48","server":"76ca0172.30ea9","name":"Batt. Level","rules":[{"property":"state","logic":"lt","value":"25","valueType":"num"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":290,"y":260,"wires":[["fb074be1.4ef108"]]},{"id":"fb074be1.4ef108","type":"function","z":"3f07287f.dc1d48","name":"Filter","func":"var devLess = '';\n\nmsg.payload.forEach(function(entry) {\n    if (entry.entity_id.includes(\"sensor.battery_\")) {\n        if (entry.state > 0) {\n            devLess = devLess + entry.attributes.friendly_name + \" = \" + entry.state + \"%, \";\n        }\n    }\n});\n\nif (devLess !== '') {\n  msg.payload =  {\n        \"data\": {\n            \"title\": \"Lav batteri\",\n            \"message\": devLess,\n            \"data\": {\n                \"tag\": \"battery\"\n            }\n        }\n    }  \n} else {\n    msg.payload = '';\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":260,"wires":[["d93cea12.aad248"]]},{"id":"198fae85.da55c1","type":"cast-to-client","z":"8a641acf.d79398","name":"","url":"","contentType":"","message":"Test","language":"da","ip":"192.168.1.132","port":"","volume":"","x":410,"y":780,"wires":[[]]},{"id":"c21a76d6.c1e388","type":"inject","z":"8a641acf.d79398","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":780,"wires":[["198fae85.da55c1"]]},{"id":"a32558f4.c47798","type":"stoptimer","z":"c361898a.63fee8","duration":"200","units":"Millisecond","payloadtype":"num","payloadval":"0","name":"Delay","x":670,"y":520,"wires":[["ec779f9c.aac3e"],[]]},{"id":"eb53dc56.b4fc6","type":"stoptimer","z":"c361898a.63fee8","duration":"200","units":"Millisecond","payloadtype":"num","payloadval":"0","name":"Delay","x":890,"y":420,"wires":[["77b53a46.3d4424"],[]]},{"id":"9026264f.24f068","type":"server-events","z":"ea74e623.011278","name":"Hass Start","server":"76ca0172.30ea9","event_type":"start","x":360,"y":700,"wires":[[]]},{"id":"91d41138.46776","type":"mqtt out","z":"ea74e623.011278","name":"Terrasse","topic":"/rullegardin/terrasse/in","qos":"0","retain":"false","broker":"f9f1082f.f35368","x":580,"y":620,"wires":[]},{"id":"d7b81e19.62639","type":"change","z":"ea74e623.011278","name":"Update","rules":[{"t":"set","p":"payload","pt":"msg","to":"(update)","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":780,"wires":[["91d41138.46776","26d60a14.0e19b6","d70c3de.fd2e1c","1cf9b9c.fb52346","e51bf7d7.8b22b8","a0cbb554.360b08"]]},{"id":"26d60a14.0e19b6","type":"mqtt out","z":"ea74e623.011278","name":"Spisestue","topic":"/rullegardin/spisestue/in","qos":"0","retain":"false","broker":"f9f1082f.f35368","x":580,"y":680,"wires":[]},{"id":"d70c3de.fd2e1c","type":"mqtt out","z":"ea74e623.011278","name":"Stue - Venstre","topic":"rullegardin/Stue-Venstre/in","qos":"0","retain":"false","broker":"f9f1082f.f35368","x":600,"y":740,"wires":[]},{"id":"1cf9b9c.fb52346","type":"mqtt out","z":"ea74e623.011278","name":"Stue - Midt","topic":"rullegardin/Stue-Center/in","qos":"0","retain":"false","broker":"f9f1082f.f35368","x":590,"y":800,"wires":[]},{"id":"e51bf7d7.8b22b8","type":"mqtt out","z":"ea74e623.011278","name":"Stue - Højre","topic":"rullegardin/Stue-Hojre/in","qos":"0","retain":"false","broker":"f9f1082f.f35368","x":590,"y":860,"wires":[]},{"id":"a0cbb554.360b08","type":"mqtt out","z":"ea74e623.011278","name":"Stue - Vindue","topic":"rullegardin/Stue-Vindue/in","qos":"0","retain":"false","broker":"f9f1082f.f35368","x":600,"y":920,"wires":[]},{"id":"158ce9ff.25f7c6","type":"comment","z":"ea74e623.011278","name":"Get states on start","info":"","x":130,"y":660,"wires":[]},{"id":"e6076f26.858c4","type":"delay","z":"ea74e623.011278","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":820,"wires":[["d7b81e19.62639"]]},{"id":"d561d6c4.f4ab68","type":"status","z":"ea74e623.011278","name":"","scope":["9026264f.24f068"],"x":120,"y":720,"wires":[["52b4e6c.d18e218"]]},{"id":"52b4e6c.d18e218","type":"switch","z":"ea74e623.011278","name":"","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"},{"t":"eq","v":"disconnected","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":110,"y":780,"wires":[["e6076f26.858c4"],["891fe248.8e6b1"]]},{"id":"891fe248.8e6b1","type":"change","z":"ea74e623.011278","name":"Reset","rules":[{"t":"set","p":"payload","pt":"msg","to":"reset","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":110,"y":820,"wires":[["e6076f26.858c4"]]},{"id":"2269fec8.303792","type":"api-current-state","z":"379850dc.1ca32","name":"Only If Off","server":"76ca0172.30ea9","outputs":2,"halt_if":"on","halt_if_type":"","halt_if_compare":"is","override_topic":true,"entity_id":"light.fyr1","state_type":"str","override_payload":true,"override_data":true,"x":1960,"y":600,"wires":[["7cc371d7.734b4"],[]]},{"id":"7cc371d7.734b4","type":"api-call-service","z":"379850dc.1ca32","name":"Turn On Light 1%","server":"76ca0172.30ea9","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.fyr1\",\"brightness_pct\":1}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":2130,"y":600,"wires":[[]]},{"id":"93146ae8.667388","type":"api-call-service","z":"379850dc.1ca32","name":"Turn On Light 100%","server":"76ca0172.30ea9","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.fyr2\",\"brightness_pct\":100}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":2000,"y":540,"wires":[[]]},{"id":"9d238640.d8c0c8","type":"function","z":"379850dc.1ca32","name":"Set Payload","func":"msg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"light.fyr2\",\n        \"transition\": 30\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":2070,"y":840,"wires":[["8516e8d1.f66338"]]},{"id":"1338a944.0443e7","type":"function","z":"379850dc.1ca32","name":"Set Payload","func":"msg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"light.fyr2\",\n        \"transition\": 60\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":2070,"y":800,"wires":[["8516e8d1.f66338"]]},{"id":"ec8e2422.0f5f88","type":"api-current-state","z":"379850dc.1ca32","name":"If Light Is On","server":"76ca0172.30ea9","outputs":2,"halt_if":"off","halt_if_type":"","halt_if_compare":"is","override_topic":true,"entity_id":"light.fyr2","state_type":"str","override_payload":true,"override_data":true,"x":1310,"y":780,"wires":[["5b3a1b9d.54b1e4"],[]]},{"id":"87a3b902.f29e78","type":"inject","z":"ea74e623.011278","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":880,"wires":[["d7b81e19.62639"]]}]