node-red/flows.json
[{"id":"379850dc.1ca32","type":"tab","label":"Light Flows","disabled":false,"info":""},{"id":"ea74e623.011278","type":"tab","label":"Cover Flows","disabled":false,"info":""},{"id":"cf813d83.034c","type":"tab","label":"Switch Flows","disabled":false,"info":""},{"id":"34897e80.661b32","type":"tab","label":"Doorbell","disabled":false,"info":""},{"id":"19e6954.3f28a6b","type":"tab","label":"Presence","disabled":false,"info":""},{"id":"3f07287f.dc1d48","type":"tab","label":"Notifications","disabled":false,"info":""},{"id":"2d493087.12ff1","type":"tab","label":"TTS Alert Flows","disabled":false,"info":""},{"id":"fb4af5e0.49ea88","type":"tab","label":"IFTTT","disabled":false,"info":""},{"id":"3d0a8204.6d933e","type":"tab","label":"Affaldsplan","disabled":false,"info":""},{"id":"9eb49d26.9483b","type":"tab","label":"Sensors","disabled":false,"info":""},{"id":"8bcd9459.b2efa8","type":"tab","label":"Locks","disabled":false,"info":""},{"id":"ba036d91.9f6dd","type":"tab","label":"Radio","disabled":false,"info":""},{"id":"9334b7e1.225e08","type":"tab","label":"Alarm","disabled":false,"info":""},{"id":"f25328d.ca048d8","type":"tab","label":"Panasonic Varmepumpe","disabled":false,"info":""},{"id":"8a641acf.d79398","type":"tab","label":"Test","disabled":false,"info":""},{"id":"985f57a1.b7bce8","type":"subflow","name":"Save Climate Temperatures","info":"","category":"Eco Heating","in":[{"x":50,"y":30,"wires":[{"id":"4ac6c941.7d1748"},{"id":"d5f5bd87.b8786"},{"id":"5b971c71.3239d4"},{"id":"21efde50.29acb2"},{"id":"85018add.7e03b8"},{"id":"ebbd18d6.7e7c88"},{"id":"e0a73a66.1b06e8"},{"id":"87d9350e.a1b5e8"}]}],"out":[],"inputLabels":["In"]},{"id":"d516839.595028","type":"subflow","name":"Affaldsplan","info":"`msg.dayofweek`\nUsed if regularity is week_odd, week_even or week.\n - Monday = 1\n - Sunday = 7\n\n`msg.regularity`\nRegularity of the plan.\nValid options are:\n - week_odd\n - week_even\n - week\n - month\n\n`msg.weekofmonth`\nWeek of month\n - 1st week = 1\n - 2nd week = 2\n - ...","category":"","in":[{"x":50,"y":30,"wires":[{"id":"a0621c0f.34756"}]}],"out":[{"x":1040,"y":220,"wires":[{"id":"404b346c.804e6c","port":0}]}],"env":[],"icon":"node-red/db.png","status":{"x":1040,"y":280,"wires":[{"id":"404b346c.804e6c","port":0}]}},{"id":"ac1bf000.010ad","type":"subflow","name":"Presence","info":"","category":"","in":[{"x":60,"y":160,"wires":[{"id":"53ae57e9.390138"},{"id":"15698eae.7976a1"},{"id":"14112559.37c39b"},{"id":"b3f9768b.9ba988"},{"id":"3a6575f5.4eb9ca"}]}],"out":[{"x":840,"y":200,"wires":[{"id":"76820612.12e958","port":0}]}],"env":[],"icon":"node-red/bridge-dash.png","status":{"x":840,"y":160,"wires":[{"id":"76820612.12e958","port":0}]}},{"id":"7e916d2c.47c2b4","type":"subflow","name":"Light Controller","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"554909a6.47af98"}]}],"out":[{"x":900,"y":160,"wires":[{"id":"8b771bb2.3aabf8","port":0}]}],"env":[{"name":"entity_id","type":"str","value":""},{"name":"minBright","type":"str","value":"0"},{"name":"maxBright","type":"str","value":"255"},{"name":"transition","type":"str","value":"15"},{"name":"btnUp","type":"str","value":"4"},{"name":"btnOn","type":"str","value":"4"},{"name":"btnOff","type":"str","value":"3"},{"name":"btnDown","type":"str","value":"3"},{"name":"dimStep","type":"str","value":"10"}],"color":"#DDAA99"},{"id":"76ca0172.30ea9","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true},{"id":"f9f1082f.f35368","type":"mqtt-broker","z":"","name":"Mosquitto Server","broker":"10.254.254.109","port":"1883","clientid":"Node-RED","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"601ffd76.8f43f4","type":"forecastio-credentials","z":"","key_identifier":"BlackChart"},{"id":"7debc1c2.6910e","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8f0114d.5f419e8","type":"influxdb","z":"","hostname":"a0d7b954-influxdb","port":"8086","protocol":"http","database":"homeassistant","name":"Influx - Home Assistant","usetls":false,"tls":""},{"id":"ec01bcad.64aee","type":"wavenet-config","z":"","speech_api":"AIzaSyAQmT5-Su9mfJIt_DDnSvXN0clGJfadggU"},{"id":"6d3bc98b.62b398","type":"deconz-server","z":"","name":"deConz-Homeassistant","ip":"10.254.254.109","port":"40850","apikey":"5F7EE6C4AB","ws_port":"8081","secure":false,"polling":"15"},{"id":"dc20e889.3b4568","type":"server-state-changed","z":"34897e80.661b32","name":"Doorbell Sensor","server":"76ca0172.30ea9","version":"1","entityidfilter":"switch.doorbell_5_1","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":100,"y":140,"wires":[[],["f376fdc1.bfbbd","4bc797ca.55ac28"]]},{"id":"f376fdc1.bfbbd","type":"api-current-state","z":"34897e80.661b32","name":"Doorbell Control State","server":"76ca0172.30ea9","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.doorbell_control_active","state_type":"str","state_location":"","override_payload":"none","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":340,"y":140,"wires":[["b1bd075a.6aa658","c8312f31.9f55a"],[]]},{"id":"afa04cf0.e42ad","type":"api-call-service","z":"34897e80.661b32","name":"Notify Morten - OnePlus","server":"76ca0172.30ea9","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_oneplus_a5010","entityId":"","data":"{\"title\":\"Ringeklokke\",\"message\":\"Det ringer på døren\",\"data\":{\"tag\":\"866050\",\"image\":\"https://home.trab.dk/local/frontdoor.jpg\",\"color\":\"#FFFF00\",\"icon\":\"https://home.trab.dk/local/notification-icons/doorbell.png\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":450,"y":480,"wires":[[]]},{"id":"f04d213e.a30d1","type":"server-state-changed","z":"34897e80.661b32","name":"Doorbell Test Button","server":"76ca0172.30ea9","version":"1","entityidfilter":"input_boolean.doorbell_control_test","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":110,"y":80,"wires":[["f376fdc1.bfbbd","4bc797ca.55ac28"],["ef89787a.28a348"]]},{"id":"34bf0cff.2d52f4","type":"server-state-changed","z":"379850dc.1ca32","name":"Couch Light State","server":"76ca0172.30ea9","version":1,"entityidfilter":"light.livingroom_corner","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":60,"wires":[["9e605b29.b0d8e8"],["9e547a7b.36c3f8"]]},{"id":"9e605b29.b0d8e8","type":"api-call-service","z":"379850dc.1ca32","name":"Turn On Couchtable","server":"76ca0172.30ea9","version":"1","service_domain":"light","service":"turn_on","entityId":"light.sofabord","data":"{\"brightness_pct\":100,\"rgb_color\":[255,218,109]}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":360,"y":40,"wires":[[]]},{"id":"9e547a7b.36c3f8","type":"api-call-service","z":"379850dc.1ca32","name":"Turn Off Couchtable","server":"76ca0172.30ea9","version":"1","service_domain":"light","service":"turn_off","entityId":"light.sofabord","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":360,"y":100,"wires":[[]]},{"id":"42121f2.0d94de","type":"time-range-switch","z":"379850dc.1ca32","name":"Only at nights","lat":"55.995212","lon":"9.880392","startTime":"sunset","endTime":"goldenHourEnd","startOffset":"-150","endOffset":"0","x":440,"y":300,"wires":[["107cb49b.3acd6b"],[]]},{"id":"1788aeba.e21bc1","type":"switch","z":"379850dc.1ca32","name":"LUX level","property":"kitchen_lux","propertyType":"flow","rules":[{"t":"lt","v":"25","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":260,"wires":[["107cb49b.3acd6b"]]},{"id":"2f663bd6.650c64","type":"api-current-state","z":"379850dc.1ca32","name":"LUX State","server":"76ca0172.30ea9","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.kitchen_light_75","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":130,"y":360,"wires":[["9fc78e73.c2223","74c2b69c.933bc8"]]},{"id":"f6715d4b.cbe03","type":"api-call-service","z":"379850dc.1ca32","name":"Turn On Kitchen Light","server":"76ca0172.30ea9","version":"1","service_domain":"light","service":"turn_on","entityId":"light.kitchen","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":940,"y":280,"wires":[["756c62c2.16a79c"]]},{"id":"9e4462b7.ae0a6","type":"server-state-changed","z":"379850dc.1ca32","name":"Bryggers Motion","server":"76ca0172.30ea9","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.motion_bryggers","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":700,"wires":[["253015ea.031fda","3ce270d1.5afc"],["5b3a1b9d.54b1e4"]]},{"id":"253015ea.031fda","type":"time-range-switch","z":"379850dc.1ca32","name":"Only at nights","lat":"","lon":"","startTime":"sunset","endTime":"goldenHourEnd","startOffset":"-150","endOffset":"60","x":320,"y":660,"wires":[["eb0ee3cf.f932d"],[]]},{"id":"3ce270d1.5afc","type":"api-current-state","z":"379850dc.1ca32","name":"LUX State","server":"76ca0172.30ea9","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.motion_bryggers_lightlevel","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":310,"y":600,"wires":[["476d7f90.396ed"]]},{"id":"476d7f90.396ed","type":"switch","z":"379850dc.1ca32","name":"LUX Level","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"9","vt":"num"},{"t":"eq","v":"unknown","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":600,"wires":[["eb0ee3cf.f932d"],["eb0ee3cf.f932d"]]},{"id":"c06a24da.a27fd8","type":"api-call-service","z":"379850dc.1ca32","name":"Turn On Light 100%","server":"76ca0172.30ea9","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bryggers","data":"{\"brightness_pct\":100}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1080,"y":600,"wires":[["588273af.e6a22c"]]},{"id":"104a7742.7ea519","type":"time-range-switch","z":"379850dc.1ca32","name":"Night or Day","lat":"55.995212","lon":"9.880392","startTime":"sunrise","endTime":"22:00","startOffset":"0","endOffset":0,"x":750,"y":660,"wires":[["c06a24da.a27fd8"],["2269fec8.303792"]]},{"id":"fd4b256d.467b28","type":"api-call-service","z":"ea74e623.011278","name":"Luk Terrasse Rullegardin","server":"76ca0172.30ea9","version":"1","service_domain":"cover","service":"close_cover","entityId":"cover.terrasse_gardin","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":450,"y":260,"wires":[[]]},{"id":"daf0e301.87aef","type":"weekday","z":"ea74e623.011278","name":"Days Schedule","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"x":1040,"y":160,"wires":[["96789fc0.234dc","af701789.f4bae8","dbff5255.224fa","a0dad84f.119b88","e9d50841.eb19b8","e359f683.b246f8","11b95cf3.2a7083"],[]]},{"id":"93581432.926418","type":"inject","z":"ea74e623.011278","name":"Weekdays @ 7:00","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 07 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"x":1030,"y":200,"wires":[[]]},{"id":"96789fc0.234dc","type":"api-call-service","z":"ea74e623.011278","name":"Åbn Terrasse Rullegardin","server":"76ca0172.30ea9","version":"1","service_domain":"cover","service":"open_cover","entityId":"cover.terrasse_gardin","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1310,"y":160,"wires":[[]]},{"id":"5016194c.aca148","type":"switch","z":"ea74e623.011278","name":"Select Action","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OFF","vt":"str"},{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":160,"wires":[["daf0e301.87aef"],["2267351e.85fd3a","fd4b256d.467b28","db6d521c.4af23","13cfe730.3edb49","98df1a74.5fc468","667f7419.24089c","10ed0395.4d511c","291c17ae.8b4418"]]},{"id":"1e884b7a.218bb5","type":"comment","z":"379850dc.1ca32","name":"Bryggers lys","info":"","x":90,"y":580,"wires":[]},{"id":"53913896.7fc548","type":"comment","z":"379850dc.1ca32","name":"Køkken lys","info":"","x":80,"y":200,"wires":[]},{"id":"c51c63db.ed254","type":"comment","z":"379850dc.1ca32","name":"Stue lys","info":"","x":70,"y":20,"wires":[]},{"id":"ef89787a.28a348","type":"api-call-service","z":"34897e80.661b32","name":"Turn Off Test Button","server":"76ca0172.30ea9","version":"1","debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.doorbell_control_test","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":340,"y":80,"wires":[[]]},{"id":"35cd5f03.c508c","type":"schedex","z":"ea74e623.011278","name":"Timer","suspended":false,"lat":"55.995212","lon":"9.880392","ontime":"sunset","ontopic":"","onpayload":"ON","onoffset":"30","onrandomoffset":0,"offtime":"sunrise","offtopic":"","offpayload":"OFF","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":90,"y":160,"wires":[["5016194c.aca148"]]},{"id":"b0dd88c9.43bb68","type":"switch","z":"379850dc.1ca32","name":"Only If Home","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":280,"wires":[["f6715d4b.cbe03"]]},{"id":"3a0f5a90.87d426","type":"time-range-switch","z":"379850dc.1ca32","name":"Only at nights","lat":"55.995212","lon":"9.880392","startTime":"sunset","endTime":"goldenHourEnd","startOffset":"-150","endOffset":"0","x":400,"y":1060,"wires":[["f1de1ef8.314dc"],[]]},{"id":"1efe46d4.7c25b9","type":"time-range-switch","z":"379850dc.1ca32","name":"Night or Day","lat":"55.995212","lon":"9.880392","startTime":"sunrise","endTime":"22:00","startOffset":"30","endOffset":0,"x":710,"y":1060,"wires":[["695a450e.119ecc"],["71bf90c9.3b852"]]},{"id":"71bf90c9.3b852","type":"api-current-state","z":"379850dc.1ca32","name":"Only If Off","server":"76ca0172.30ea9","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.trappe","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":880,"y":1060,"wires":[[],["e8981598.bf8f28"]]},{"id":"695a450e.119ecc","type":"api-call-service","z":"379850dc.1ca32","name":"Turn On Light 100%","server":"76ca0172.30ea9","version":"1","service_domain":"light","service":"turn_on","entityId":"light.trappe","data":"{\"brightness_pct\":100}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":940,"y":1000,"wires":[["edd1cf69.5e0d5"]]},{"id":"e8981598.bf8f28","type":"api-call-service","z":"379850dc.1ca32","name":"Turn On Light 1%","server":"76ca0172.30ea9","version":"1","service_domain":"light","service":"turn_on","entityId":"light.trappe","data":"{\"brightness_pct\":1}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1050,"y":1060,"wires":[["edd1cf69.5e0d5"]]},{"id":"1c412d60.cbb003","type":"function","z":"379850dc.1ca32","name":"Set Payload","func":"msg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"light.trappe\",\n        \"transition\": 10\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1120,"wires":[["689527c5.ac80e8"]]},{"id":"689527c5.ac80e8","type":"api-call-service","z":"379850dc.1ca32","name":"Turn Off Light","server":"76ca0172.30ea9","version":1,"service_domain":"light","service":"turn_off","entityId":"","data":"{ }","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":940,"y":1120,"wires":[[]]},{"id":"799b3e8b.cd1f5","type":"stoptimer","z":"379850dc.1ca32","duration":"75","units":"Second","payloadtype":"num","payloadval":"0","name":"75 Seconds Timer","x":590,"y":1120,"wires":[["1c412d60.cbb003"],[]]},{"id":"75bd481d.02a578","type":"comment","z":"379850dc.1ca32","name":"Trappe lys","info":"","x":80,"y":1000,"wires":[]},{"id":"cbaa31ce.0b2ff","type":"api-call-service","z":"985f57a1.b7bce8","name":"Save Temp Setpoint","server":"76ca0172.30ea9","service_domain":"input_number","service":"set_value","data":"{ }","mergecontext":"","x":660,"y":40,"wires":[[]]},{"id":"1ea9ac6.3071854","type":"api-call-service","z":"985f57a1.b7bce8","name":"Save Temp Setpoint","server":"76ca0172.30ea9","service_domain":"input_number","service":"set_value","data":"{ }","mergecontext":"","x":660,"y":80,"wires":[[]]},{"id":"350e9121.a2417e","type":"api-call-service","z":"985f57a1.b7bce8","name":"Save Temp Setpoint","server":"76ca0172.30ea9","service_domain":"input_number","service":"set_value","data":"{ }","mergecontext":"","x":660,"y":120,"wires":[[]]},{"id":"598600b0.3f83c","type":"api-call-service","z":"985f57a1.b7bce8","name":"Save Temp Setpoint","server":"76ca0172.30ea9","service_domain":"input_number","service":"set_value","data":"{ }","mergecontext":"","x":660,"y":160,"wires":[[]]},{"id":"ecffb925.fefee8","type":"api-call-service","z":"985f57a1.b7bce8","name":"Save Temp Setpoint","server":"76ca0172.30ea9","service_domain":"input_number","service":"set_value","data":"{ }","mergecontext":"","x":660,"y":200,"wires":[[]]},{"id":"28885f1d.0720a","type":"api-call-service","z":"985f57a1.b7bce8","name":"Save Temp Setpoint","server":"76ca0172.30ea9","service_domain":"input_number","service":"set_value","data":"{ }","mergecontext":"","x":660,"y":240,"wires":[[]]},{"id":"9780c7b1.9435f8","type":"api-call-service","z":"985f57a1.b7bce8","name":"Save Temp Setpoint","server":"76ca0172.30ea9","service_domain":"input_number","service":"set_value","data":"{ }","mergecontext":"","x":660,"y":280,"wires":[[]]},{"id":"5918d691.b11018","type":"api-call-service","z":"985f57a1.b7bce8","name":"Save Temp Setpoint","server":"76ca0172.30ea9","service_domain":"input_number","service":"set_value","data":"{ }","mergecontext":"","x":660,"y":320,"wires":[[]]},{"id":"bbc601eb.71d9f","type":"function","z":"985f57a1.b7bce8","name":"Format Payload","func":"msg.payload = \n{\n    \"data\": {\n        \"entity_id\": \"input_number.heat_save_bedroom\",\n        \"value\": msg.data.attributes.temperature\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":40,"wires":[["cbaa31ce.0b2ff"]]},{"id":"7a0cf9ca.595878","type":"function","z":"985f57a1.b7bce8","name":"Format Payload","func":"msg.payload = \n{\n    \"data\": {\n        \"entity_id\": \"input_number.heat_save_diningroom\",\n        \"value\": msg.data.attributes.temperature\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":80,"wires":[["1ea9ac6.3071854"]]},{"id":"a02bc68b.ed6cb8","type":"function","z":"985f57a1.b7bce8","name":"Format Payload","func":"msg.payload = \n{\n    \"data\": {\n        \"entity_id\": \"input_number.heat_save_hall\",\n        \"value\": msg.data.attributes.temperature\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":120,"wires":[["350e9121.a2417e"]]},{"id":"89ec82b4.357e","type":"function","z":"985f57a1.b7bce8","name":"Format Payload","func":"msg.payload = \n{\n    \"data\": {\n        \"entity_id\": \"input_number.heat_save_bathroom\",\n        \"value\": msg.data.attributes.temperature\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":160,"wires":[["598600b0.3f83c"]]},{"id":"d06d5dcc.27c53","type":"function","z":"985f57a1.b7bce8","name":"Format Payload","func":"msg.payload = \n{\n    \"data\": {\n        \"entity_id\": \"input_number.heat_save_repos\",\n        \"value\": msg.data.attributes.temperature\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":200,"wires":[["ecffb925.fefee8"]]},{"id":"efcb546e.0fa388","type":"function","z":"985f57a1.b7bce8","name":"Format Payload","func":"msg.payload = \n{\n    \"data\": {\n        \"entity_id\": \"input_number.heat_save_christian\",\n        \"value\": msg.data.attributes.temperature\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":240,"wires":[["28885f1d.0720a"]]},{"id":"e7c9dc27.08a59","type":"function","z":"985f57a1.b7bce8","name":"Format Payload","func":"msg.payload = \n{\n    \"data\": {\n        \"entity_id\": \"input_number.heat_save_trains\",\n        \"value\": msg.data.attributes.temperature\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":280,"wires":[["9780c7b1.9435f8"]]},{"id":"710a38e6.155c78","type":"function","z":"985f57a1.b7bce8","name":"Format Payload","func":"msg.payload = \n{\n    \"data\": {\n        \"entity_id\": \"input_number.heat_save_michael\",\n        \"value\": msg.data.attributes.temperature\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":320,"wires":[["5918d691.b11018"]]},{"id":"4ac6c941.7d1748","type":"api-current-state","z":"985f57a1.b7bce8","name":"Bedroom","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"climate.bedroom_14","override_payload":true,"x":280,"y":40,"wires":[["bbc601eb.71d9f"]]},{"id":"d5f5bd87.b8786","type":"api-current-state","z":"985f57a1.b7bce8","name":"Dingingroom","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"climate.spisestue_11","override_payload":true,"x":290,"y":80,"wires":[["7a0cf9ca.595878"]]},{"id":"5b971c71.3239d4","type":"api-current-state","z":"985f57a1.b7bce8","name":"Hall","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"climate.hall_12","override_payload":true,"x":270,"y":120,"wires":[["a02bc68b.ed6cb8"]]},{"id":"21efde50.29acb2","type":"api-current-state","z":"985f57a1.b7bce8","name":"Bathroom","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"climate.toilet_13","override_payload":true,"x":280,"y":160,"wires":[["89ec82b4.357e"]]},{"id":"87d9350e.a1b5e8","type":"api-current-state","z":"985f57a1.b7bce8","name":"Michael","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"climate.michael_18","override_payload":true,"x":280,"y":320,"wires":[["710a38e6.155c78"]]},{"id":"e0a73a66.1b06e8","type":"api-current-state","z":"985f57a1.b7bce8","name":"Trainroom","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"climate.trainroom_17","override_payload":true,"x":280,"y":280,"wires":[["e7c9dc27.08a59"]]},{"id":"ebbd18d6.7e7c88","type":"api-current-state","z":"985f57a1.b7bce8","name":"Christian","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"climate.christian_16","override_payload":true,"x":280,"y":240,"wires":[["efcb546e.0fa388"]]},{"id":"85018add.7e03b8","type":"api-current-state","z":"985f57a1.b7bce8","name":"Repos","server":"76ca0172.30ea9","outputs":1,"halt_if":"","override_topic":true,"entity_id":"climate.repos_15","override_payload":true,"x":270,"y":200,"wires":[["d06d5dcc.27c53"]]},{"id":"f020070.41d28f8","type":"server-state-changed","z":"379850dc.1ca32","name":"Gang Motion","server":"76ca0172.30ea9","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.motion_gang","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":1420,"wires":[["db680a93.cf51f8","4717b86a.189108"],["18cc0ef8.93e4b1"]]},{"id":"4717b86a.189108","type":"time-range-switch","z":"379850dc.1ca32","name":"Only at nights","lat":"55.995212","lon":"9.880392","startTime":"sunset","endTime":"goldenHourEnd","startOffset":"-150","endOffset":"60","x":500,"y":1400,"wires":[["222e4c2c.358634"],[]]},{"id":"db680a93.cf51f8","type":"api-current-state","z":"379850dc.1ca32","name":"LUX State","server":"76ca0172.30ea9","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.motion_gang_lightlevel","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":470,"y":1340,"wires":[["69a4bcdb.8eeed4"]]},{"id":"702af44f.085dbc","type":"stoptimer","z":"379850dc.1ca32","duration":"3","units":"Minute","payloadtype":"num","payloadval":"0","name":"3 Minutes Timer","x":500,"y":1520,"wires":[["b24f4eff.6c7e3"],[]]},{"id":"18cc0ef8.93e4b1","type":"api-current-state","z":"379850dc.1ca32","name":"If Light Is On","server":"76ca0172.30ea9","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.gang","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":330,"y":1460,"wires":[["702af44f.085dbc"],[]]},{"id":"226f36f4.b6fbaa","type":"comment","z":"379850dc.1ca32","name":"Gang lys","info":"","x":80,"y":1320,"wires":[]},{"id":"69a4bcdb.8eeed4","type":"switch","z":"379850dc.1ca32","name":"LUX Level","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"7","vt":"num"},{"t":"eq","v":"unknown","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":1360,"wires":[["222e4c2c.358634"],["222e4c2c.358634"]]},{"id":"b890949d.9c3228","type":"time-range-switch","z":"379850dc.1ca32","name":"Night or Day","lat":"55.995212","lon":"9.880392","startTime":"sunrise","endTime":"22:00","startOffset":"0","endOffset":0,"x":930,"y":1400,"wires":[["a332a5e8.ad7d88"],["138a8883.1a99c7"]]},{"id":"da475b15.276658","type":"api-call-service","z":"379850dc.1ca32","name":"Turn Off Light","server":"76ca0172.30ea9","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.gang","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":880,"y":1520,"wires":[[]]},{"id":"b24f4eff.6c7e3","type":"function","z":"379850dc.1ca32","name":"Set Payload","func":"msg.payload =\n{\n    \"data\": {\n        \"entity_id\": \"light.gang\",\n        \"transition\": 60\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":1520,"wires":[["da475b15.276658"]]},{"id":"138a8883.1a99c7","type":"api-call-service","z":"379850dc.1ca32","name":"Turn On Light 1%","server":"76ca0172.30ea9","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.gang","data":"{\"brightness_pct\":1}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1170,"y":1400,"wires":[["b89c7487.af53f8"]]},{"id":"a332a5e8.ad7d88","type":"api-call-service","z":"379850dc.1ca32","name":"Turn On Light 100%","server":"76ca0172.30ea9","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.gang","data":"{\"brightness_pct\":100}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1180,"y":1340,"wires":[["b89c7487.af53f8"]]},{"id":"edd1cf69.5e0d5","type":"change","z":"379850dc.1ca32","name":"Stop Timers","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1120,"wires":[["799b3e8b.cd1f5"]]},{"id":"588273af.e6a22c","type":"change","z":"379850dc.1ca32","name":"Stop Timers","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":840,"wires":[["e57f53a6.38984","c9a29691.98f138","a30a5336.96e47"]]},{"id":"756c62c2.16a79c","type":"change","z":"379850dc.1ca32","name":"Stop Timers","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":420,"wires":[["72a0f3dc.5b722c","c663464.a14e0b8","ddce06b8.b38938"]]},{"id":"b89c7487.af53f8","type":"change","z":"379850dc.1ca32","name":"Stop Timers","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":1460,"wires":[["702af44f.085dbc"]]},{"id":"96d3c909.4eaa98","type":"server-state-changed","z":"2d493087.12ff1","name":"Landroid Error","server":"76ca0172.30ea9","version":1,"entityidfilter":"sensor.landroid_robotklipper_error","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":110,"y":80,"wires":[["3f35eb2f.22cf24"]]},{"id":"3f35eb2f.22cf24","type":"switch","z":"2d493087.12ff1","name":"Error Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Outside wire","vt":"str"},{"t":"eq","v":"Upside down","vt":"str"},{"t":"eq","v":"Blade motor blocked","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":280,"y":80,"wires":[["e32f3f3b.c0835"],["e54ad622.0a89a8"],["5748037b.75e34c"]],"outputLabels":["Outside Wire","Upside Down",""]},{"id":"e32f3f3b.c0835","type":"change","z":"2d493087.12ff1","name":"Wire Crossed","rules":[{"t":"set","p":"payload","pt":"msg","to":"<emphasis level=\"strong\">Advarsel!</emphasis><break time=\"300ms\" /> Plæneklipperen er kørt forbi wiren!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":40,"wires":[["1aa6ab5a.4a9135"]]},{"id":"e54ad622.0a89a8","type":"change","z":"2d493087.12ff1","name":"Upside Down","rules":[{"t":"set","p":"payload","pt":"msg","to":"<emphasis level=\"strong\">Advarsel!</emphasis><break time=\"300ms\" /> Plæneklipperen vender på hovedet!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":80,"wires":[["1aa6ab5a.4a9135"]]},{"id":"7977dff1.026dd","type":"switch","z":"379850dc.1ca32","name":"LUX Level","property":"stairs_lux","propertyType":"flow","rules":[{"t":"lt","v":"5","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":1020,"wires":[["f1de1ef8.314dc"]]},{"id":"2267351e.85fd3a","type":"api-call-service","z":"ea74e623.011278","name":"Luk Spisestue Rullegardin","server":"76ca0172.30ea9","version":"1","service_domain":"cover","service":"close_cover","entityId":"cover.spisestue_gardin","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":450,"y":200,"wires":[[]]},{"id":"af701789.f4bae8","type":"api-call-service","z":"ea74e623.011278","name":"Åbn Spisestue Rullegardin","server":"76ca0172.30ea9","version":"1","service_domain":"cover","service":"open_cover","entityId":"cover.spisestue_gardin","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1320,"y":220,"wires":[[]]},{"id":"cf6183b3.4b1cc","type":"api-call-service","z":"ea74e623.011278","name":"Luk Rullegardin, Glasparti Venstre","server":"76ca0172.30ea9","version":1,"service_domain":"cover","service":"close_cover","entityId":"cover.glasparti_venstre","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":740,"y":340,"wires":[[]]},{"id":"db6d521c.4af23","type":"api-call-service","z":"ea74e623.011278","name":"Luk Rullegardin, Glasparti Midt","server":"76ca0172.30ea9","version":"1","service_domain":"cover","service":"set_cover_position","entityId":"cover.glasparti_midt","data":"{\"position\":\"15\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":470,"y":380,"wires":[[]]},{"id":"98df1a74.5fc468","type":"api-call-service","z":"ea74e623.011278","name":"Luk Rullegardin, Glasparti Højre","server":"76ca0172.30ea9","version":"1","service_domain":"cover","service":"close_cover","entityId":"cover.glasdor","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":470,"y":440,"wires":[[]]},{"id":"dbff5255.224fa","type":"api-call-service","z":"ea74e623.011278","name":"Åbn Rullegardin, Glasparti Venstre","server":"76ca0172.30ea9","version":"1","service_domain":"cover","service":"open_cover","entityId":"cover.glasparti_venstre","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1340,"y":280,"wires":[[]]},{"id":"a0dad84f.119b88","type":"api-call-service","z":"ea74e623.011278","name":"Åbn Rullegardin, Glasparti Midt","server":"76ca0172.30ea9","version":"1","service_domain":"cover","service":"open_cover","entityId":"cover.glasparti_midt","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1330,"y":340,"wires":[[]]},{"id":"e9d50841.eb19b8","type":"api-call-service","z":"ea74e623.011278","name":"Åbn Rullegardin, Glasparti Højre","server":"76ca0172.30ea9","version":"1","service_domain":"cover","service":"open_cover","entityId":"cover.glasdor","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1330,"y":400,"wires":[[]]},{"id":"13cfe730.3edb49","type":"api-current-state","z":"ea74e623.011278","name":"Window Closed","server":"76ca0172.30ea9","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.lille_vindue_57","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":420,"y":320,"wires":[["1f0d4d72.0ed953"],["cf6183b3.4b1cc"]]},{"id":"67f13be7.b35a54","type":"schedex","z":"379850dc.1ca32","name":"Turn Off Light","suspended":false,"lat":"55.995212","lon":"9.880392","ontime":"dusk","ontopic":"ON","onpayload":"","onoffset":"","onrandomoffset":0,"offtime":"22:00","offtopic":"","offpayload":"OFF","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":700,"y":1720,"wires":[["eccf109f.93ad8"]]},{"id":"eccf109f.93ad8","type":"api-call-service","z":"379850dc.1ca32","name":"Turn Off Light","server":"76ca0172.30ea9","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.udendors","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1000,"y":1800,"wires":[[]]},{"id":"2e2cc165.78aa8e","type":"comment","z":"379850dc.1ca32","name":"Gårdsplads lys","info":"","x":100,"y":1680,"wires":[]},{"id":"ea8531ea.24a8c","type":"server-state-changed","z":"3f07287f.dc1d48","name":"A8","server":"76ca0172.30ea9","version":1,"entityidfilter":"sensor.anet_a8_3d_printer_current_job","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":100,"wires":[["b28c4aa4.32e7e8"]]},{"id":"b28c4aa4.32e7e8","type":"switch","z":"3f07287f.dc1d48","name":"state = unavailable","property":"data.new_state.state","propertyType":"msg","rules":[{"t":"eq","v":"unavailable","vt":"str"},{"t":"neq","v":"unavailable","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":100,"wires":[["bdc07834.17bd68"],["74afc8f0.dd94b8"]]},{"id":"bdc07834.17bd68","type":"switch","z":"3f07287f.dc1d48","name":"old_state != none","property":"data.old_state.attributes.job_name","propertyType":"msg","rules":[{"t":"neq","v":"none","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":100,"wires":[["50da9bf4.2a1794","1f7fd0dd.4658ef"]]},{"id":"b1e99ff.39a006","type":"api-call-service","z":"3f07287f.dc1d48","name":"Notify Morten - OnePlus","server":"76ca0172.30ea9","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_oneplus_a5010","entityId":"","data":"{ }","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1490,"y":440,"wires":[[]]},{"id":"50da9bf4.2a1794","type":"function","z":"3f07287f.dc1d48","name":"Set Payload","func":"msg.payload = {\n    \"data\": {\n        \"title\": \"ANet A8 job færdig\",\n        \"message\": \"Jobbet '\" + msg.data.old_state.attributes.job_name + \"' er færdig.\",\n        \"data\": {\n            \"url\": \"https://cnc.trab.dk/#!/printer/Anet_A8_3D_Printer/print\"\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":100,"wires":[["91411816.788e28"]]},{"id":"f1883eda.7f867","type":"comment","z":"3f07287f.dc1d48","name":"Notify when print is done","info":"","x":150,"y":60,"wires":[]},{"id":"b84153e4.ff074","type":"server-state-changed","z":"379850dc.1ca32","name":"10 minuters lys","server":"76ca0172.30ea9","version":1,"entityidfilter":"input_boolean.courtyard_ten","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":1780,"wires":[[],["60770137.c5625","c7de6476.81d738"]]},{"id":"60770137.c5625","type":"api-call-service","z":"379850dc.1ca32","name":"Turn On Light","server":"76ca0172.30ea9","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.udendors","data":"{\"brightness_pct\":100}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":680,"y":1780,"wires":[["52b184dc.290d3c"]]},{"id":"52b184dc.290d3c","type":"stoptimer","z":"379850dc.1ca32","duration":"10","units":"Minute","payloadtype":"num","payloadval":"0","name":"10 Minutes Timer","x":690,"y":1840,"wires":[["852b51da.70a8f"],[]]},{"id":"c7de6476.81d738","type":"api-call-service","z":"379850dc.1ca32","name":"Set switch off","server":"76ca0172.30ea9","version":"1","service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.courtyard_ten","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":290,"y":1820,"wires":[[]]},{"id":"a01ba247.35643","type":"link in","z":"379850dc.1ca32","name":"Link Courtyard Timer 10 minutes","links":["34f7382e.1a0b18","bf0bd8fd.b9e2e8"],"x":455,"y":1860,"wires":[["60770137.c5625"]]},{"id":"1f0d4d72.0ed953","type":"api-call-service","z":"ea74e623.011278","name":"Luk Rullegardin 30%, Glasparti Venstre","server":"76ca0172.30ea9","version":"1","service_domain":"cover","service":"set_cover_position","entityId":"cover.glasparti_venstre","data":"{\"position\":\"70\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":760,"y":280,"wires":[[]]},{"id":"c2dae8a.cfc5418","type":"inject","z":"ea74e623.011278","name":"Manual Close","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":220,"wires":[["13cfe730.3edb49","fd4b256d.467b28","2267351e.85fd3a","db6d521c.4af23","98df1a74.5fc468","667f7419.24089c","10ed0395.4d511c","291c17ae.8b4418"]]},{"id":"bfe6d867.b648f8","type":"weekday","z":"379850dc.1ca32","name":"","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":false,"sat":false,"x":580,"y":360,"wires":[["3f5bf8d3.862428"],["72a0f3dc.5b722c"]]},{"id":"3f5bf8d3.862428","type":"time-range-switch","z":"379850dc.1ca32","name":"Only at nights","lat":"55.995212","lon":"9.880392","startTime":"06:00","endTime":"22:00","startOffset":"0","endOffset":"0","x":760,"y":360,"wires":[["c663464.a14e0b8"],["ddce06b8.b38938"]]},{"id":"c663464.a14e0b8","type":"stoptimer","z":"379850dc.1ca32","duration":"15","units":"Minute","payloadtype":"num","payloadval":"0","name":"15 Minutes Timer","x":990,"y":360,"wires":[["17c04b0c.174bf5"],[]]},{"id":"ddce06b8.b38938","type":"stoptimer","z":"379850dc.1ca32","duration":"3","units":"Minute","payloadtype":"num","payloadval":"0","name":"3 Minutes Timer","x":980,"y":420,"wires":[["17c04b0c.174bf5"],[]]},{"id":"17c04b0c.174bf5","type":"api-call-service","z":"379850dc.1ca32","name":"Turn Off Kitchen Light","server":"76ca0172.30ea9","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.kitchen, light.kitchen_small_lamp","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1220,"y":420,"wires":[[]]},{"id":"72a0f3dc.5b722c","type":"stoptimer","z":"379850dc.1ca32","duration":"15","units":"Minute","payloadtype":"num","payloadval":"0","name":"15 Minutes Timer","x":990,"y":480,"wires":[["17c04b0c.174bf5"],[]]},{"id":"5b3a1b9d.54b1e4","type":"weekday","z":"379850dc.1ca32","name":"","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":false,"sat":false,"x":480,"y":740,"wires":[["9f3f0fbd.23ef"],["e57f53a6.38984"]]},{"id":"9f3f0fbd.23ef","type":"time-range-switch","z":"379850dc.1ca32","name":"Only at nights","lat":"55.995212","lon":"9.880392","startTime":"06:00","endTime":"22:00","startOffset":"0","endOffset":"0","x":640,"y":720,"wires":[["c9a29691.98f138"],["a30a5336.96e47"]]},{"id":"e57f53a6.38984","type":"stoptimer","z":"379850dc.1ca32","duration":"10","units":"Minute","payloadtype":"num","payloadval":"0","name":"10 Minutes Timer","x":870,"y":840,"wires":[["180ebcde.aef773"],[]]},{"id":"a30a5336.96e47","type":"stoptimer","z":"379850dc.1ca32","duration":"3","units":"Minute","payloadtype":"num","payloadval":"0","name":"3 Minutes Timer","x":860,"y":780,"wires":[["180ebcde.aef773"],[]]},{"id":"c9a29691.98f138","type":"stoptimer","z":"379850dc.1ca32","duration":"10","units":"Minute","payloadtype":"num","payloadval":"0","name":"10 Minutes Timer","x":870,"y":720,"wires":[["180ebcde.aef773"],[]]},{"id":"8516e8d1.f66338","type":"api-call-service","z":"379850dc.1ca32","name":"Turn Off Light","server":"76ca0172.30ea9","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bryggers","data":"{\"transition\":60}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1100,"y":780,"wires":[[]]},{"id":"12bbb60c.842dda","type":"comment","z":"9eb49d26.9483b","name":"Weeknumber","info":"","x":90,"y":40,"wires":[]},{"id":"ad8905e3.7268c8","type":"inject","z":"9eb49d26.9483b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"01 00 * * 1","once":false,"onceDelay":0.1,"x":130,"y":80,"wires":[["65d9d7.7d4c3628"]]},{"id":"65d9d7.7d4c3628","type":"moment","z":"9eb49d26.9483b","name":"Get weeknumber","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Copenhagen","adjAmount":0,"adjType":"days","adjDir":"add","format":"w","locale":"da_dk","output":"payload","outputType":"msg","outTz":"Europe/Copenhagen","x":310,"y":80,"wires":[["cccff5c4.6d0668"]]},{"id":"6395d9a3.9dd0b8","type":"server-events","z":"fb4af5e0.49ea88","name":"IFTTT Input","server":"76ca0172.30ea9","event_type":"ifttt_webhook_received","x":90,"y":100,"wires":[["3cae4ea8.dfd7a2"]]},{"id":"3cae4ea8.dfd7a2","type":"switch","z":"fb4af5e0.49ea88","name":"Is light_flow?","property":"payload.event.action","propertyType":"msg","rules":[{"t":"eq","v":"light_flow","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":100,"wires":[["1efee684.6bbd49"]]},{"id":"1efee684.6bbd49","type":"switch","z":"fb4af5e0.49ea88","name":"Which flow?","property":"payload.event.flow","propertyType":"msg","rules":[{"t":"eq","v":"courtyard_ten","vt":"str"},{"t":"eq","v":"location_courtyard","vt":"str"},{"t":"eq","v":"christian_loft","vt":"str"},{"t":"eq","v":"christian_bord","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":430,"y":100,"wires":[["34f7382e.1a0b18"],["14ada57.84d905b","c73435ee.54a528"],["deccd0dc.62e42"],["5d5923c1.c544cc"]]},{"id":"34f7382e.1a0b18","type":"link out","z":"fb4af5e0.49ea88","name":"","links":["a01ba247.35643"],"x":795,"y":60,"wires":[]},{"id":"14ada57.84d905b","type":"time-range-switch","z":"fb4af5e0.49ea88","name":"Only at nights","lat":"55.995212","lon":"9.880392","startTime":"sunsetStart","endTime":"sunriseEnd","startOffset":"0","endOffset":"0","x":660,"y":100,"wires":[["34f7382e.1a0b18"],[]]},{"id":"2ce1a6f.e4f775a","type":"comment","z":"fb4af5e0.49ea88","name":"IFTTT Light Flows","info":"","x":130,"y":40,"wires":[]},{"id":"5d5923c1.c544cc","type":"api-call-service","z":"fb4af5e0.49ea88","name":"Christian Bord","server":"76ca0172.30ea9","service_domain":"light","service":"toggle","data":"{\"entity_id\":\"light.christian_led_strip\"}","mergecontext":"","x":660,"y":220,"wires":[[]]},{"id":"726ccae6.32d074","type":"server-events","z":"fb4af5e0.49ea88","name":"IFTTT Input","server":"76ca0172.30ea9","event_type":"ifttt_webhook_received","x":90,"y":420,"wires":[["be5f2d21.e206"]]},{"id":"be5f2d21.e206","type":"switch","z":"fb4af5e0.49ea88","name":"Is heat_flow?","property":"payload.event.action","propertyType":"msg","rules":[{"t":"eq","v":"heat_flow","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":420,"wires":[["b0b634f9.5ab3d8"]]},{"id":"b0b634f9.5ab3d8","type":"switch","z":"fb4af5e0.49ea88","name":"Which flow?","property":"payload.event.flow","propertyType":"msg","rules":[{"t":"eq","v":"all_on","vt":"str"},{"t":"eq","v":"all_off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":420,"wires":[["c84c7f8d.82759"],["ddd4368.ee507c8"]]},{"id":"c84c7f8d.82759","type":"link out","z":"fb4af5e0.49ea88","name":"","links":["82f8b00a.ec03e"],"x":595,"y":400,"wires":[]},{"id":"b00aae18.39522","type":"comment","z":"fb4af5e0.49ea88","name":"IFTTT Varmestyring","info":"","x":130,"y":360,"wires":[]},{"id":"ddd4368.ee507c8","type":"link out","z":"fb4af5e0.49ea88","name":"","links":["3e81004e.e6344"],"x":595,"y":440,"wires":[]},{"id":"aaa7525e.f48b1","type":"inject","z":"3f07287f.dc1d48","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 18 * * *","once":false,"onceDelay":0.1,"x":130,"y":260,"wires":[["8e78806b.d971e"]]},{"id":"d93cea12.aad248","type":"switch","z":"3f07287f.dc1d48","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":260,"wires":[["7835ce00.b9e6d"]]},{"id":"4fec5828.feb318","type":"function","z":"cf813d83.034c","name":"On","func":"msg.url = \"http://192.168.1.101:3344/printer/api/?a=runExternalCommand&data={%22id%22:%223%22}&apikey=660fe01c-5807-4959-a173-a8ef28bc03b9\";\nmsg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":80,"wires":[["b1e66010.5f693"]]},{"id":"f602c33e.248bb","type":"function","z":"cf813d83.034c","name":"Off","func":"msg.url = \"http://192.168.1.101:3344/printer/api/?a=runExternalCommand&data={%22id%22:%222%22}&apikey=660fe01c-5807-4959-a173-a8ef28bc03b9\";\nmsg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":120,"wires":[["b1e66010.5f693"]]},{"id":"b1e66010.5f693","type":"http request","z":"cf813d83.034c","name":"","method":"GET","ret":"txt","url":"","tls":"","x":650,"y":100,"wires":[[]]},{"id":"d7d8f8a3.6a8298","type":"link in","z":"cf813d83.034c","name":"Turn On Anet","links":[],"x":55,"y":80,"wires":[["4fec5828.feb318"]]},{"id":"d6bab2d5.efea9","type":"link in","z":"cf813d83.034c","name":"Turn Off Anet","links":["1f7fd0dd.4658ef","3f9c2fe3.b3824"],"x":55,"y":120,"wires":[["dd075e65.8e4a9"]]},{"id":"92b2852b.9b4a28","type":"comment","z":"cf813d83.034c","name":"ANet A8 Power","info":"","x":120,"y":40,"wires":[]},{"id":"dd075e65.8e4a9","type":"stoptimer","z":"cf813d83.034c","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":360,"y":120,"wires":[["f602c33e.248bb"],[]]},{"id":"3d60905c.6fa51","type":"link in","z":"cf813d83.034c","name":"ANet A8 Stop Timer","links":["74afc8f0.dd94b8","5cbf045e.78f4fc"],"x":55,"y":160,"wires":[["b600684a.546648"]]},{"id":"b600684a.546648","type":"change","z":"cf813d83.034c","name":"Stop Timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":160,"wires":[["dd075e65.8e4a9"]]},{"id":"1f7fd0dd.4658ef","type":"link out","z":"3f07287f.dc1d48","name":"","links":["d6bab2d5.efea9"],"x":615,"y":140,"wires":[]},{"id":"74afc8f0.dd94b8","type":"link out","z":"3f07287f.dc1d48","name":"","links":["3d60905c.6fa51"],"x":395,"y":140,"wires":[]},{"id":"c095b790.904bc8","type":"comment","z":"3f07287f.dc1d48","name":"Notify when battery is low","info":"","x":150,"y":220,"wires":[]},{"id":"bd257f58.a3105","type":"comment","z":"3f07287f.dc1d48","name":"Mortens devices","info":"","x":1400,"y":400,"wires":[]},{"id":"deccd0dc.62e42","type":"api-call-service","z":"fb4af5e0.49ea88","name":"Christian Loft","server":"76ca0172.30ea9","service_domain":"light","service":"toggle","data":"{\"entity_id\":\"light.christian_loft\"}","mergecontext":"","x":650,"y":160,"wires":[[]]},{"id":"51693c65.eeb5b4","type":"server-state-changed","z":"379850dc.1ca32","name":"Dining Light State","server":"76ca0172.30ea9","version":1,"entityidfilter":"light.spisebord","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":2040,"wires":[["c05af105.d119e","d11eb54a.0c7658","b5aab408.9694b8"],["81201ef9.88325","37f74e96.61b022"]]},{"id":"46b42d4c.944c44","type":"api-call-service","z":"379850dc.1ca32","name":"Turn On Diningtable","server":"76ca0172.30ea9","version":"1","service_domain":"light","service":"turn_on","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":740,"y":2020,"wires":[[]]},{"id":"f738de07.819a3","type":"comment","z":"379850dc.1ca32","name":"Spisestue lys","info":"","x":90,"y":2000,"wires":[]},{"id":"b5aab408.9694b8","type":"time-range-switch","z":"379850dc.1ca32","name":"21-24","lat":"55.995212","lon":"9.880392","startTime":"21:00","endTime":"23:59","startOffset":"0","endOffset":"0","x":370,"y":2120,"wires":[["1c0a9c1b.8196e4","3a883e4a.d71932"],[]]},{"id":"c05af105.d119e","type":"time-range-switch","z":"379850dc.1ca32","name":"00-SR","lat":"55.995212","lon":"9.880392","startTime":"00:00","endTime":"sunrise","startOffset":"0","endOffset":"30","x":370,"y":2000,"wires":[["bbf1c75d.72cf28"],[]]},{"id":"d11eb54a.0c7658","type":"time-range-switch","z":"379850dc.1ca32","name":"SR-21","lat":"55.995212","lon":"9.880392","startTime":"sunrise","endTime":"20:59","startOffset":"30","endOffset":"0","x":370,"y":2060,"wires":[["96c3189.e7906e8","3a883e4a.d71932"],[]]},{"id":"1c0a9c1b.8196e4","type":"function","z":"379850dc.1ca32","name":"Set Payload","func":"msg.payload = {\n    \"data\": {\n        \"entity_id\": \"light.spisebord\",\n        \"brightness\":200,\n        \"rgb_color\":[255,217,146]\n    }\n}\n        \nreturn msg;","outputs":1,"noerr":0,"x":510,"y":2120,"wires":[["46b42d4c.944c44"]]},{"id":"96c3189.e7906e8","type":"function","z":"379850dc.1ca32","name":"Set Payload","func":"msg.payload = {\n    \"data\": {\n        \"entity_id\": \"light.spisebord\",\n        \"brightness\":254,\n        \"rgb_color\":[255,217,146]\n    }\n}\n        \nreturn msg;","outputs":1,"noerr":0,"x":510,"y":2060,"wires":[["46b42d4c.944c44"]]},{"id":"bbf1c75d.72cf28","type":"function","z":"379850dc.1ca32","name":"Set Payload","func":"msg.payload = {\n    \"data\": {\n        \"entity_id\": \"light.spisebord\",\n        \"brightness\":100,\n        \"rgb_color\":[255,217,146]\n    }\n}\n        \nreturn msg;","outputs":1,"noerr":0,"x":510,"y":2000,"wires":[["46b42d4c.944c44"]]},{"id":"37f74e96.61b022","type":"api-call-service","z":"379850dc.1ca32","name":"Turn Off Cupboard","server":"76ca0172.30ea9","version":"1","service_domain":"light","service":"turn_off","entityId":"light.diningroom_cupboard","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":410,"y":2240,"wires":[[]]},{"id":"81201ef9.88325","type":"api-call-service","z":"379850dc.1ca32","name":"Turn Off Diningtable","server":"76ca0172.30ea9","version":"1","service_domain":"light","service":"turn_off","entityId":"light.spisebord","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":420,"y":2180,"wires":[[]]},{"id":"5b7749b5.8abf78","type":"server-state-changed","z":"379850dc.1ca32","name":"Bedroom Light State","server":"76ca0172.30ea9","version":1,"entityidfilter":"group.bedroom","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":2400,"wires":[["cfb18648.b12858","88426fe9.46c61"],["1541f58c.1eb4da"]]},{"id":"97304ac.af3acb8","type":"api-call-service","z":"379850dc.1ca32","name":"Turn On Bedroom","server":"76ca0172.30ea9","version":"1","service_domain":"light","service":"turn_on","entityId":"light.bedroom_group","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":690,"y":2400,"wires":[[]]},{"id":"5865ccae.459014","type":"comment","z":"379850dc.1ca32","name":"Soveværelse lys","info":"","x":100,"y":2360,"wires":[]},{"id":"cfb18648.b12858","type":"time-range-switch","z":"379850dc.1ca32","name":"00-SR","lat":"55.995212","lon":"9.880392","startTime":"00:00","endTime":"sunrise","startOffset":"0","endOffset":"0","x":350,"y":2380,"wires":[["328bb586.8b1d6a"],[]]},{"id":"88426fe9.46c61","type":"time-range-switch","z":"379850dc.1ca32","name":"SR-24","lat":"55.995212","lon":"9.880392","startTime":"sunrise","endTime":"23:59","startOffset":"0","endOffset":"0","x":350,"y":2440,"wires":[["5b9468f0.d339e8"],[]]},{"id":"5b9468f0.d339e8","type":"function","z":"379850dc.1ca32","name":"Set Payload","func":"msg.payload = {\n    \"data\": {\n        \"brightness\": 254,\n        \"color_temp\": 150,\n        \"rgb_color\":[254,254,254]\n    }\n}\n        \nreturn msg;","outputs":1,"noerr":0,"x":490,"y":2440,"wires":[["97304ac.af3acb8"]]},{"id":"328bb586.8b1d6a","type":"function","z":"379850dc.1ca32","name":"Set Payload","func":"msg.payload = {\n    \"data\": {\n        \"brightness\": 10,\n        \"color_temp\": 150,\n        \"rgb_color\": [254,254,254]\n    }\n}\n        \nreturn msg;","outputs":1,"noerr":0,"x":490,"y":2380,"wires":[["97304ac.af3acb8"]]},{"id":"1541f58c.1eb4da","type":"api-call-service","z":"379850dc.1ca32","name":"Turn Off Bedroom","server":"76ca0172.30ea9","version":"1","service_domain":"light","service":"turn_off","entityId":"light.bedroom_group","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":390,"y":2500,"wires":[[]]},{"id":"3a883e4a.d71932","type":"api-call-service","z":"379850dc.1ca32","name":"Turn Off Cupboard","server":"76ca0172.30ea9","version":"1","service_domain":"light","service":"turn_on","entityId":"light.diningroom_cupboard","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":730,"y":2080,"wires":[[]]},{"id":"667f7419.24089c","type":"api-call-service","z":"ea74e623.011278","name":"Luk Rullegardin, Stue Vindue","server":"76ca0172.30ea9","version":"1","service_domain":"cover","service":"close_cover","entityId":"cover.stue_vindue","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":460,"y":500,"wires":[[]]},{"id":"e359f683.b246f8","type":"api-call-service","z":"ea74e623.011278","name":"Åbn Rullegardin, Stue Vindue","server":"76ca0172.30ea9","version":"1","service_domain":"cover","service":"open_cover","entityId":"cover.stue_vindue","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1320,"y":460,"wires":[[]]},{"id":"3fcec871.32c508","type":"inject","z":"ea74e623.011278","name":"Manual Open","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1050,"y":240,"wires":[["96789fc0.234dc","af701789.f4bae8","dbff5255.224fa","a0dad84f.119b88","e9d50841.eb19b8","e359f683.b246f8","11b95cf3.2a7083","a6231051.01ac4"]]},{"id":"b4785a67.deb818","type":"server-events","z":"fb4af5e0.49ea88","name":"IFTTT Input","server":"76ca0172.30ea9","event_type":"ifttt_webhook_received","x":90,"y":900,"wires":[["7797fa2a.11ebe4"]]},{"id":"7797fa2a.11ebe4","type":"switch","z":"fb4af5e0.49ea88","name":"Is cover_flow?","property":"payload.event.action","propertyType":"msg","rules":[{"t":"eq","v":"cover_flow","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":900,"wires":[["d7448e29.7f5a8"]]},{"id":"d7448e29.7f5a8","type":"switch","z":"fb4af5e0.49ea88","name":"Which flow?","property":"payload.event.flow","propertyType":"msg","rules":[{"t":"eq","v":"close_livingroom_window","vt":"str"},{"t":"eq","v":"close_livingroom_all","vt":"str"},{"t":"eq","v":"close_livingroom_garden","vt":"str"},{"t":"eq","v":"close_diningroom_window","vt":"str"},{"t":"eq","v":"close_diningroom_door","vt":"str"},{"t":"eq","v":"open_livingroom_window","vt":"str"},{"t":"eq","v":"open_livingroom_all","vt":"str"},{"t":"eq","v":"open_livingroom_garden","vt":"str"},{"t":"eq","v":"open_diningroom_window","vt":"str"},{"t":"eq","v":"open_diningroom_door","vt":"str"}],"checkall":"true","repair":false,"outputs":10,"x":450,"y":960,"wires":[["c11b6cc3.cf75c"],["ba92a397.9a85d"],["83f9c242.7bf5e"],["9b349cfe.52926"],["49e4aa68.9d56b4"],["cbc293e1.2d88c"],["2fc91cd.0a127e4"],["f2fdfa77.943b88"],["c6f5166e.2116b8"],["277b0627.c0650a"]]},{"id":"c11b6cc3.cf75c","type":"link out","z":"fb4af5e0.49ea88","name":"","links":["404a2983.a9d528"],"x":595,"y":860,"wires":[]},{"id":"77bfe23.40b3a1c","type":"comment","z":"fb4af5e0.49ea88","name":"IFTTT Gardin styring","info":"","x":130,"y":840,"wires":[]},{"id":"404a2983.a9d528","type":"link in","z":"ea74e623.011278","name":"Close Livingroom Window","links":["c11b6cc3.cf75c"],"x":175,"y":500,"wires":[["667f7419.24089c"]]},{"id":"a43627a1.2b8038","type":"link in","z":"ea74e623.011278","name":"Close All Covers In Livingroom","links":["ba92a397.9a85d"],"x":175,"y":440,"wires":[["13cfe730.3edb49","db6d521c.4af23","98df1a74.5fc468","667f7419.24089c"]]},{"id":"ba92a397.9a85d","type":"link out","z":"fb4af5e0.49ea88","name":"","links":["a43627a1.2b8038"],"x":635,"y":880,"wires":[]},{"id":"34ffbe0.c5ae642","type":"link in","z":"ea74e623.011278","name":"Close Diningroom Window","links":["9b349cfe.52926"],"x":175,"y":260,"wires":[["2267351e.85fd3a"]]},{"id":"cd7b0b10.f79968","type":"link in","z":"ea74e623.011278","name":"Close Diningroom Door","links":["49e4aa68.9d56b4"],"x":175,"y":300,"wires":[["fd4b256d.467b28"]]},{"id":"4066ea52.487004","type":"link in","z":"ea74e623.011278","name":"Close Garden Faced Curtains","links":["83f9c242.7bf5e"],"x":175,"y":380,"wires":[["13cfe730.3edb49","db6d521c.4af23","98df1a74.5fc468"]]},{"id":"ab4479d3.9af238","type":"link in","z":"ea74e623.011278","name":"Open Diningroom Door","links":["277b0627.c0650a"],"x":1095,"y":280,"wires":[["96789fc0.234dc"]]},{"id":"12c72c84.2776f3","type":"link in","z":"ea74e623.011278","name":"Open Diningroom Window","links":["c6f5166e.2116b8"],"x":1095,"y":320,"wires":[["af701789.f4bae8"]]},{"id":"222a3f5a.937c8","type":"link in","z":"ea74e623.011278","name":"Open Garden Faced Curtains","links":["f2fdfa77.943b88"],"x":1095,"y":360,"wires":[["dbff5255.224fa","a0dad84f.119b88","e9d50841.eb19b8"]]},{"id":"923b7310.03fd8","type":"link in","z":"ea74e623.011278","name":"Open All Livingroom Curtains","links":["2fc91cd.0a127e4"],"x":1095,"y":400,"wires":[["dbff5255.224fa","a0dad84f.119b88","e9d50841.eb19b8","e359f683.b246f8"]]},{"id":"8464b4df.1b2168","type":"link in","z":"ea74e623.011278","name":"Open Livingroom Window","links":["cbc293e1.2d88c"],"x":1095,"y":460,"wires":[["e359f683.b246f8"]]},{"id":"83f9c242.7bf5e","type":"link out","z":"fb4af5e0.49ea88","name":"","links":["4066ea52.487004"],"x":595,"y":900,"wires":[]},{"id":"9b349cfe.52926","type":"link out","z":"fb4af5e0.49ea88","name":"","links":["34ffbe0.c5ae642"],"x":635,"y":920,"wires":[]},{"id":"49e4aa68.9d56b4","type":"link out","z":"fb4af5e0.49ea88","name":"","links":["cd7b0b10.f79968"],"x":595,"y":940,"wires":[]},{"id":"cbc293e1.2d88c","type":"link out","z":"fb4af5e0.49ea88","name":"","links":["8464b4df.1b2168"],"x":635,"y":960,"wires":[]},{"id":"2fc91cd.0a127e4","type":"link out","z":"fb4af5e0.49ea88","name":"","links":["923b7310.03fd8"],"x":595,"y":980,"wires":[]},{"id":"f2fdfa77.943b88","type":"link out","z":"fb4af5e0.49ea88","name":"","links":["222a3f5a.937c8"],"x":635,"y":1000,"wires":[]},{"id":"c6f5166e.2116b8","type":"link out","z":"fb4af5e0.49ea88","name":"","links":["12c72c84.2776f3"],"x":595,"y":1020,"wires":[]},{"id":"277b0627.c0650a","type":"link out","z":"fb4af5e0.49ea88","name":"","links":["ab4479d3.9af238"],"x":635,"y":1040,"wires":[]},{"id":"9026264f.24f068","type":"server-events","z":"ea74e623.011278","name":"Hass Start","server":"76ca0172.30ea9","event_type":"start","x":360,"y":780,"wires":[[]]},{"id":"91d41138.46776","type":"mqtt out","z":"ea74e623.011278","name":"Terrasse","topic":"/rullegardin/terrasse/in","qos":"0","retain":"false","broker":"f9f1082f.f35368","x":580,"y":700,"wires":[]},{"id":"d7b81e19.62639","type":"change","z":"ea74e623.011278","name":"Update","rules":[{"t":"set","p":"payload","pt":"msg","to":"(update)","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":860,"wires":[["91d41138.46776","26d60a14.0e19b6","d70c3de.fd2e1c","1cf9b9c.fb52346","e51bf7d7.8b22b8","a0cbb554.360b08","c88b0538.310f38","5bc23dc8.1d5554"]]},{"id":"26d60a14.0e19b6","type":"mqtt out","z":"ea74e623.011278","name":"Spisestue","topic":"/rullegardin/spisestue/in","qos":"0","retain":"false","broker":"f9f1082f.f35368","x":580,"y":760,"wires":[]},{"id":"d70c3de.fd2e1c","type":"mqtt out","z":"ea74e623.011278","name":"Stue - Venstre","topic":"rullegardin/Stue-Venstre/in","qos":"0","retain":"false","broker":"f9f1082f.f35368","x":600,"y":820,"wires":[]},{"id":"1cf9b9c.fb52346","type":"mqtt out","z":"ea74e623.011278","name":"Stue - Midt","topic":"rullegardin/Stue-Center/in","qos":"0","retain":"false","broker":"f9f1082f.f35368","x":590,"y":880,"wires":[]},{"id":"e51bf7d7.8b22b8","type":"mqtt out","z":"ea74e623.011278","name":"Stue - Højre","topic":"rullegardin/Stue-Hojre/in","qos":"0","retain":"false","broker":"f9f1082f.f35368","x":590,"y":940,"wires":[]},{"id":"a0cbb554.360b08","type":"mqtt out","z":"ea74e623.011278","name":"Stue - Vindue","topic":"rullegardin/Stue-Vindue/in","qos":"0","retain":"false","broker":"f9f1082f.f35368","x":600,"y":1000,"wires":[]},{"id":"158ce9ff.25f7c6","type":"comment","z":"ea74e623.011278","name":"Get states on start","info":"","x":130,"y":740,"wires":[]},{"id":"e6076f26.858c4","type":"delay","z":"ea74e623.011278","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":900,"wires":[["d7b81e19.62639"]]},{"id":"d561d6c4.f4ab68","type":"status","z":"ea74e623.011278","name":"","scope":["9026264f.24f068"],"x":120,"y":800,"wires":[["52b4e6c.d18e218"]]},{"id":"52b4e6c.d18e218","type":"switch","z":"ea74e623.011278","name":"","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"},{"t":"eq","v":"disconnected","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":110,"y":860,"wires":[["e6076f26.858c4"],["891fe248.8e6b1"]]},{"id":"891fe248.8e6b1","type":"change","z":"ea74e623.011278","name":"Reset","rules":[{"t":"set","p":"payload","pt":"msg","to":"reset","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":110,"y":900,"wires":[["e6076f26.858c4"]]},{"id":"2269fec8.303792","type":"api-current-state","z":"379850dc.1ca32","name":"Only If Off","server":"76ca0172.30ea9","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.bryggers","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":960,"y":660,"wires":[[],["7cc371d7.734b4"]]},{"id":"7cc371d7.734b4","type":"api-call-service","z":"379850dc.1ca32","name":"Turn On Light 1%","server":"76ca0172.30ea9","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bryggers","data":"{\"brightness_pct\":1}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1130,"y":660,"wires":[["588273af.e6a22c"]]},{"id":"87a3b902.f29e78","type":"inject","z":"ea74e623.011278","name":"Auto refresh","topic":"","payload":"","payloadType":"date","repeat":"21600","crontab":"","once":true,"onceDelay":"300","x":140,"y":960,"wires":[["d7b81e19.62639"]]},{"id":"f5d965ba.3f9b18","type":"inject","z":"8bcd9459.b2efa8","name":"22:00","topic":"","payload":"ON","payloadType":"str","repeat":"","crontab":"00 22 * * *","once":false,"onceDelay":0.1,"x":250,"y":40,"wires":[["62b1058a.6d1cdc","a7ca4f8a.91bad"]]},{"id":"4eba5a4e.fa4ad4","type":"api-call-service","z":"8bcd9459.b2efa8","name":"Lock front door","server":"76ca0172.30ea9","version":1,"debugenabled":false,"service_domain":"lock","service":"lock","entityId":"lock.hoveddor_38","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":700,"y":80,"wires":[[]]},{"id":"ff130b5c.aaff88","type":"inject","z":"3d0a8204.6d933e","name":"Daily","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"01 00 * * *","once":false,"onceDelay":0.1,"x":110,"y":140,"wires":[["ac4b261f.736088","e57aa1ab.5a30f"]]},{"id":"d9aeb43c.bbde58","type":"mqtt out","z":"3d0a8204.6d933e","name":"","topic":"affaldsplan/restaffald","qos":"","retain":"true","broker":"f9f1082f.f35368","x":680,"y":100,"wires":[]},{"id":"ca4058c0.bfefd8","type":"comment","z":"3d0a8204.6d933e","name":"Restaffald","info":"","x":260,"y":60,"wires":[]},{"id":"c638e2a5.3b2d","type":"mqtt out","z":"3d0a8204.6d933e","name":"","topic":"affaldsplan/pap","qos":"","retain":"true","broker":"f9f1082f.f35368","x":660,"y":180,"wires":[]},{"id":"4663bf.1c822c4","type":"comment","z":"3d0a8204.6d933e","name":"Pap / Emballage","info":"","x":280,"y":140,"wires":[]},{"id":"c115336c.22fb5","type":"server-events","z":"fb4af5e0.49ea88","name":"IFTTT Input","server":"76ca0172.30ea9","event_type":"ifttt_webhook_received","x":110,"y":1320,"wires":[["d12db9d9.7ca868"]]},{"id":"d12db9d9.7ca868","type":"switch","z":"fb4af5e0.49ea88","name":"Is vacuum_flow?","property":"payload.event.action","propertyType":"msg","rules":[{"t":"eq","v":"vacuum_flow","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":1320,"wires":[["47c838a2.8929e8"]]},{"id":"3f47f05f.bf9d9","type":"switch","z":"fb4af5e0.49ea88","name":"Which flow?","property":"payload.event.flow","propertyType":"msg","rules":[{"t":"cont","v":"spise stue","vt":"str"},{"t":"cont","v":"spisestue","vt":"str"},{"t":"eq","v":"stuen","vt":"str"},{"t":"eq","v":"køkken","vt":"str"},{"t":"eq","v":"køkkenet","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":470,"y":1340,"wires":[["788195ff.539abc"],["788195ff.539abc"],[],[],[]]},{"id":"f1cb363f.5045c8","type":"comment","z":"fb4af5e0.49ea88","name":"IFTTT Støvsuger","info":"","x":140,"y":1260,"wires":[]},{"id":"788195ff.539abc","type":"api-call-service","z":"fb4af5e0.49ea88","name":"Diningroom","server":"76ca0172.30ea9","service_domain":"vacuum","service":"send_command","data":"{\"entity_id\":\"vacuum.robert\",\"command\":\"app_zoned_clean\",\"params\":[[18289,22419,22089,28319,1]]}","mergecontext":"","output_location":"","output_location_type":"none","x":670,"y":1320,"wires":[[]]},{"id":"dbecd315.6b7cc","type":"cast-to-client","z":"2d493087.12ff1","name":"","url":"https://home.trab.dk/local/tts_landroid.mp3","contentType":"","message":"","language":"da","ip":"","port":"","volume":"","x":1190,"y":120,"wires":[[]]},{"id":"82d41a72.a1df98","type":"function","z":"2d493087.12ff1","name":"Iterate GH Mini","func":"var m_out=[];\nvar message=msg.warning\n\nvar ipList = [\"192.168.1.132\",\n              \"192.168.1.216\",\n              \"192.168.1.247\",\n              \"192.168.1.169\",\n              \"192.168.1.108\",\n              \"192.168.1.246\"]\n\nfor (i = 0; i < ipList.length ; i++){\n    var newmsg={ip:ipList[i]}\n    node.send(newmsg);\n}","outputs":1,"noerr":0,"x":1010,"y":120,"wires":[["dbecd315.6b7cc"]]},{"id":"9cae4a28.554ab8","type":"subflow:d516839.595028","z":"3d0a8204.6d933e","name":"","env":[],"x":470,"y":100,"wires":[["d9aeb43c.bbde58"]]},{"id":"ac4b261f.736088","type":"change","z":"3d0a8204.6d933e","name":"Set Properties","rules":[{"t":"set","p":"dayofweek","pt":"msg","to":"4","tot":"str"},{"t":"set","p":"regularity","pt":"msg","to":"week_odd","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":100,"wires":[["9cae4a28.554ab8"]]},{"id":"e57aa1ab.5a30f","type":"change","z":"3d0a8204.6d933e","name":"Set Properties","rules":[{"t":"set","p":"dayofweek","pt":"msg","to":"3","tot":"str"},{"t":"set","p":"weekofmonth","pt":"msg","to":"3","tot":"str"},{"t":"set","p":"regularity","pt":"msg","to":"month","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":180,"wires":[["64cf725c.98d31c"]]},{"id":"64cf725c.98d31c","type":"subflow:d516839.595028","z":"3d0a8204.6d933e","name":"","env":[],"x":470,"y":180,"wires":[["c638e2a5.3b2d"]]},{"id":"33fbf998.fb9b36","type":"switch","z":"d516839.595028","name":"","property":"regularity","propertyType":"msg","rules":[{"t":"eq","v":"week_even","vt":"str"},{"t":"eq","v":"week_odd","vt":"str"},{"t":"eq","v":"month","vt":"str"},{"t":"eq","v":"week","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":230,"y":160,"wires":[["4a47466f.b4eba8"],["b3c5b795.3ea398"],["2568cbac.6ce384"],[]]},{"id":"4a47466f.b4eba8","type":"change","z":"d516839.595028","name":"Even Week","rules":[{"t":"set","p":"_week_match","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":140,"wires":[["14cd93db.896ffc"]]},{"id":"b3c5b795.3ea398","type":"change","z":"d516839.595028","name":"Odd Week","rules":[{"t":"set","p":"_week_match","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":180,"wires":[["14cd93db.896ffc"]]},{"id":"14cd93db.896ffc","type":"function","z":"d516839.595028","name":"Find Next Occurance","func":"var now = new Date()\nvar today = now.getDate();\nvar pickupDay = new Date(\n                     now.getFullYear(),\n                     now.getMonth(),\n                     now.getDate() + (parseInt(msg.dayofweek) - msg._dayofweek))\nvar pickupDate = pickupDay.getDate();\n\nif (msg._week % 2 == parseInt(msg._week_match)) {\n    if (today == (pickupDate - 1))\n    {\n        msg.payload = \"I morgen\";\n    } else if (today == pickupDate)\n    {\n        msg.payload = \"I dag\";\n    } else if (today < pickupDate)\n    {\n        msg.debug = \"Here 1\";\n        var day = String(pickupDay.getDate());\n        var month = String(pickupDay.getMonth() + 1);\n        var year = String(pickupDay.getFullYear());\n\n        msg.payload = day + \".\" + month + \".\" + year;\n    } else\n    {\n        msg.debug = \"Here 3\";\n\n        puDay = new Date(\n                 now.getFullYear(),\n                 now.getMonth(),\n                 now.getDate() + ((7 + parseInt(msg.dayofweek) - now.getDay()) % 7) + 7);\n        var day = String(puDay.getDate());\n        var month = String(puDay.getMonth() + 1);\n        var year = String(puDay.getFullYear());\n\n        msg.payload = day + \".\" + month + \".\" + year;\n    }\n} else {\n    msg.debug = \"Here 2\";\n    if (msg.dayofweek >= msg._dayofweek) {\n        var result = new Date(\n                     now.getFullYear(),\n                     now.getMonth(),\n                     now.getDate() + ((7 + parseInt(msg.dayofweek) - now.getDay()) % 7) + 7)\n    } else {\n        var result = new Date(\n                     now.getFullYear(),\n                     now.getMonth(),\n                     now.getDate() + ((7 + parseInt(msg.dayofweek) - now.getDay()) % 7))\n    }\n\n    var day = String(result.getDate());\n    var month = String(result.getMonth() + 1);\n    var year = String(result.getFullYear());\n    \n    msg.payload = day + \".\" + month + \".\" + year;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":160,"wires":[["404b346c.804e6c"]]},{"id":"a0621c0f.34756","type":"function","z":"d516839.595028","name":"Get weeknumber and day_of_week","func":"Date.prototype.getWeek = function() {\n    var onejan = new Date(this.getFullYear(), 0, 1);\n    return Math.ceil((((this - onejan) / 86400000) + onejan.getDay() + 1) / 7);\n}\n\nfunction getWeekNumber(d) {\n    // Copy date so don't modify original\n    d = new Date(Date.UTC(d.getFullYear(), d.getMonth(), d.getDate()));\n    // Set to nearest Thursday: current date + 4 - current day number\n    // Make Sunday's day number 7\n    d.setUTCDate(d.getUTCDate() + 4 - (d.getUTCDay()||7));\n    // Get first day of year\n    var yearStart = new Date(Date.UTC(d.getUTCFullYear(),0,1));\n    // Calculate full weeks to nearest Thursday\n    var weekNo = Math.ceil(( ( (d - yearStart) / 86400000) + 1)/7);\n    // Return array of year and week number\n    return [d.getUTCFullYear(), weekNo];\n}\n\nvar date = new Date()\n\nmsg._week = getWeekNumber(date)[1]; //date.getWeek();\nmsg._dayofweek = date.getDay();\n\nif (msg._dayofweek === 0) {\n    //msg._week = msg._week - 1\n    msg._dayofweek = 7\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":80,"wires":[["50c389c9.87f538"]]},{"id":"50c389c9.87f538","type":"change","z":"d516839.595028","name":"","rules":[{"t":"set","p":"dayofweek","pt":"flow","to":"_dayofweek","tot":"msg"},{"t":"set","p":"week","pt":"flow","to":"_week","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":80,"wires":[["33fbf998.fb9b36"]]},{"id":"2568cbac.6ce384","type":"function","z":"d516839.595028","name":"Find Next","func":"var now = new Date();\nvar today = now.getDate();\n\nvar weekCount = (7 * (msg.weekofmonth - 1))\n\nvar mStart = new Date(\n             now.getFullYear(),\n             now.getMonth(),\n             1) \n\nvar result = new Date(\n             mStart.getFullYear(),\n             mStart.getMonth()+1,\n             1 + ((7 + msg.dayofweek - mStart.getDay()) % 7) + weekCount)\nmsg.result = result;\n\nif (today <= result.getDate()) {\n    if (today == (result.getDate()-1)) {\n        msg.payload = \"I morgen\";\n    } else if (today == result.getDate()) {\n        msg.payload = \"I dag\";\n    } else {\n        var day = String(result.getDate());\n        var month = String(result.getMonth());\n        var year = String(result.getFullYear());\n        msg.month = month\n        msg.day = day\n        msg.year = year\n\n        if (month == \"0\") { month = \"12\"; year = year-1 }\n\n        msg.payload = day + \".\" + month + \".\" + year;\n    }\n} else {\n    var mStart = new Date(\n                 now.getFullYear(),\n                 now.getMonth() + 1,\n                 1) \n\n    var result = new Date(\n                 mStart.getFullYear(),\n                 mStart.getMonth()+1,\n                 1 + ((7 + msg.dayofweek - mStart.getDay()) % 7) + weekCount)\n    msg.result = result;\n\n    var day = String(result.getDate());\n    var month = String(result.getMonth());\n    var year = String(result.getFullYear());\n\n    msg.payload = day + \".\" + month + \".\" + year;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":220,"wires":[["404b346c.804e6c"]]},{"id":"404b346c.804e6c","type":"function","z":"d516839.595028","name":"Reset MSG","func":"var newMsg = { payload: msg.payload, topic: msg.topic };\nreturn newMsg;","outputs":1,"noerr":0,"x":840,"y":220,"wires":[[]]},{"id":"4d8978f8.4fa1b8","type":"api-call-service","z":"34897e80.661b32","name":"Notify Christian - Motorola","server":"76ca0172.30ea9","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_moto_g_8_plus","entityId":"","data":"{\"title\":\"Ringeklokke\",\"message\":\"Det ringer på døren\",\"data\":{\"tag\":\"866050\",\"image\":\"https://home.trab.dk/local/frontdoor.jpg\",\"color\":\"#FFFF00\",\"icon\":\"https://home.trab.dk/local/notification-icons/doorbell.png\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":190,"y":480,"wires":[[]]},{"id":"cbc986f5.4fbad8","type":"stoptimer","z":"34897e80.661b32","duration":"5","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":580,"y":260,"wires":[["e7bc1b51.e86b58"],[]]},{"id":"c8312f31.9f55a","type":"api-call-service","z":"34897e80.661b32","name":"Turn off doorbell","server":"76ca0172.30ea9","version":"1","debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.doorbell_control_active","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":200,"wires":[["cbc986f5.4fbad8"]]},{"id":"e7bc1b51.e86b58","type":"api-call-service","z":"34897e80.661b32","name":"Turn on doorbell","server":"76ca0172.30ea9","version":"1","debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.doorbell_control_active","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":320,"wires":[[]]},{"id":"47e10a3.a86eff4","type":"ha-get-entities","z":"34897e80.661b32","server":"76ca0172.30ea9","name":"Doorbell devices","rules":[{"property":"state","logic":"is","value":"on","valueType":"str"},{"property":"entity_id","logic":"starts_with","value":"input_boolean.doorbell_sound_","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":790,"y":100,"wires":[["a3019a6c.05a2a8"]]},{"id":"7de54e18.3073e","type":"cast-to-client","z":"34897e80.661b32","name":"","url":"http://iot.trab.dk/sounds/doorbell-001.mp3","contentType":"audio/mp3","message":"","language":"en","ip":"","port":"","volume":"","x":970,"y":160,"wires":[[]]},{"id":"a3019a6c.05a2a8","type":"function","z":"34897e80.661b32","name":"Translate to IP","func":"if (msg.payload.entity_id == \"input_boolean.doorbell_sound_livingroom\" && msg.payload.state == \"on\") {\n    msg.ip = \"192.168.1.132\"\n    msg.payload.entity_id = \"media_player.livingroom\"\n} else if (msg.payload.entity_id == \"input_boolean.doorbell_sound_diningroom\" && msg.payload.state == \"on\") {\n    msg.ip = \"192.168.1.246\"\n    msg.payload.entity_id = \"media_player.diningroom\"\n} else if (msg.payload.entity_id == \"input_boolean.doorbell_sound_bedroom\" && msg.payload.state == \"on\") {\n    msg.ip = \"192.168.1.169\"\n    msg.payload.entity_id = \"media_player.bedroom\"\n} else if (msg.payload.entity_id == \"input_boolean.doorbell_sound_bathroom\" && msg.payload.state == \"on\") {\n    msg.ip = \"192.168.1.247\"\n    msg.payload.entity_id = \"media_player.bathroom\"\n} else if (msg.payload.entity_id == \"input_boolean.doorbell_sound_kitchen\" && msg.payload.state == \"on\") {\n    msg.ip = \"192.168.1.216\"\n    msg.payload.entity_id = \"media_player.kitchen\"\n} else if (msg.payload.entity_id == \"input_boolean.doorbell_sound_christian\" && msg.payload.state == \"on\") {\n    msg.ip = \"192.168.1.108\"\n    msg.payload.entity_id = \"media_player.gh_christian\"\n}\n\n//msg.volume_level = 0.2\nmsg.muted = false\n\nreturn msg","outputs":1,"noerr":0,"x":800,"y":160,"wires":[["7de54e18.3073e"]]},{"id":"b1bd075a.6aa658","type":"time-range-switch","z":"34897e80.661b32","name":"Time Limit","lat":"","lon":"","startTime":"07:00","endTime":"22:00","startOffset":0,"endOffset":0,"x":570,"y":140,"wires":[["47e10a3.a86eff4"],[]]},{"id":"dbae122a.c0517","type":"inject","z":"ea74e623.011278","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":960,"y":440,"wires":[["dbff5255.224fa","a0dad84f.119b88","e9d50841.eb19b8"]]},{"id":"a6e017bb.b286a8","type":"multiblindcontroller","z":"ea74e623.011278","name":"","x":620,"y":1220,"wires":[[]]},{"id":"672ff931.fcfc68","type":"inject","z":"3f07287f.dc1d48","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":480,"y":60,"wires":[["50da9bf4.2a1794"]]},{"id":"6255c362.005f4c","type":"api-current-state","z":"34897e80.661b32","name":"Christian is home","server":"76ca0172.30ea9","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.moto_g_8_plus_2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":170,"y":420,"wires":[["4d8978f8.4fa1b8"],[]]},{"id":"c13690fe.d3447","type":"comment","z":"34897e80.661b32","name":"Push Notifications","info":"","x":110,"y":380,"wires":[]},{"id":"743a84ec.95b1bc","type":"comment","z":"34897e80.661b32","name":"Control and trigger","info":"","x":110,"y":40,"wires":[]},{"id":"ea29849d.45c058","type":"influxdb in","z":"9eb49d26.9483b","influxdb":"8f0114d.5f419e8","name":"Influx","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":450,"y":200,"wires":[["b98d665e.00f1a8"]]},{"id":"3fb432aa.4bb34e","type":"inject","z":"9eb49d26.9483b","name":"","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":200,"wires":[["a8e420fb.4b13f"]]},{"id":"a8e420fb.4b13f","type":"function","z":"9eb49d26.9483b","name":"Query Database","func":"function twoDig(val) {return (('0'+val).slice(-2));}\n\nvar now = new Date()\nvar dateStartDay = twoDig(now.getDate() - 1)\nvar dateStartHour = twoDig(now.getHours())\n\nif (dateStartDay === \"00\") {\n    dateStartDay = twoDig(\"1\")\n    dateStartHour = twoDig(\"0\")\n}\n\nvar dateStart = now.getFullYear() + \"-\" + twoDig(now.getMonth() + 1) + \"-\" + dateStartDay + \" \" + dateStartHour + \":00:00\"\nvar dateEnd = now.getFullYear() + \"-\" + twoDig(now.getMonth() + 1) + \"-\" + twoDig(now.getDate()) + \"  \" + twoDig(now.getHours()) + \":00:00\"\n\nmsg.query = \"SELECT \\\"value\\\" FROM \\\"mm\\\" WHERE (entity_id = 'meteobridge_precip_total') AND (time >= '\" + dateStart + \"' AND time <= '\" + dateEnd + \"') ORDER BY time DESC\"\nmsg.topic = \"Yesterday\"\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":200,"wires":[["ea29849d.45c058"]]},{"id":"b98d665e.00f1a8","type":"function","z":"9eb49d26.9483b","name":"Calculate value","func":"if (msg.payload.length === 0) {\n    msg.payload = parseFloat(\"0\")\n} else {\n    msg.payload = parseFloat((msg.payload[0].value - msg.payload[msg.payload.length-1].value)).toFixed(1)\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":200,"wires":[["1a0dae17.afb2a2"]]},{"id":"1a0dae17.afb2a2","type":"mqtt out","z":"9eb49d26.9483b","name":"Post to MQTT","topic":"weather/rain_last_24hours","qos":"","retain":"true","broker":"f9f1082f.f35368","x":780,"y":200,"wires":[]},{"id":"e079d088.12184","type":"comment","z":"9eb49d26.9483b","name":"Rain last 24 hours","info":"","x":110,"y":160,"wires":[]},{"id":"13129820.67b168","type":"api-call-service","z":"ba036d91.9f6dd","name":"Switch off","server":"76ca0172.30ea9","version":"1","service_domain":"input_boolean","service":"turn_off","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":420,"y":40,"wires":[[]]},{"id":"21f33c41.206064","type":"function","z":"ba036d91.9f6dd","name":"Set entity_id","func":"msg.payload = {\n    \"data\": {\n        \"entity_id\": msg.topic\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":40,"wires":[["13129820.67b168"]]},{"id":"1c90a045.04118","type":"server-state-changed","z":"ba036d91.9f6dd","name":"Stop","server":"76ca0172.30ea9","version":1,"entityidfilter":"input_boolean.radio_control_stop","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":120,"wires":[["21f33c41.206064","3dc29959.2c5bd6"],[]]},{"id":"4a4ac4ae.f2485c","type":"server-state-changed","z":"ba036d91.9f6dd","name":"Vol +","server":"76ca0172.30ea9","version":1,"entityidfilter":"input_boolean.radio_control_vol_up","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":240,"wires":[["21f33c41.206064","b5a6b341.a504e"],[]]},{"id":"2be7a889.bce878","type":"server-state-changed","z":"ba036d91.9f6dd","name":"Vol -","server":"76ca0172.30ea9","version":1,"entityidfilter":"input_boolean.radio_control_vol_down","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":300,"wires":[["21f33c41.206064","5760fce7.b5b094"],[]]},{"id":"43630acf.0d1624","type":"comment","z":"379850dc.1ca32","name":"Badeværelse","info":"","x":90,"y":2620,"wires":[]},{"id":"a90307fa.c58df8","type":"server-state-changed","z":"379850dc.1ca32","name":"Bathroom Light State","server":"76ca0172.30ea9","version":1,"entityidfilter":"light.bathroom","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":140,"y":2680,"wires":[["59085a90.ca7f14"],["b0fd55ae.391f88"]]},{"id":"59085a90.ca7f14","type":"stoptimer","z":"379850dc.1ca32","duration":"1","units":"Hour","payloadtype":"num","payloadval":"0","name":"","x":490,"y":2680,"wires":[["e780b74b.6cc6e8"],[]]},{"id":"b0fd55ae.391f88","type":"change","z":"379850dc.1ca32","name":"Stop Timers","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":2700,"wires":[["59085a90.ca7f14"]]},{"id":"e780b74b.6cc6e8","type":"api-call-service","z":"379850dc.1ca32","name":"Turn Off Bathroom","server":"76ca0172.30ea9","version":"1","service_domain":"light","service":"turn_off","entityId":"light.bathroom","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":670,"y":2680,"wires":[[]]},{"id":"d8705c11.70f73","type":"function","z":"ba036d91.9f6dd","name":"Entities","func":"var player = \"\"\n\nif (msg.player.toLowerCase() == \"stue\") {\n    player = \"media_player.chromecastaudio6578\"\n} else if (msg.player.toLowerCase() == \"spisestue\") {\n    player = \"media_player.diningroom\"\n} else if (msg.player.toLowerCase() == \"soveværelse\") {\n    player = \"media_player.bedroom\"\n} else if (msg.player.toLowerCase() == \"badeværelse\") {\n    player = \"media_player.bathroom\"\n} else if (msg.player.toLowerCase() == \"køkken\") {\n    player = \"media_player.kitchen\"\n}\n\n\nmsg.payload = {\n    \"service\": \"media_stop\",\n    \"data\": {\n        \"entity_id\": player\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":120,"wires":[["dcfa550b.8bb988","cea03ec2.392f4"]]},{"id":"975d672b.ae25c8","type":"function","z":"ba036d91.9f6dd","name":"Entities","func":"var player = \"\"\n\nif (msg.player.toLowerCase() == \"stue\") {\n    player = \"media_player.chromecastaudio6578\"\n} else if (msg.player.toLowerCase() == \"spisestue\") {\n    player = \"media_player.diningroom\"\n} else if (msg.player.toLowerCase() == \"soveværelse\") {\n    player = \"media_player.bedroom\"\n} else if (msg.player.toLowerCase() == \"badeværelse\") {\n    player = \"media_player.bathroom\"\n} else if (msg.player.toLowerCase() == \"køkken\") {\n    player = \"media_player.kitchen\"\n}\n\n\nmsg.payload = {\n    \"service\": \"volume_up\",\n    \"data\": {\n        \"entity_id\": player\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":240,"wires":[["dcfa550b.8bb988"]]},{"id":"7bfaefa4.7eae5","type":"function","z":"ba036d91.9f6dd","name":"Entities","func":"var player = \"\"\n\nif (msg.player.toLowerCase() == \"stue\") {\n    player = \"media_player.chromecastaudio6578\"\n} else if (msg.player.toLowerCase() == \"spisestue\") {\n    player = \"media_player.diningroom\"\n} else if (msg.player.toLowerCase() == \"soveværelse\") {\n    player = \"media_player.bedroom\"\n} else if (msg.player.toLowerCase() == \"badeværelse\") {\n    player = \"media_player.bathroom\"\n} else if (msg.player.toLowerCase() == \"køkken\") {\n    player = \"media_player.kitchen\"\n}\n\n\nmsg.payload = {\n    \"service\": \"volume_down\",\n    \"data\": {\n        \"entity_id\": player\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":300,"wires":[["dcfa550b.8bb988"]]},{"id":"55f14e7c.96138","type":"server-state-changed","z":"3f07287f.dc1d48","name":"Watch - Morten","server":"76ca0172.30ea9","version":1,"entityidfilter":"sensor.wear_mortenoneplus_battery_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"15","halt_if_type":"num","halt_if_compare":"lt","outputs":2,"output_only_on_state_change":true,"x":120,"y":340,"wires":[["46d02f94.a2889"],["e68842a8.9a08c"]]},{"id":"46d02f94.a2889","type":"switch","z":"3f07287f.dc1d48","name":"","property":"mt_wear_notified","propertyType":"flow","rules":[{"t":"null"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":320,"wires":[["20e9e01e.ff736"],["20e9e01e.ff736"]]},{"id":"20e9e01e.ff736","type":"function","z":"3f07287f.dc1d48","name":"Set Payload","func":"msg.payload = {\n    \"data\": {\n        \"title\": \"Lav batteri niveau på dit ur!\",\n        \"message\": \"Batteri niveau på dit ur er nu \" + msg.payload + \"%\",\n        \"data\": {\n            \"tag\": \"9999\"\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":320,"wires":[["73c3b208.5a6e2c"]]},{"id":"73c3b208.5a6e2c","type":"change","z":"3f07287f.dc1d48","name":"Notified On","rules":[{"t":"set","p":"mt_wear_notified","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"mt_wear_cancled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":320,"wires":[["5b411867.34c218"]]},{"id":"d0ab4628.ccad78","type":"change","z":"3f07287f.dc1d48","name":"Batt. over threshold","rules":[{"t":"set","p":"mt_wear_notified","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":360,"wires":[["b637b4f2.81d368"]]},{"id":"b637b4f2.81d368","type":"function","z":"3f07287f.dc1d48","name":"Set Payload","func":"msg.payload = {\n    \"data\": {\n        \"title\": \"Lav batteri niveau på dit ur!\",\n        \"message\": \"Batteri niveau på dit ur er nu \" + msg.payload + \"%\",\n        \"data\": {\n            \"tag\": \"9999\",\n            \"dismiss\": true\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":360,"wires":[["1a3cca58.fd4066"]]},{"id":"e68842a8.9a08c","type":"switch","z":"3f07287f.dc1d48","name":"","property":"mt_wear_notified","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":360,"wires":[["d0ab4628.ccad78"]]},{"id":"1a3cca58.fd4066","type":"change","z":"3f07287f.dc1d48","name":"Notified Off","rules":[{"t":"set","p":"mt_wear_notified","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"mt_wear_cancled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":360,"wires":[["ef4836f0.5051c8"]]},{"id":"9fc78e73.c2223","type":"debug","z":"379850dc.1ca32","name":"LUX level","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":300,"y":400,"wires":[]},{"id":"74c2b69c.933bc8","type":"change","z":"379850dc.1ca32","name":"Set value","rules":[{"t":"set","p":"kitchen_lux","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":360,"wires":[[]]},{"id":"c7ad0f87.bfd25","type":"blindcontroller","z":"8a641acf.d79398","name":"Test Controller","mode":"Winter","channel":"1","orientation":"160","noffset":"45","poffset":"45","top":"180","bottom":"5","depth":"100","altitudethreshold":"","increment":"5","maxopen":"0","maxclosed":"100","temperaturethreshold":"","temperaturethresholdposition":"","cloudsthreshold":"","cloudsthresholdposition":"","uvindexthreshold":"","uvindexthresholdposition":"","nightposition":"100","expiryperiod":"120","opposite":false,"x":640,"y":440,"wires":[["40d35282.55c30c"]]},{"id":"c7b51608.c940d8","type":"sunpos","z":"8a641acf.d79398","name":"Sunpos","lon":"9.880392","lat":"55.995212","start":"sunrise","startoffset":0,"end":"sunset","endoffset":0,"x":280,"y":440,"wires":[["c7ad0f87.bfd25","99847284.ae332","40d35282.55c30c"]]},{"id":"40d35282.55c30c","type":"debug","z":"8a641acf.d79398","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":810,"y":400,"wires":[]},{"id":"9b749638.89ad88","type":"inject","z":"8a641acf.d79398","name":"","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":440,"wires":[["c7b51608.c940d8"]]},{"id":"99847284.ae332","type":"forecastio","z":"8a641acf.d79398","forecastio":"601ffd76.8f43f4","name":"","lon":"9.880392","lat":"55.995212","date":"","time":"","mode":"message","units":"auto","x":370,"y":400,"wires":[["f8d7d9f4.55a048"]]},{"id":"f8d7d9f4.55a048","type":"change","z":"8a641acf.d79398","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"weather","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":400,"wires":[["c7ad0f87.bfd25","40d35282.55c30c"]]},{"id":"aed145e9.d4b568","type":"change","z":"379850dc.1ca32","name":"Set value","rules":[{"t":"set","p":"stairs_lux","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":1180,"wires":[[]]},{"id":"3380e42e.17102c","type":"comment","z":"379850dc.1ca32","name":"Repos","info":"","x":70,"y":2800,"wires":[]},{"id":"a98c7449.e97588","type":"server-state-changed","z":"379850dc.1ca32","name":"Repos Light State","server":"76ca0172.30ea9","version":1,"entityidfilter":"light.repos","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":2860,"wires":[["a726087a.ae8458"],["d0a0fdbc.446ce"]]},{"id":"a726087a.ae8458","type":"stoptimer","z":"379850dc.1ca32","duration":"1","units":"Hour","payloadtype":"num","payloadval":"0","name":"","x":470,"y":2860,"wires":[["75e34e05.551d1"],[]]},{"id":"d0a0fdbc.446ce","type":"change","z":"379850dc.1ca32","name":"Stop Timers","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":2880,"wires":[["a726087a.ae8458"]]},{"id":"75e34e05.551d1","type":"api-call-service","z":"379850dc.1ca32","name":"Turn Off Repos","server":"76ca0172.30ea9","version":"1","service_domain":"light","service":"turn_off","entityId":"light.repos","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":640,"y":2860,"wires":[[]]},{"id":"62b1058a.6d1cdc","type":"api-call-service","z":"8bcd9459.b2efa8","name":"Lock værksted door","server":"76ca0172.30ea9","version":1,"debugenabled":false,"service_domain":"lock","service":"lock","entityId":"lock.vaerksted","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":140,"wires":[[]]},{"id":"4bc797ca.55ac28","type":"api-call-service","z":"34897e80.661b32","name":"Take Snapshot","server":"76ca0172.30ea9","version":1,"debugenabled":false,"service_domain":"camera","service":"snapshot","entityId":"camera.frontdoor","data":"{\"filename\":\"/config/www/frontdoor.jpg\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":320,"y":200,"wires":[["afa04cf0.e42ad","6255c362.005f4c"]]},{"id":"e20f5b67.82d4a8","type":"server-state-changed","z":"379850dc.1ca32","name":"Kitchen Motion","server":"76ca0172.30ea9","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.kitchen_pir_73","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":260,"wires":[["42121f2.0d94de","1788aeba.e21bc1","2f663bd6.650c64","8ceb3dbe.8da77"],["bfe6d867.b648f8"]]},{"id":"59ad317d.8c1fd","type":"server-state-changed","z":"ba036d91.9f6dd","name":"Play","server":"76ca0172.30ea9","version":1,"entityidfilter":"input_boolean.radio_control_play","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":180,"wires":[["21f33c41.206064","ac5f80fd.29af9"],[]]},{"id":"dcfa550b.8bb988","type":"api-call-service","z":"ba036d91.9f6dd","name":"Do the stuff","server":"76ca0172.30ea9","version":1,"service_domain":"media_player","service":"","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":870,"y":240,"wires":[[]]},{"id":"27e482b5.097c7e","type":"function","z":"ba036d91.9f6dd","name":"Entities","func":"var player = \"\"\n\nif (msg.player.toLowerCase() == \"stue\") {\n    player = \"media_player.chromecastaudio6578\"\n} else if (msg.player.toLowerCase() == \"spisestue\") {\n    player = \"media_player.diningroom\"\n} else if (msg.player.toLowerCase() == \"soveværelse\") {\n    player = \"media_player.bedroom\"\n} else if (msg.player.toLowerCase() == \"badeværelse\") {\n    player = \"media_player.bathroom\"\n} else if (msg.player.toLowerCase() == \"køkken\") {\n    player = \"media_player.kitchen\"\n}\n\nvar channels = flow.get(\"channels\")\n\nvar channel = channels[msg.channel.toLowerCase().replace(/\\s/g, '_')]\n\nmsg.var_channel = channel\n\nmsg.payload = {\n    \"service\": \"play_media\",\n    \"data\": {\n        \"entity_id\": player,\n        \"media_content_id\": channel[\"url\"],\n        \"media_content_type\": channel[\"type\"]\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":180,"wires":[["cea03ec2.392f4","dcfa550b.8bb988"]]},{"id":"3dc29959.2c5bd6","type":"api-current-state","z":"ba036d91.9f6dd","name":"Which Player","server":"76ca0172.30ea9","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.radio_device","state_type":"str","state_location":"player","override_payload":"msg","entity_location":"player_data","override_data":"msg","blockInputOverrides":false,"x":270,"y":120,"wires":[["d8705c11.70f73"]]},{"id":"4f3ec45f.a5733c","type":"inject","z":"ba036d91.9f6dd","name":"Set Services","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":610,"y":40,"wires":[["f8f05b62.9bc818"]]},{"id":"ac5f80fd.29af9","type":"api-current-state","z":"ba036d91.9f6dd","name":"Which Player","server":"76ca0172.30ea9","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.radio_device","state_type":"str","state_location":"player","override_payload":"msg","entity_location":"player_data","override_data":"msg","blockInputOverrides":false,"x":270,"y":180,"wires":[["b9546cdb.65a51"]]},{"id":"b9546cdb.65a51","type":"api-current-state","z":"ba036d91.9f6dd","name":"Which Channel","server":"76ca0172.30ea9","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.radio_channel","state_type":"str","state_location":"channel","override_payload":"msg","entity_location":"channel_data","override_data":"msg","blockInputOverrides":false,"x":500,"y":180,"wires":[["27e482b5.097c7e"]]},{"id":"b5a6b341.a504e","type":"api-current-state","z":"ba036d91.9f6dd","name":"Which Player","server":"76ca0172.30ea9","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.radio_device","state_type":"str","state_location":"player","override_payload":"msg","entity_location":"player_data","override_data":"msg","blockInputOverrides":false,"x":270,"y":240,"wires":[["975d672b.ae25c8"]]},{"id":"5760fce7.b5b094","type":"api-current-state","z":"ba036d91.9f6dd","name":"Which Player","server":"76ca0172.30ea9","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.radio_device","state_type":"str","state_location":"player","override_payload":"msg","entity_location":"player_data","override_data":"msg","blockInputOverrides":false,"x":270,"y":300,"wires":[["7bfaefa4.7eae5"]]},{"id":"a58bb5f6.11e0a8","type":"server-state-changed","z":"ba036d91.9f6dd","name":"Mute","server":"76ca0172.30ea9","version":1,"entityidfilter":"input_boolean.radio_control_mute","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":360,"wires":[["e215e7b6.c68848"],["e215e7b6.c68848"]]},{"id":"88723d3a.0ba51","type":"function","z":"ba036d91.9f6dd","name":"Entities","func":"var player = \"\"\n\nif (msg.player.toLowerCase() == \"stue\") {\n    player = \"media_player.chromecastaudio6578\"\n} else if (msg.player.toLowerCase() == \"spisestue\") {\n    player = \"media_player.diningroom\"\n} else if (msg.player.toLowerCase() == \"soveværelse\") {\n    player = \"media_player.bedroom\"\n} else if (msg.player.toLowerCase() == \"badeværelse\") {\n    player = \"media_player.bathroom\"\n} else if (msg.player.toLowerCase() == \"køkken\") {\n    player = \"media_player.kitchen\"\n}\n\nvar mute = \"false\"\n\nif (msg.payload == \"on\") {\n    mute = \"true\"\n}\n\nmsg.payload = {\n    \"service\": \"volume_mute\",\n    \"data\": {\n        \"entity_id\": player,\n        \"is_volume_muted\": mute\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":360,"wires":[["dcfa550b.8bb988"]]},{"id":"e215e7b6.c68848","type":"api-current-state","z":"ba036d91.9f6dd","name":"Which Player","server":"76ca0172.30ea9","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.radio_device","state_type":"str","state_location":"player","override_payload":"msg","entity_location":"player_data","override_data":"msg","blockInputOverrides":false,"x":270,"y":360,"wires":[["88723d3a.0ba51"]]},{"id":"cea03ec2.392f4","type":"debug","z":"ba036d91.9f6dd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":180,"wires":[]},{"id":"f8f05b62.9bc818","type":"function","z":"ba036d91.9f6dd","name":"Set flow channels","func":"let channels = {\n    \"dr_p4\": {\n        \"url\": \"http://live-icy.gss.dr.dk/A/A14H.mp3\",\n        \"type\": \"music\"\n    },\n    \"dr_p3\": {\n        \"url\": \"http://live-icy.gss.dr.dk/A/A05H.mp3\",\n        \"type\": \"music\"\n    },\n    \"vlr\": {\n        \"url\": \"http://webradio.vlr.dk/vlrvejle\",\n        \"type\": \"music\"\n    },\n    \"alfa\": {\n        \"url\": \"http://89.249.7.68/alfa\",\n        \"type\": \"music\"\n    },\n    \"radio_abc\": {\n        \"url\": \"http://89.249.7.68/abc\",\n        \"type\": \"music\"\n    },\n    \"discover_weekly_playlist\": {\n        \"url\": \"spotify:playlist:37i9dQZEVXcXzdOGOPVgoR\",\n        \"type\": \"playlist\"\n    },\n    \"nova_fm\": {\n        \"url\": \"http://stream.novafm.dk:80/nova128\",\n        \"type\": \"music\"\n    }\n}\n\nflow.set(\"channels\", channels)","outputs":1,"noerr":0,"x":790,"y":40,"wires":[[]]},{"id":"222f13fe.337b3c","type":"server-state-changed","z":"19e6954.3f28a6b","name":"Morten","server":"76ca0172.30ea9","version":1,"entityidfilter":"proximity.morten","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":100,"wires":[["88a788c6.49fed8","ae162d81.6c379"]]},{"id":"88a788c6.49fed8","type":"switch","z":"19e6954.3f28a6b","name":"Going Home?","property":"data.attributes.dir_of_travel","propertyType":"msg","rules":[{"t":"eq","v":"towards","vt":"str"},{"t":"eq","v":"away_from","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":240,"y":100,"wires":[["2a83f75c.370288"],["c16789b4.9a35d8"]]},{"id":"c16789b4.9a35d8","type":"api-current-state","z":"19e6954.3f28a6b","name":"På cykel?","server":"76ca0172.30ea9","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.morten_cykel","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":460,"y":140,"wires":[["37753e9.85c7ec2"],[]]},{"id":"2a83f75c.370288","type":"api-current-state","z":"19e6954.3f28a6b","name":"På cykel?","server":"76ca0172.30ea9","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.morten_cykel","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":460,"y":80,"wires":[["84d480bd.0e78d"],[]]},{"id":"737696c7.df5ce8","type":"api-call-service","z":"19e6954.3f28a6b","name":"Lås Dør Op","server":"76ca0172.30ea9","version":"1","service_domain":"lock","service":"unlock","entityId":"lock.vaerksteds_dor_39","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":770,"y":80,"wires":[["252b721f.f5961e"]]},{"id":"252b721f.f5961e","type":"api-call-service","z":"19e6954.3f28a6b","name":"Cykel Switch Off","server":"76ca0172.30ea9","version":"1","service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.morten_cykel","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":940,"y":80,"wires":[[]]},{"id":"7c4b5cee.f0bab4","type":"link in","z":"19e6954.3f28a6b","name":"Cykel","links":["c73435ee.54a528"],"x":335,"y":40,"wires":[["2a83f75c.370288"]]},{"id":"c73435ee.54a528","type":"link out","z":"fb4af5e0.49ea88","name":"","links":["7c4b5cee.f0bab4"],"x":615,"y":40,"wires":[]},{"id":"84d480bd.0e78d","type":"api-current-state","z":"19e6954.3f28a6b","name":"Lås State","server":"76ca0172.30ea9","version":1,"outputs":2,"halt_if":"locked","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"lock.vaerksteds_dor_39","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":600,"y":80,"wires":[["737696c7.df5ce8"],[]]},{"id":"8637315.60469d","type":"link in","z":"8bcd9459.b2efa8","name":"Værksted Lock","links":["37753e9.85c7ec2"],"x":135,"y":160,"wires":[["c6ffda54.7ec658"]]},{"id":"37753e9.85c7ec2","type":"link out","z":"19e6954.3f28a6b","name":"","links":["8637315.60469d"],"x":555,"y":140,"wires":[]},{"id":"d180dd47.9f375","type":"comment","z":"8a641acf.d79398","name":"Automatik til rullegardiner","info":"","x":130,"y":360,"wires":[]},{"id":"844dd714.fccf58","type":"comment","z":"19e6954.3f28a6b","name":"Auto lås/oplås værksted","info":"","x":120,"y":40,"wires":[]},{"id":"5748037b.75e34c","type":"change","z":"2d493087.12ff1","name":"Blade blocked","rules":[{"t":"set","p":"payload","pt":"msg","to":"<emphasis level=\"strong\">Advarsel!</emphasis><break time=\"300ms\" /> Plæneklipperens knive er blokeret!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":120,"wires":[["1aa6ab5a.4a9135"]]},{"id":"e100813e.46bc5","type":"Drives","z":"3f07287f.dc1d48","name":"","x":270,"y":460,"wires":[["7fbd5793.9eb4a8"]]},{"id":"5732b4a7.41771c","type":"inject","z":"3f07287f.dc1d48","name":"","topic":"","payload":"","payloadType":"date","repeat":"7200","crontab":"","once":true,"onceDelay":"5","x":130,"y":460,"wires":[["e100813e.46bc5"]]},{"id":"7fbd5793.9eb4a8","type":"switch","z":"3f07287f.dc1d48","name":"Over threshold?","property":"payload[0].capacity","propertyType":"msg","rules":[{"t":"gt","v":"0.85","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":460,"wires":[["ef9956a7.20cb48"]]},{"id":"a1d3ab13.16e548","type":"comment","z":"3f07287f.dc1d48","name":"Notify when disc space is getting low","info":"","x":180,"y":420,"wires":[]},{"id":"ef9956a7.20cb48","type":"function","z":"3f07287f.dc1d48","name":"Set Payload","func":"msg.payload = {\n    \"data\": {\n        \"title\": \"Disk plads snart opbrugt!\",\n        \"message\": \"Home Assistant disk forbrug er nu \" + (msg.payload[0].capacity * 100) + \"%\",\n        \"data\": {\n            \"tag\": \"9998\"\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":460,"wires":[["e96de478.144e18"]]},{"id":"15698eae.7976a1","type":"api-current-state","z":"ac1bf000.010ad","name":"Christian","server":"76ca0172.30ea9","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.christian","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":220,"y":100,"wires":[["5d68b45c.745dac"]]},{"id":"3a6575f5.4eb9ca","type":"api-current-state","z":"ac1bf000.010ad","name":"Gæster","server":"76ca0172.30ea9","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.presence_override","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":220,"y":280,"wires":[["5d68b45c.745dac"]]},{"id":"b3f9768b.9ba988","type":"api-current-state","z":"ac1bf000.010ad","name":"Morten","server":"76ca0172.30ea9","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.morten","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":220,"y":220,"wires":[["5d68b45c.745dac"]]},{"id":"14112559.37c39b","type":"api-current-state","z":"ac1bf000.010ad","name":"Michael","server":"76ca0172.30ea9","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.michael","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":220,"y":160,"wires":[["5d68b45c.745dac"]]},{"id":"53ae57e9.390138","type":"api-current-state","z":"ac1bf000.010ad","name":"Britta","server":"76ca0172.30ea9","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.britta","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":210,"y":40,"wires":[["5d68b45c.745dac"]]},{"id":"5d68b45c.745dac","type":"join","z":"ac1bf000.010ad","name":"Join results","mode":"custom","build":"array","property":"data.state","propertyType":"msg","key":"data.entity_id","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":470,"y":160,"wires":[["76820612.12e958"]]},{"id":"76820612.12e958","type":"function","z":"ac1bf000.010ad","name":"Is home or not?","func":"var i;\nvar home = false;\n\nfor (i = 0; i < msg.data.state.length; i++) {\n    if (msg.data.state[i] == \"home\" || msg.data.state[i] == \"on\") {\n        home = true\n    }\n}\n\n//var newMsg = { payload: home, topic: \"presence\" };\n//return newMsg;\n\nmsg.payload = home;\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":160,"wires":[[]]},{"id":"8c2b594f.f7d278","type":"comment","z":"ac1bf000.010ad","name":"Husk at sætte count i \"Join Results\" til samme som antal entities der tjekkes imod","info":"","x":680,"y":120,"wires":[]},{"id":"107cb49b.3acd6b","type":"subflow:ac1bf000.010ad","z":"379850dc.1ca32","name":"","env":[],"x":600,"y":280,"wires":[["b0dd88c9.43bb68"]]},{"id":"72f3e474.51b26c","type":"server-state-changed","z":"19e6954.3f28a6b","name":"Morten","server":"76ca0172.30ea9","version":1,"entityidfilter":"person.morten","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":110,"y":280,"wires":[["e25c924c.b115e"]]},{"id":"e46111fe.6357c","type":"server-state-changed","z":"19e6954.3f28a6b","name":"Britta","server":"76ca0172.30ea9","version":"1","entityidfilter":"person.britta","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":110,"y":340,"wires":[["e25c924c.b115e"]]},{"id":"efe8acf3.043b6","type":"server-state-changed","z":"19e6954.3f28a6b","name":"Michael","server":"76ca0172.30ea9","version":1,"entityidfilter":"person.michael","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":110,"y":400,"wires":[["e25c924c.b115e"]]},{"id":"fc181fef.27361","type":"server-state-changed","z":"19e6954.3f28a6b","name":"Christian","server":"76ca0172.30ea9","version":1,"entityidfilter":"person.christian","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":100,"y":460,"wires":[["e25c924c.b115e","f784592c.5f86b8"]]},{"id":"e25c924c.b115e","type":"subflow:ac1bf000.010ad","z":"19e6954.3f28a6b","name":"","x":300,"y":380,"wires":[["844403f7.25dcf"]]},{"id":"844403f7.25dcf","type":"switch","z":"19e6954.3f28a6b","name":"No one at home","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":380,"wires":[["1a67b45a.48f02c","1491bb74.4e38e5"]]},{"id":"1a67b45a.48f02c","type":"api-call-service","z":"19e6954.3f28a6b","name":"Turn off all lights","server":"76ca0172.30ea9","version":1,"service_domain":"light","service":"turn_off","entityId":"all","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":660,"y":400,"wires":[[]]},{"id":"d2402e7b.b13e4","type":"comment","z":"19e6954.3f28a6b","name":"Lock and turn off","info":"","x":100,"y":240,"wires":[]},{"id":"eb0ee3cf.f932d","type":"subflow:ac1bf000.010ad","z":"379850dc.1ca32","name":"","x":540,"y":660,"wires":[["66c12e3a.26e4a"]]},{"id":"66c12e3a.26e4a","type":"switch","z":"379850dc.1ca32","name":"Only If Home","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":600,"wires":[["104a7742.7ea519"]]},{"id":"f1de1ef8.314dc","type":"subflow:ac1bf000.010ad","z":"379850dc.1ca32","name":"","x":560,"y":1020,"wires":[["191632e.1a9f4cd"]]},{"id":"191632e.1a9f4cd","type":"switch","z":"379850dc.1ca32","name":"Only If Home","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":1020,"wires":[["1efe46d4.7c25b9"]]},{"id":"222e4c2c.358634","type":"subflow:ac1bf000.010ad","z":"379850dc.1ca32","name":"","x":800,"y":1360,"wires":[["8ce6747f.59fde8"]]},{"id":"8ce6747f.59fde8","type":"switch","z":"379850dc.1ca32","name":"Only If Home","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":1360,"wires":[["b890949d.9c3228"]]},{"id":"852b51da.70a8f","type":"change","z":"379850dc.1ca32","name":"Reset Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":1900,"wires":[["eccf109f.93ad8"]]},{"id":"bc590e27.8fc79","type":"api-current-state","z":"2d493087.12ff1","name":"Landroid State","server":"76ca0172.30ea9","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.landroid_robotklipper_error","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":120,"y":160,"wires":[["3f35eb2f.22cf24"]]},{"id":"56ed4633.f5b9d8","type":"inject","z":"2d493087.12ff1","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":240,"wires":[["bc590e27.8fc79"]]},{"id":"b3ba7691.1de438","type":"subflow:ac1bf000.010ad","z":"2d493087.12ff1","name":"","env":[],"x":960,"y":60,"wires":[["b8c504f9.2e3f38"]]},{"id":"b8c504f9.2e3f38","type":"switch","z":"2d493087.12ff1","name":"Only If Home","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1110,"y":60,"wires":[["82d41a72.a1df98"]]},{"id":"4b7796d3.2c0f18","type":"server-state-changed","z":"3f07287f.dc1d48","name":"VMWare01","server":"76ca0172.30ea9","version":1,"entityidfilter":"binary_sensor.vmware01","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":560,"wires":[[],["d2fa7265.9dc67"]]},{"id":"1ab9d93b.160787","type":"server-state-changed","z":"3f07287f.dc1d48","name":"VMWare02","server":"76ca0172.30ea9","version":1,"entityidfilter":"binary_sensor.vmware02","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":620,"wires":[[],["d2fa7265.9dc67"]]},{"id":"d61d54.593332b","type":"server-state-changed","z":"3f07287f.dc1d48","name":"VMWare03","server":"76ca0172.30ea9","version":1,"entityidfilter":"binary_sensor.vmware03","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":680,"wires":[[],["d2fa7265.9dc67"]]},{"id":"b8973946.3948f8","type":"server-state-changed","z":"3f07287f.dc1d48","name":"VMWare04","server":"76ca0172.30ea9","version":1,"entityidfilter":"binary_sensor.vmware04","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":740,"wires":[[],["d2fa7265.9dc67"]]},{"id":"d2fa7265.9dc67","type":"switch","z":"3f07287f.dc1d48","name":"If off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":640,"wires":[["c17bef4e.00b4f"]]},{"id":"c17bef4e.00b4f","type":"function","z":"3f07287f.dc1d48","name":"Set Payload","func":"var arrDevice = msg.data.entity_id.split(\".\");\nvar device = arrDevice[1];\n\nmsg.payload = {\n    \"data\": {\n        \"title\": \"Device offline!\",\n        \"message\": device + \" svarer ikke længere!\",\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":640,"wires":[["a1bb05fc.2887f8"]]},{"id":"8ace6dd1.ca52c","type":"comment","z":"3f07287f.dc1d48","name":"Notify when critical device goes offline","info":"","x":190,"y":520,"wires":[]},{"id":"c6ffda54.7ec658","type":"api-current-state","z":"8bcd9459.b2efa8","name":"Unlocked","server":"76ca0172.30ea9","version":1,"outputs":2,"halt_if":"unlocked","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"lock.vaerksted","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":280,"y":140,"wires":[["62b1058a.6d1cdc"],[]]},{"id":"5f1fc4c5.36f6ac","type":"api-current-state","z":"8bcd9459.b2efa8","name":"Unlocked","server":"76ca0172.30ea9","version":1,"outputs":2,"halt_if":"unlocked","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"lock.hoveddor_38","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":280,"y":80,"wires":[["a7ca4f8a.91bad"],[]]},{"id":"995a4c8e.72191","type":"link in","z":"8bcd9459.b2efa8","name":"Lock All","links":["1491bb74.4e38e5"],"x":135,"y":120,"wires":[["5f1fc4c5.36f6ac","c6ffda54.7ec658"]]},{"id":"1491bb74.4e38e5","type":"link out","z":"19e6954.3f28a6b","name":"","links":["995a4c8e.72191"],"x":595,"y":360,"wires":[]},{"id":"4e5fc27e.f6ea3c","type":"api-current-state","z":"19e6954.3f28a6b","name":"Lås State","server":"76ca0172.30ea9","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"proximity.morten","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":620,"y":220,"wires":[["5e5a2cfe.6fa074"]]},{"id":"6ee30391.cb420c","type":"inject","z":"19e6954.3f28a6b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":220,"wires":[["4e5fc27e.f6ea3c"]]},{"id":"5e5a2cfe.6fa074","type":"debug","z":"19e6954.3f28a6b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":220,"wires":[]},{"id":"ae162d81.6c379","type":"debug","z":"19e6954.3f28a6b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":270,"y":140,"wires":[]},{"id":"8e78806b.d971e","type":"ha-get-entities","z":"3f07287f.dc1d48","server":"76ca0172.30ea9","name":"Batt. Level","rules":[{"property":"attributes.battery_level","logic":"lt","value":"25","valueType":"num"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":290,"y":260,"wires":[["1436c1f7.274bbe"]]},{"id":"1436c1f7.274bbe","type":"function","z":"3f07287f.dc1d48","name":"Rewrite","func":"var devLess = '';\n\nmsg.payload.forEach(function(entry) {\n    if ((entry.attributes.battery_level > 0) && (\n        entry.entity_id.includes(\"lock.\") ||\n        entry.entity_id.includes(\"binary_sensor.\") ||\n        entry.entity_id.includes(\"climate.\") ||\n        entry.entity_id.includes(\"sensor.\") ||\n        entry.entity_id.includes(\"switch.\"))\n       ) {\n           var type = entry.entity_id.split(\".\");\n        devLess = devLess + entry.attributes.friendly_name + \" (\" + type[0] + \") = \" + entry.attributes.battery_level + \"%, \";\n    }\n});\n\nif (devLess !== '') {\n  msg.payload =  {\n        \"data\": {\n            \"title\": \"Lav batteri\",\n            \"message\": devLess.substring(0, devLess.length - 2),\n            \"data\": {\n                \"tag\": \"100\"\n            }\n        }\n    }  \n} else {\n    msg.payload = '';\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":260,"wires":[["d93cea12.aad248"]]},{"id":"d85fcbb6.a009d8","type":"comment","z":"8a641acf.d79398","name":"Deepstack","info":"","x":80,"y":540,"wires":[]},{"id":"3307710.e271b9","type":"time-range-switch","z":"8a641acf.d79398","name":"Only at nights","lat":"55.995212","lon":"9.880392","startTime":"sunset","endTime":"00:00","startOffset":"","endOffset":"","x":820,"y":660,"wires":[["b251eeb4.581e1"],[]]},{"id":"b251eeb4.581e1","type":"link out","z":"8a641acf.d79398","name":"","links":["16bf11ca.caa9ae"],"x":935,"y":660,"wires":[]},{"id":"554309ce.d11bf8","type":"server-state-changed","z":"8a641acf.d79398","name":"Carport - car detector","server":"76ca0172.30ea9","version":1,"entityidfilter":"image_processing.carport_car_detector","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":140,"y":580,"wires":[["a1b7cfe1.964c3"]]},{"id":"ea3ac4a2.737fb8","type":"change","z":"8a641acf.d79398","name":"Set number","rules":[{"t":"set","p":"deepstack_carport_car","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":580,"wires":[[]]},{"id":"a1b7cfe1.964c3","type":"switch","z":"8a641acf.d79398","name":"Higher Number","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"unknown","vt":"str"},{"t":"gt","v":"deepstack_carport_car","vt":"flow"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":360,"y":580,"wires":[["5b3c2886.0f2db8"],["ea3ac4a2.737fb8","3307710.e271b9","19165aee.5c1355"],["ea3ac4a2.737fb8"]]},{"id":"19165aee.5c1355","type":"debug","z":"8a641acf.d79398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":790,"y":620,"wires":[]},{"id":"8e8da652.f9c738","type":"server-state-changed","z":"8a641acf.d79398","name":"Indkørsel - person detector","server":"76ca0172.30ea9","version":1,"entityidfilter":"image_processing.driveway_person_detector","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":150,"y":640,"wires":[["32fc7d5a.807462"]]},{"id":"10a82c69.8f1144","type":"change","z":"8a641acf.d79398","name":"Set number","rules":[{"t":"set","p":"deepstack_driveway_person","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":640,"wires":[[]]},{"id":"32fc7d5a.807462","type":"switch","z":"8a641acf.d79398","name":"Higher Number","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"unknown","vt":"str"},{"t":"gt","v":"deepstack_driveway_person","vt":"flow"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":360,"y":640,"wires":[["6e9e50a1.8925"],["10a82c69.8f1144","3307710.e271b9","19165aee.5c1355"],["10a82c69.8f1144"]]},{"id":"10af6479.8e69fc","type":"server-state-changed","z":"8a641acf.d79398","name":"Dør - person detector","server":"76ca0172.30ea9","version":1,"entityidfilter":"image_processing.frontdoor_person_detector","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":140,"y":700,"wires":[["f61c5c36.83963"]]},{"id":"fd8f97a8.9ee1e8","type":"change","z":"8a641acf.d79398","name":"Set number","rules":[{"t":"set","p":"deepstack_frontdoor_person","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":700,"wires":[[]]},{"id":"f61c5c36.83963","type":"switch","z":"8a641acf.d79398","name":"Higher Number","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"unknown","vt":"str"},{"t":"gt","v":"deepstack_frontdoor_person","vt":"flow"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":360,"y":700,"wires":[["42021429.4855bc"],["fd8f97a8.9ee1e8","3307710.e271b9","19165aee.5c1355"],["fd8f97a8.9ee1e8"]]},{"id":"5b3c2886.0f2db8","type":"change","z":"8a641acf.d79398","name":"Set 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":560,"wires":[["ea3ac4a2.737fb8"]]},{"id":"6e9e50a1.8925","type":"change","z":"8a641acf.d79398","name":"Set 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":620,"wires":[["10a82c69.8f1144"]]},{"id":"42021429.4855bc","type":"change","z":"8a641acf.d79398","name":"Set 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":680,"wires":[["fd8f97a8.9ee1e8"]]},{"id":"6d657aae.10c834","type":"server-state-changed","z":"379850dc.1ca32","name":"Trappe Motion","server":"76ca0172.30ea9","version":1,"entityidfilter":"binary_sensor.repos_motion_42","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":1040,"wires":[["e8397ef3.07c33","7977dff1.026dd","3a0f5a90.87d426"],["799b3e8b.cd1f5"]]},{"id":"e8397ef3.07c33","type":"api-current-state","z":"379850dc.1ca32","name":"LUX State","server":"76ca0172.30ea9","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.repos_light_44","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":150,"y":1120,"wires":[["aed145e9.d4b568"]]},{"id":"180ebcde.aef773","type":"change","z":"379850dc.1ca32","name":"Clear Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":720,"wires":[["8516e8d1.f66338"]]},{"id":"991f3442.0aa638","type":"inject","z":"379850dc.1ca32","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":640,"wires":[["253015ea.031fda","3ce270d1.5afc"]]},{"id":"2196f075.be28f","type":"cast-to-client","z":"2d493087.12ff1","name":"","url":"https://home.trab.dk/local/tts_christian.mp3","contentType":"","message":"","language":"da","ip":"192.168.1.108","port":"","volume":"60","x":950,"y":440,"wires":[[]]},{"id":"c185e9f1.dafb48","type":"inject","z":"2d493087.12ff1","name":"Husk opvasker!","topic":"","payload":"Husk opvaskeren!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":420,"wires":[["6c77bbc4.0c8e64"]]},{"id":"58c3fe13.c077c","type":"inject","z":"2d493087.12ff1","name":"Du skal sætte på bordet!","topic":"","payload":"Du skal sætte på bordet!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":460,"wires":[["6c77bbc4.0c8e64"]]},{"id":"8b6f8e28.9eae9","type":"inject","z":"379850dc.1ca32","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":760,"wires":[["5b3a1b9d.54b1e4"]]},{"id":"24ef0a56.9816a6","type":"server-state-changed","z":"9334b7e1.225e08","name":"Alarm state changed","server":"76ca0172.30ea9","version":1,"entityidfilter":"alarm_control_panel.house","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":130,"y":780,"wires":[["8eac83b1.c225e","cb959fe.32fff6"]]},{"id":"8eac83b1.c225e","type":"switch","z":"9334b7e1.225e08","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"armed_away","vt":"str"},{"t":"eq","v":"disarmed","vt":"str"},{"t":"eq","v":"triggered","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":310,"y":780,"wires":[["8abf2770.73fb88"],["15ad2f40.7b8171"],["a066b218.c11cc"]]},{"id":"8abf2770.73fb88","type":"function","z":"9334b7e1.225e08","name":"Set Payload","func":"msg.payload = {\n    \"data\": {\n        \"title\": \"Alarm aktiveret\",\n        \"message\": \"Alarmen blev aktiveret!\",\n        \"data\": {\n            \"icon\": \"https://home.trab.dk/local/notification-icons/bell-check.png\"\n        }\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":740,"wires":[["d78d19d4.b4eb68"]]},{"id":"d01bac1f.8fbf5","type":"link in","z":"3f07287f.dc1d48","name":"Notify Morten","links":["d78d19d4.b4eb68","b5664e20.743f3","bddc3461.dbb3d8","a1bb05fc.2887f8","e96de478.144e18","91411816.788e28","7835ce00.b9e6d","5b411867.34c218","ef4836f0.5051c8","175b53c1.dcb1ec"],"x":1335,"y":440,"wires":[["b1e99ff.39a006"]]},{"id":"d78d19d4.b4eb68","type":"link out","z":"9334b7e1.225e08","name":"","links":["d01bac1f.8fbf5"],"x":915,"y":780,"wires":[]},{"id":"15ad2f40.7b8171","type":"function","z":"9334b7e1.225e08","name":"Set Payload","func":"msg.payload = {\n    \"data\": {\n        \"title\": \"Alarm deaktiveret\",\n        \"message\": \"Alarmen blev deaktiveret!\",\n        \"data\": {\n            \"icon\": \"https://home.trab.dk/local/notification-icons/bell-off.png\"\n        }\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":780,"wires":[["d78d19d4.b4eb68"]]},{"id":"cb959fe.32fff6","type":"debug","z":"9334b7e1.225e08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":720,"wires":[]},{"id":"a066b218.c11cc","type":"function","z":"9334b7e1.225e08","name":"Set Payload","func":"msg.payload = {\n    \"data\": {\n        \"title\": \"!! Alarm !!\",\n        \"message\": \"!! ALARM ALARM ALARM !!\",\n        \"data\": {\n            \"icon\": \"https://home.trab.dk/local/notification-icons/bell-ring.png\"\n        }\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":820,"wires":[["d78d19d4.b4eb68"]]},{"id":"b5145aa0.f42338","type":"cast-to-client","z":"9334b7e1.225e08","name":"","url":"https://home.trab.dk/local/sounds/Alarm_1.mp3","contentType":"audio/mp3","message":"","language":"en","ip":"192.168.1.132","port":"","volume":"","x":570,"y":860,"wires":[[]]},{"id":"e6775822.a8d6f8","type":"trigger","z":"9334b7e1.225e08","op1":"{\"ip\":\"${CASTIP}\",\"url\":\"http://${NODEREDIP}:1880/doorbell\",\"contentType\":\"audio/mp3\",\"volume\":50}","op2":"{\"ip\":\"${CASTIP}\",\"volume\":50}","op1type":"json","op2type":"json","duration":"13","extend":false,"units":"s","reset":"","bytopic":"all","name":"TTS + reset volume","x":990,"y":840,"wires":[["f58bf7b.3973a08"]]},{"id":"d6f7e00d.2f22e","type":"trigger","z":"9334b7e1.225e08","op1":"{\"ip\":\"${CASTIP}\",\"url\":\"http://${NODEREDIP}:1880/doorbell\",\"contentType\":\"audio/mp3\",\"volume\":50}","op2":"{\"ip\":\"${CASTIP}\",\"volume\":30}","op1type":"json","op2type":"json","duration":"13","extend":false,"units":"s","reset":"","bytopic":"all","name":"TTS + reset volume","x":990,"y":880,"wires":[["7cd6636f.685bac"]]},{"id":"f58bf7b.3973a08","type":"cast-to-client","z":"9334b7e1.225e08","name":"","url":"","contentType":"","message":"","language":"fr","ip":"","port":"","volume":"","x":1150,"y":840,"wires":[[]]},{"id":"7cd6636f.685bac","type":"cast-to-client","z":"9334b7e1.225e08","name":"","url":"","contentType":"","message":"","language":"fr","ip":"","port":"","volume":"","x":1150,"y":880,"wires":[[]]},{"id":"a51dd652.640da8","type":"cast-to-client","z":"9334b7e1.225e08","name":"","url":"https://home.trab.dk/local/sounds/Alarm_1.mp3","contentType":"audio/mp3","message":"","language":"en","ip":"192.168.1.216","port":"","volume":"","x":570,"y":920,"wires":[[]]},{"id":"c1aa639b.e04ad","type":"cast-to-client","z":"9334b7e1.225e08","name":"","url":"https://home.trab.dk/local/sounds/Alarm_1.mp3","contentType":"audio/mp3","message":"","language":"en","ip":"192.168.1.108","port":"","volume":"","x":570,"y":980,"wires":[[]]},{"id":"a7f879bb.51b078","type":"cast-to-client","z":"9334b7e1.225e08","name":"","url":"https://home.trab.dk/local/sounds/Alarm_1.mp3","contentType":"audio/mp3","message":"","language":"en","ip":"192.168.1.169","port":"","volume":"","x":570,"y":1040,"wires":[[]]},{"id":"2af0c09a.1ae2b","type":"cast-to-client","z":"9334b7e1.225e08","name":"","url":"https://home.trab.dk/local/sounds/Alarm_1.mp3","contentType":"audio/mp3","message":"","language":"en","ip":"192.168.1.247","port":"","volume":"","x":570,"y":1100,"wires":[[]]},{"id":"bff58b1d.23f428","type":"cast-to-client","z":"9334b7e1.225e08","name":"","url":"https://home.trab.dk/local/sounds/Alarm_1.mp3","contentType":"audio/mp3","message":"","language":"en","ip":"192.168.1.246","port":"","volume":"","x":570,"y":1160,"wires":[[]]},{"id":"d9023755.a1a1e8","type":"server-state-changed","z":"379850dc.1ca32","name":"Frontdoor","server":"76ca0172.30ea9","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.neo_dw_fordor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":280,"y":1720,"wires":[["15a1060f.69b35a"],[]]},{"id":"15a1060f.69b35a","type":"time-range-switch","z":"379850dc.1ca32","name":"Only at nights","lat":"55.995212","lon":"9.880392","startTime":"sunset","endTime":"sunrise","startOffset":"0","endOffset":"0","x":450,"y":1720,"wires":[["60770137.c5625"],[]]},{"id":"fbe8895d.3981f8","type":"server-state-changed","z":"ba036d91.9f6dd","name":"Radio","server":"76ca0172.30ea9","version":1,"entityidfilter":"media_player.chromecastaudio6578","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":580,"wires":[["82482fd9.5f602"],["df837706.278a88"]]},{"id":"df837706.278a88","type":"api-current-state","z":"ba036d91.9f6dd","name":"TV state","server":"76ca0172.30ea9","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.tv","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":260,"y":620,"wires":[["bf657438.fc8298"],[]]},{"id":"7cbba6b2.23da28","type":"api-call-service","z":"ba036d91.9f6dd","name":"Set source","server":"76ca0172.30ea9","version":1,"debugenabled":false,"service_domain":"media_player","service":"select_source","entityId":"media_player.yamaha_receiver","data":"{\"source\":\"AV1\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":710,"y":620,"wires":[[]]},{"id":"bf657438.fc8298","type":"api-call-service","z":"ba036d91.9f6dd","name":"Turn On","server":"76ca0172.30ea9","version":1,"debugenabled":false,"service_domain":"media_player","service":"turn_on","entityId":"media_player.yamaha_receiver","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":420,"y":620,"wires":[["7cbba6b2.23da28"]]},{"id":"6593314d.3570d","type":"api-current-state","z":"ba036d91.9f6dd","name":"TV state","server":"76ca0172.30ea9","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.tv","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":380,"y":560,"wires":[["babfda3.afff628"],[]]},{"id":"babfda3.afff628","type":"api-call-service","z":"ba036d91.9f6dd","name":"Turn Off","server":"76ca0172.30ea9","version":1,"debugenabled":false,"service_domain":"media_player","service":"turn_off","entityId":"media_player.yamaha_receiver","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":540,"y":560,"wires":[[]]},{"id":"82482fd9.5f602","type":"switch","z":"ba036d91.9f6dd","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":560,"wires":[["6593314d.3570d"]]},{"id":"8fd9780c.e603c8","type":"comment","z":"ba036d91.9f6dd","name":"Switch input on audio in livingroom","info":"","x":160,"y":500,"wires":[]},{"id":"a7ca4f8a.91bad","type":"api-current-state","z":"8bcd9459.b2efa8","name":"Only if closed","server":"76ca0172.30ea9","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.neo_dw_fordor","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":80,"wires":[["4eba5a4e.fa4ad4"],[]]},{"id":"e47f6da4.ca457","type":"inject","z":"2d493087.12ff1","name":"Tøm opvasker!","topic":"","payload":"Du skal tømme opvaskeren.","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":380,"wires":[["6c77bbc4.0c8e64"]]},{"id":"3a883885.dc02b8","type":"comment","z":"2d493087.12ff1","name":"TTS Worx Landroid errors","info":"","x":130,"y":40,"wires":[]},{"id":"3727d676.ecef7a","type":"comment","z":"2d493087.12ff1","name":"TTS Christian Google Home","info":"","x":140,"y":340,"wires":[]},{"id":"47c838a2.8929e8","type":"debug","z":"fb4af5e0.49ea88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":450,"y":1260,"wires":[]},{"id":"6eb3fbc6.a3e7d4","type":"inject","z":"2d493087.12ff1","name":"Christian til køkkenet! Christian til køkkenet!","topic":"","payload":"Christian til køkkenet! Christian til køkkenet!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":500,"wires":[["6c77bbc4.0c8e64"]]},{"id":"dc567a79.a397c8","type":"inject","z":"34897e80.661b32","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1200,"y":40,"wires":[["47e10a3.a86eff4"]]},{"id":"f784592c.5f86b8","type":"switch","z":"19e6954.3f28a6b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":480,"wires":[["a55e5fb0.0b2"],["f49f2e7b.fca91"]]},{"id":"a55e5fb0.0b2","type":"api-call-service","z":"19e6954.3f28a6b","name":"Tænd ringeklokke, Christian","server":"76ca0172.30ea9","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.doorbell_sound_christian","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":540,"y":460,"wires":[[]]},{"id":"f49f2e7b.fca91","type":"api-call-service","z":"19e6954.3f28a6b","name":"Sluk ringeklokke, Christian","server":"76ca0172.30ea9","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.doorbell_sound_christian","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":540,"y":520,"wires":[[]]},{"id":"42c9929.e16906c","type":"inject","z":"2d493087.12ff1","name":"Ding dong! Så er det tid til at stå op.","topic":"","payload":"<emphasis>Ding dong!</emphasis>Så er det tid til at stå op.","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":540,"wires":[["6c77bbc4.0c8e64"]]},{"id":"90441764.a19b18","type":"inject","z":"34897e80.661b32","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":240,"wires":[["4bc797ca.55ac28"]]},{"id":"10ed0395.4d511c","type":"api-call-service","z":"ea74e623.011278","name":"Luk Rullegardin, Køkken","server":"76ca0172.30ea9","version":1,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.kokken_vindue","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":450,"y":560,"wires":[[]]},{"id":"d3ff292.ed94fd8","type":"link in","z":"ea74e623.011278","name":"Close Kitchen Window","links":[],"x":175,"y":560,"wires":[["10ed0395.4d511c"]]},{"id":"11b95cf3.2a7083","type":"api-call-service","z":"ea74e623.011278","name":"Åbn Rullegardin, Køkken","server":"76ca0172.30ea9","version":1,"debugenabled":false,"service_domain":"cover","service":"open_cover","entityId":"cover.kokken_vindue","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1310,"y":520,"wires":[[]]},{"id":"79ca3119.6404","type":"link in","z":"ea74e623.011278","name":"Open Kitchen Window","links":[],"x":1095,"y":520,"wires":[["11b95cf3.2a7083"]]},{"id":"c88b0538.310f38","type":"mqtt out","z":"ea74e623.011278","name":"Køkken","topic":"rullegardin/Kokken/in","qos":"0","retain":"false","broker":"f9f1082f.f35368","x":580,"y":1060,"wires":[]},{"id":"550cf11d.111ab","type":"server-state-changed","z":"19e6954.3f28a6b","name":"Morten","server":"76ca0172.30ea9","version":1,"entityidfilter":"person.morten","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":620,"wires":[["61edcb4.e3f8034"]]},{"id":"ae7092b.de2cd7","type":"server-state-changed","z":"19e6954.3f28a6b","name":"Britta","server":"76ca0172.30ea9","version":1,"entityidfilter":"person.britta","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":680,"wires":[["61edcb4.e3f8034"]]},{"id":"61edcb4.e3f8034","type":"switch","z":"19e6954.3f28a6b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":640,"wires":[["ce3649f.2bf2fb8"]]},{"id":"ce3649f.2bf2fb8","type":"switch","z":"19e6954.3f28a6b","name":"","property":"data.old_state.state","propertyType":"msg","rules":[{"t":"neq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":640,"wires":[["353899ba.f9dcf6"]]},{"id":"353899ba.f9dcf6","type":"link out","z":"19e6954.3f28a6b","name":"light","links":["16bf11ca.caa9ae"],"x":455,"y":640,"wires":[]},{"id":"13c145a9.b7707a","type":"comment","z":"19e6954.3f28a6b","name":"Light when coming home","info":"","x":130,"y":580,"wires":[]},{"id":"4a640976.068f68","type":"http request","z":"8a641acf.d79398","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://www.trab.dk/api/orders/?display=[current_state]&filter[current_state]=2","tls":"","persist":false,"proxy":"","authType":"basic","x":270,"y":860,"wires":[["45620ffa.321ee"]]},{"id":"4c173a63.bcc034","type":"inject","z":"8a641acf.d79398","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":860,"wires":[["4a640976.068f68"]]},{"id":"45620ffa.321ee","type":"xml","z":"8a641acf.d79398","name":"","property":"payload","attr":"","chr":"","x":410,"y":860,"wires":[["748de3e3.b8646c"]]},{"id":"748de3e3.b8646c","type":"function","z":"8a641acf.d79398","name":"","func":"var count = msg.payload.prestashop.orders[0].order.length\n\nmsg.payload = \"<emphasis>I dag skal der pakkes \" + count + \" ordrer.</emphasis><break time='100ms'/><emphasis level='strong'>God arbejdslyst!</emphasis>\"\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":860,"wires":[["e762f2fd.41712"]]},{"id":"9a3bfe71.6de37","type":"cast-to-client","z":"8a641acf.d79398","name":"","url":"https://home.trab.dk/local/ordernum.mp3","contentType":"","message":"","language":"da","ip":"192.168.1.132","port":"","volume":"","x":1090,"y":860,"wires":[[]]},{"id":"e762f2fd.41712","type":"wavenet","z":"8a641acf.d79398","name":"Wavenet","key":"ec01bcad.64aee","voice":"ella","x":660,"y":860,"wires":[["862f5520.596ad8"]]},{"id":"862f5520.596ad8","type":"file","z":"8a641acf.d79398","name":"","filename":"/config/www/ordernum.mp3","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":860,"y":860,"wires":[["9a3bfe71.6de37"]]},{"id":"cc7a82a4.ee187","type":"cast-to-client","z":"2d493087.12ff1","name":"","url":"https://home.trab.dk/local/tts_christian.mp3","contentType":"","message":"","language":"da","ip":"192.168.1.132","port":"","volume":"","x":770,"y":360,"wires":[[]]},{"id":"6c77bbc4.0c8e64","type":"wavenet","z":"2d493087.12ff1","name":"Wavenet","key":"ec01bcad.64aee","voice":"ella","x":500,"y":440,"wires":[["d838caf0.930e48"]]},{"id":"d838caf0.930e48","type":"file","z":"2d493087.12ff1","name":"","filename":"/config/www/tts_christian.mp3","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":710,"y":440,"wires":[["2196f075.be28f"]]},{"id":"2dc2dbc0.4ffa74","type":"inject","z":"2d493087.12ff1","name":"Tøm opvasker!","topic":"","payload":"Du skal tømme opvaskeren.","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":660,"wires":[["7b617414.858f2c"]]},{"id":"7b617414.858f2c","type":"cast-to-client","z":"2d493087.12ff1","name":"","url":"","contentType":"","message":"","language":"da","ip":"192.168.1.132","port":"","volume":"","x":430,"y":660,"wires":[[]]},{"id":"1aa6ab5a.4a9135","type":"wavenet","z":"2d493087.12ff1","name":"Wavenet","key":"ec01bcad.64aee","voice":"ella","x":700,"y":40,"wires":[["e5fc6653.36d618"]]},{"id":"e5fc6653.36d618","type":"file","z":"2d493087.12ff1","name":"","filename":"/config/www/tts_landroid.mp3","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":720,"y":100,"wires":[["b3ba7691.1de438"]]},{"id":"4f287beb.9b4e34","type":"server-events","z":"fb4af5e0.49ea88","name":"IFTTT Input","server":"76ca0172.30ea9","event_type":"ifttt_webhook_received","x":110,"y":1600,"wires":[["6da66076.8ca29"]]},{"id":"6da66076.8ca29","type":"switch","z":"fb4af5e0.49ea88","name":"Is tell_flow?","property":"payload.event.action","propertyType":"msg","rules":[{"t":"eq","v":"tell_flow","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":1600,"wires":[["1233660e.2ce3ca"]]},{"id":"b8462935.d801b8","type":"switch","z":"fb4af5e0.49ea88","name":"Which flow?","property":"payload.event.flow","propertyType":"msg","rules":[{"t":"cont","v":"spise stue","vt":"str"},{"t":"cont","v":"spisestue","vt":"str"},{"t":"eq","v":"stuen","vt":"str"},{"t":"eq","v":"køkken","vt":"str"},{"t":"eq","v":"køkkenet","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":470,"y":1620,"wires":[[],[],[],[],[]]},{"id":"807e06ab.bbcc58","type":"comment","z":"fb4af5e0.49ea88","name":"IFTTT Tell Flow","info":"","x":140,"y":1560,"wires":[]},{"id":"1233660e.2ce3ca","type":"debug","z":"fb4af5e0.49ea88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":1540,"wires":[]},{"id":"291c17ae.8b4418","type":"api-call-service","z":"ea74e623.011278","name":"Luk Rullegardin, Soveværelse","server":"76ca0172.30ea9","version":1,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.sovevaerelse_vindue","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":470,"y":620,"wires":[[]]},{"id":"7cbc2533.71769c","type":"link in","z":"ea74e623.011278","name":"Close Bedroom Window","links":[],"x":175,"y":620,"wires":[["291c17ae.8b4418"]]},{"id":"17fa52ec.7d1e9d","type":"schedex","z":"ea74e623.011278","name":"Timer","suspended":false,"lat":"55.995212","lon":"9.880392","ontime":"sunset","ontopic":"","onpayload":"ON","onoffset":"","onrandomoffset":0,"offtime":"10:00","offtopic":"","offpayload":"OFF","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":830,"y":560,"wires":[["998ae20e.6b08"]]},{"id":"998ae20e.6b08","type":"switch","z":"ea74e623.011278","name":"Select Action","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":560,"wires":[["a6231051.01ac4"]]},{"id":"a6231051.01ac4","type":"api-call-service","z":"ea74e623.011278","name":"Åbn Rullegardin, Soveværelse","server":"76ca0172.30ea9","version":1,"debugenabled":false,"service_domain":"cover","service":"open_cover","entityId":"cover.sovevaerelse_vindue","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1330,"y":580,"wires":[[]]},{"id":"c3005e81.0cb46","type":"link in","z":"ea74e623.011278","name":"Open Bedroom Window","links":[],"x":1095,"y":580,"wires":[["a6231051.01ac4"]]},{"id":"7f596fb9.c1cb1","type":"server-state-changed","z":"3f07287f.dc1d48","name":"Synology RAM","server":"76ca0172.30ea9","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.synology_dsm_memory_usage_real","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"num","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":120,"y":880,"wires":[["39680bb.77611f4"]]},{"id":"38721bd0.c99cd4","type":"comment","z":"3f07287f.dc1d48","name":"Issue warning when Synology passes 80% RAM use","info":"","x":230,"y":820,"wires":[]},{"id":"39680bb.77611f4","type":"switch","z":"3f07287f.dc1d48","name":"RAM level","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"80","vt":"str"},{"t":"gte","v":"90","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":880,"wires":[["3b339e37.9aee52"],["416f4d2c.473aa4","1e252ccc.bfcd53"]]},{"id":"b4ba4809.ee3bd8","type":"function","z":"3f07287f.dc1d48","name":"Set Payload","func":"msg.payload = {\n    \"data\": {\n        \"title\": \"Synology RAM advarsel\",\n        \"message\": \"Synology bruger nu over 80% RAM\"\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":840,"wires":[["bddc3461.dbb3d8"]]},{"id":"3b339e37.9aee52","type":"delay","z":"3f07287f.dc1d48","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":840,"wires":[["118bd50c.8237cb"]]},{"id":"118bd50c.8237cb","type":"api-current-state","z":"3f07287f.dc1d48","name":"Above 80?","server":"76ca0172.30ea9","version":1,"outputs":2,"halt_if":"80","halt_if_type":"num","halt_if_compare":"gte","override_topic":false,"entity_id":"sensor.synology_dsm_memory_usage_real","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":770,"y":840,"wires":[["b4ba4809.ee3bd8"],[]]},{"id":"d6471a95.e5c778","type":"function","z":"3f07287f.dc1d48","name":"Set Payload","func":"msg.payload = {\n    \"data\": {\n        \"title\": \"Synology RAM kritisk!\",\n        \"message\": \"Synology bruger nu over 90% RAM - handling bør tages STRAKS!\"\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":900,"wires":[["bddc3461.dbb3d8"]]},{"id":"1e252ccc.bfcd53","type":"delay","z":"3f07287f.dc1d48","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":900,"wires":[["2f5b53cf.42a7ec"]]},{"id":"2f5b53cf.42a7ec","type":"api-current-state","z":"3f07287f.dc1d48","name":"Above 90?","server":"76ca0172.30ea9","version":1,"outputs":2,"halt_if":"90","halt_if_type":"num","halt_if_compare":"gte","override_topic":false,"entity_id":"sensor.synology_dsm_memory_usage_real","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":770,"y":900,"wires":[["d6471a95.e5c778"],[]]},{"id":"416f4d2c.473aa4","type":"change","z":"3f07287f.dc1d48","name":"Reset 80%","rules":[{"t":"set","p":"reset","pt":"msg","to":"reset","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":880,"wires":[["3b339e37.9aee52"]]},{"id":"16bf11ca.caa9ae","type":"link in","z":"379850dc.1ca32","name":"Link Courtyard 10 minutes","links":["353899ba.f9dcf6","b251eeb4.581e1"],"x":315,"y":1900,"wires":[["7f7539.c6c5eac8"]]},{"id":"7f7539.c6c5eac8","type":"time-range-switch","z":"379850dc.1ca32","name":"Only at nights","lat":"55.995212","lon":"9.880392","startTime":"sunset","endTime":"sunrise","startOffset":"0","endOffset":"0","x":440,"y":1900,"wires":[["60770137.c5625"],[]]},{"id":"5bc23dc8.1d5554","type":"mqtt out","z":"ea74e623.011278","name":"Soveværelse","topic":"rullegardin/Sovevaerelse/in","qos":"0","retain":"false","broker":"f9f1082f.f35368","x":590,"y":1120,"wires":[]},{"id":"210c3a48.626716","type":"inject","z":"9334b7e1.225e08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":300,"wires":[[]]},{"id":"91c27708.2970f8","type":"schedex","z":"f25328d.ca048d8","name":"Timer","suspended":false,"lat":"55.995212","lon":"9.880392","ontime":"22:00","ontopic":"","onpayload":"3","onoffset":"","onrandomoffset":0,"offtime":"06:00","offtopic":"","offpayload":"0","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":90,"y":80,"wires":[["9c677364.d3b9e"]]},{"id":"9c677364.d3b9e","type":"mqtt out","z":"f25328d.ca048d8","name":"Set Quietmode","topic":"panasonic_heat_pump/SetQuietMode","qos":"","retain":"false","broker":"f9f1082f.f35368","x":360,"y":80,"wires":[]},{"id":"6162d366.51bd9c","type":"server-state-changed","z":"f25328d.ca048d8","d":true,"name":"Powerfull Mode","server":"76ca0172.30ea9","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.panasonic_aquarea_powerfull_mode","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":120,"y":920,"wires":[["10b6cb60.690035"]]},{"id":"de689c0f.e0f39","type":"api-call-service","z":"f25328d.ca048d8","name":"Set Select","server":"76ca0172.30ea9","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.panasonic_aquarea_powermode","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":410,"y":920,"wires":[[]]},{"id":"10b6cb60.690035","type":"function","z":"f25328d.ca048d8","name":"","func":"if (msg.payload == \"0\") {\n    msg.payload = {\n        \"data\": {\n            \"option\": \"False\"\n        }\n    }\n} else if (msg.payload == \"1\") {\n    msg.payload = {\n        \"data\": {\n            \"option\": \"30 min\"\n        }\n    }\n} else if (msg.payload == \"2\") {\n    msg.payload = {\n        \"data\": {\n            \"option\": \"60 min\"\n        }\n    }\n} else if (msg.payload == \"3\") {\n    msg.payload = {\n        \"data\": {\n            \"option\": \"90 min\"\n        }\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":920,"wires":[["de689c0f.e0f39"]]},{"id":"d5fc1236.6e48","type":"server-state-changed","z":"f25328d.ca048d8","d":true,"name":"Set Powerfull mode","server":"76ca0172.30ea9","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.panasonic_aquarea_powermode","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":130,"y":1040,"wires":[["71a43cb0.eee3c4"]]},{"id":"fc687e72.49229","type":"mqtt out","z":"f25328d.ca048d8","name":"Set powerfull mode","topic":"panasonic_heat_pump/SetPowerfull","qos":"","retain":"false","broker":"f9f1082f.f35368","x":650,"y":1040,"wires":[]},{"id":"71a43cb0.eee3c4","type":"switch","z":"f25328d.ca048d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"False","vt":"str"},{"t":"eq","v":"30 min","vt":"str"},{"t":"eq","v":"60 min","vt":"str"},{"t":"eq","v":"90 min","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":290,"y":1040,"wires":[["9621cc38.456e4"],["1ed2a4a3.c3db9b"],["36ccfdda.1d7cf2"],["829cbf55.83479"]]},{"id":"9621cc38.456e4","type":"change","z":"f25328d.ca048d8","name":"Set Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":980,"wires":[["fc687e72.49229"]]},{"id":"65c42020.8cbbd","type":"comment","z":"f25328d.ca048d8","name":"Set powerfull mode","info":"","x":110,"y":880,"wires":[]},{"id":"b4f3b7c4.c6e618","type":"debug","z":"d516839.595028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":120,"wires":[]},{"id":"1ed2a4a3.c3db9b","type":"change","z":"f25328d.ca048d8","name":"Set Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1020,"wires":[["fc687e72.49229"]]},{"id":"36ccfdda.1d7cf2","type":"change","z":"f25328d.ca048d8","name":"Set Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1060,"wires":[["fc687e72.49229"]]},{"id":"829cbf55.83479","type":"change","z":"f25328d.ca048d8","name":"Set Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1100,"wires":[["fc687e72.49229"]]},{"id":"517c37ba.c7db78","type":"comment","z":"3f07287f.dc1d48","name":"Issue warning when toner levels are low","info":"","x":190,"y":980,"wires":[]},{"id":"6463d751.2f7628","type":"server-state-changed","z":"3f07287f.dc1d48","name":"Brother Black","server":"76ca0172.30ea9","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.brother_printer_black_toner_remaining","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"20","halt_if_type":"num","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":1040,"wires":[["d99c112e.c1def"],[]]},{"id":"21b469a5.633f16","type":"server-state-changed","z":"3f07287f.dc1d48","name":"Brother Cyan","server":"76ca0172.30ea9","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.brother_printer_cyan_toner_remaining","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"20","halt_if_type":"num","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":1100,"wires":[["54928692.0aa8f8"],[]]},{"id":"aaf83724.339078","type":"server-state-changed","z":"3f07287f.dc1d48","name":"Brother Magenta","server":"76ca0172.30ea9","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.brother_printer_magenta_toner_remaining","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"20","halt_if_type":"num","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":1160,"wires":[["eeb43b30.e3e7b8"],[]]},{"id":"cc91228f.ede1e","type":"server-state-changed","z":"3f07287f.dc1d48","name":"Brother Yellow","server":"76ca0172.30ea9","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.brother_printer_yellow_toner_remaining","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"20","halt_if_type":"num","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":1220,"wires":[["79559587.6d947c"],[]]},{"id":"d99c112e.c1def","type":"function","z":"3f07287f.dc1d48","name":"Set Payload","func":"msg.payload = {\n    \"data\": {\n        \"title\": \"Brother Toner - Sort\",\n        \"message\": \"Brother sort toner level er nu 20%\"\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1040,"wires":[["b5664e20.743f3"]]},{"id":"54928692.0aa8f8","type":"function","z":"3f07287f.dc1d48","name":"Set Payload","func":"msg.payload = {\n    \"data\": {\n        \"title\": \"Brother Toner - Cyan\",\n        \"message\": \"Brother cyan toner level er nu 20%\"\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1100,"wires":[["b5664e20.743f3"]]},{"id":"eeb43b30.e3e7b8","type":"function","z":"3f07287f.dc1d48","name":"Set Payload","func":"msg.payload = {\n    \"data\": {\n        \"title\": \"Brother Toner - Magenta\",\n        \"message\": \"Brother magenta toner level er nu 20%\"\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1160,"wires":[["b5664e20.743f3"]]},{"id":"79559587.6d947c","type":"function","z":"3f07287f.dc1d48","name":"Set Payload","func":"msg.payload = {\n    \"data\": {\n        \"title\": \"Brother Toner - Gul\",\n        \"message\": \"Brother gul toner level er nu 20%\"\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1220,"wires":[["b5664e20.743f3"]]},{"id":"b5664e20.743f3","type":"link out","z":"3f07287f.dc1d48","name":"","links":["d01bac1f.8fbf5"],"x":455,"y":1120,"wires":[]},{"id":"bddc3461.dbb3d8","type":"link out","z":"3f07287f.dc1d48","name":"","links":["d01bac1f.8fbf5"],"x":1055,"y":860,"wires":[]},{"id":"a1bb05fc.2887f8","type":"link out","z":"3f07287f.dc1d48","name":"","links":["d01bac1f.8fbf5"],"x":535,"y":640,"wires":[]},{"id":"e96de478.144e18","type":"link out","z":"3f07287f.dc1d48","name":"","links":["d01bac1f.8fbf5"],"x":695,"y":460,"wires":[]},{"id":"91411816.788e28","type":"link out","z":"3f07287f.dc1d48","name":"","links":["d01bac1f.8fbf5"],"x":775,"y":100,"wires":[]},{"id":"7835ce00.b9e6d","type":"link out","z":"3f07287f.dc1d48","name":"","links":["d01bac1f.8fbf5"],"x":655,"y":260,"wires":[]},{"id":"5b411867.34c218","type":"link out","z":"3f07287f.dc1d48","name":"","links":["d01bac1f.8fbf5"],"x":715,"y":320,"wires":[]},{"id":"ef4836f0.5051c8","type":"link out","z":"3f07287f.dc1d48","name":"","links":["d01bac1f.8fbf5"],"x":895,"y":360,"wires":[]},{"id":"8ceb3dbe.8da77","type":"time-range-switch","z":"379850dc.1ca32","name":"Only at nights","lat":"55.995212","lon":"9.880392","startTime":"sunset","endTime":"19:00","startOffset":"30","endOffset":"0","x":440,"y":200,"wires":[["480fb930.975818"],[]]},{"id":"480fb930.975818","type":"api-call-service","z":"379850dc.1ca32","name":"Turn On Kitchen Small Light","server":"76ca0172.30ea9","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.kitchen_small_lamp","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":720,"y":200,"wires":[[]]},{"id":"372da510.594f1a","type":"comment","z":"8a641acf.d79398","name":"Antal ordrer TTS","info":"","x":100,"y":820,"wires":[]},{"id":"9c03fb.ca483c08","type":"ha-entity","z":"9eb49d26.9483b","name":"Ordrer","server":"76ca0172.30ea9","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"nodered_shop_ordrer"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"Ordrer"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","x":650,"y":300,"wires":[[]]},{"id":"adc7963f.6d3ed8","type":"http request","z":"9eb49d26.9483b","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://www.trab.dk/api/orders/?display=[current_state]&filter[current_state]=2","tls":"","persist":false,"proxy":"","authType":"basic","x":270,"y":300,"wires":[["8ae6d04f.ef3f4"]]},{"id":"8ae6d04f.ef3f4","type":"xml","z":"9eb49d26.9483b","name":"","property":"payload","attr":"","chr":"","x":410,"y":300,"wires":[["94a9ef67.7ccb5"]]},{"id":"94a9ef67.7ccb5","type":"function","z":"9eb49d26.9483b","name":"","func":"var count = msg.payload.prestashop.orders[0].order.length\n\nmsg.payload = count\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":300,"wires":[["9c03fb.ca483c08"]]},{"id":"72d96ed9.b9e47","type":"inject","z":"9eb49d26.9483b","name":"Update","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":300,"wires":[["adc7963f.6d3ed8"]]},{"id":"338bddac.c2d282","type":"comment","z":"9eb49d26.9483b","name":"Orders in shop","info":"","x":100,"y":260,"wires":[]},{"id":"cccff5c4.6d0668","type":"ha-entity","z":"9eb49d26.9483b","name":"Weeknumber","server":"76ca0172.30ea9","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"nodered_weeknumber"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload","stateType":"msg","attributes":[{"property":"friendly_name","value":"Uge","valueType":"str"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":490,"y":80,"wires":[[]]},{"id":"497bbbc.563ee44","type":"ha-webhook","z":"3f07287f.dc1d48","name":"Couchpotato","server":"76ca0172.30ea9","outputs":1,"webhookId":"pe79w4J5uGqeI7TVOBhIt9GbmQheyTdR","payloadLocation":"payload","payloadLocationType":"msg","headersLocation":"","headersLocationType":"none","x":110,"y":1360,"wires":[["b1e70e67.7045d","872a2682.c3e028"]]},{"id":"b1e70e67.7045d","type":"debug","z":"3f07287f.dc1d48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":290,"y":1400,"wires":[]},{"id":"175b53c1.dcb1ec","type":"link out","z":"3f07287f.dc1d48","name":"","links":["d01bac1f.8fbf5"],"x":395,"y":1360,"wires":[]},{"id":"872a2682.c3e028","type":"function","z":"3f07287f.dc1d48","name":"Set Payload","func":"msg.payload = {\n    \"data\": {\n        \"title\": \"Couchpotato Notification\",\n        \"message\": msg.payload\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1360,"wires":[["175b53c1.dcb1ec"]]},{"id":"4ea64800.bff8d8","type":"comment","z":"3f07287f.dc1d48","name":"Notifications from Couchpotato","info":"","x":170,"y":1320,"wires":[]},{"id":"5888811.cb7c48","type":"status","z":"9334b7e1.225e08","name":"","scope":["9026264f.24f068"],"x":100,"y":80,"wires":[["94adf2b5.e6509"]]},{"id":"94adf2b5.e6509","type":"delay","z":"9334b7e1.225e08","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":80,"wires":[["e623cfed.e1af1"]]},{"id":"ea0925e6.c4da38","type":"server-events","z":"9334b7e1.225e08","name":"Keyfob Scene Select","server":"76ca0172.30ea9","event_type":"zwave.scene_activated","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":730,"y":40,"wires":[["e4098c12.23d24"]]},{"id":"e4098c12.23d24","type":"switch","z":"9334b7e1.225e08","name":"Which Scene?","property":"payload.event.scene_id","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":920,"y":40,"wires":[["3862706d.8d5ad"]]},{"id":"3862706d.8d5ad","type":"api-call-service","z":"9334b7e1.225e08","name":"Toggle outside lights","server":"76ca0172.30ea9","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.udendors","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1140,"y":40,"wires":[[]]},{"id":"246f9326.b2246c","type":"comment","z":"9334b7e1.225e08","name":"HA Startup - alarm delay","info":"","x":130,"y":40,"wires":[]},{"id":"118a085c.b8be18","type":"comment","z":"9334b7e1.225e08","name":"Z-Wave keyfob tests","info":"","x":110,"y":140,"wires":[]},{"id":"4edcd3e7.b1771c","type":"server-events","z":"9334b7e1.225e08","name":"","server":"76ca0172.30ea9","event_type":"state_changed","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":140,"y":180,"wires":[["7b634f03.3e50a"]]},{"id":"15e86296.6744bd","type":"api-current-state","z":"9334b7e1.225e08","name":"Get alarm state","server":"76ca0172.30ea9","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"alarm_control_panel.house","state_type":"str","state_location":"alarm_payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":true,"x":580,"y":180,"wires":[["512160be.120e2"]]},{"id":"1bc65482.c9ca7b","type":"api-call-service","z":"9334b7e1.225e08","name":"Arm the alarm","server":"76ca0172.30ea9","version":1,"debugenabled":false,"service_domain":"alarm_control_panel","service":"alarm_arm_away_from_panel","entityId":"alarm_control_panel.house","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":860,"y":140,"wires":[[]]},{"id":"1456a435.dcd3bc","type":"switch","z":"9334b7e1.225e08","name":"Arm button?","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"cont","v":"_emergency","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":240,"wires":[["15e86296.6744bd"]]},{"id":"512160be.120e2","type":"switch","z":"9334b7e1.225e08","name":"State?","property":"alarm_payload","propertyType":"msg","rules":[{"t":"else"},{"t":"eq","v":"armed_away","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":240,"wires":[["1bc65482.c9ca7b"],["e2d0014f.6cfed","a57fe51c.ca6148"]]},{"id":"e2d0014f.6cfed","type":"switch","z":"9334b7e1.225e08","name":"Who?","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"cont","v":"mt_remote","vt":"str"},{"t":"cont","v":"bt_remote","vt":"str"},{"t":"cont","v":"ct_remote","vt":"str"},{"t":"cont","v":"mi_remote","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":750,"y":260,"wires":[["809f8196.50a47"],["e03fdb90.2e5438"],["aabb2194.8bdcd"],["81f32197.6e0ad"]]},{"id":"a8a70437.03d0f8","type":"api-call-service","z":"9334b7e1.225e08","name":"Disarm the alarm","server":"76ca0172.30ea9","version":1,"debugenabled":false,"service_domain":"alarm_control_panel","service":"alarm_disarm","entityId":"alarm_control_panel.house","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1090,"y":260,"wires":[[]]},{"id":"809f8196.50a47","type":"function","z":"9334b7e1.225e08","name":"Set PIN","func":"msg.payload = {\n    \"data\": {\n        \"code\": \"remoteHorsensvej50Morten\"\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":200,"wires":[["a8a70437.03d0f8"]]},{"id":"e03fdb90.2e5438","type":"function","z":"9334b7e1.225e08","name":"Set PIN","func":"msg.payload = {\n    \"data\": {\n        \"code\": \"remoteHorsensvej50Morten\"\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":240,"wires":[["a8a70437.03d0f8"]]},{"id":"aabb2194.8bdcd","type":"function","z":"9334b7e1.225e08","name":"Set PIN","func":"msg.payload = {\n    \"data\": {\n        \"code\": \"remoteHorsensvej50Morten\"\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":280,"wires":[["a8a70437.03d0f8"]]},{"id":"81f32197.6e0ad","type":"function","z":"9334b7e1.225e08","name":"Set PIN","func":"msg.payload = {\n    \"data\": {\n        \"code\": \"remoteHorsensvej50Morten\"\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":320,"wires":[["a8a70437.03d0f8"]]},{"id":"a57fe51c.ca6148","type":"debug","z":"9334b7e1.225e08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":320,"wires":[]},{"id":"3b187b0.26b3986","type":"comment","z":"f25328d.ca048d8","name":"Set quietmode in evenings","info":"","x":130,"y":40,"wires":[]},{"id":"bd527741.56a5c8","type":"comment","z":"f25328d.ca048d8","name":"Set operations mode","info":"","x":110,"y":180,"wires":[]},{"id":"e06aee78.153e1","type":"server-state-changed","z":"f25328d.ca048d8","name":"Outside temp","server":"76ca0172.30ea9","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.panasonic_aquarea_outdoor_ambient","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"18","halt_if_type":"num","halt_if_compare":"gte","outputs":2,"output_only_on_state_change":true,"x":110,"y":280,"wires":[["500dd750.064a18"],["ccb7c890.0ac0e8"]]},{"id":"b4e6f50d.254b88","type":"delay","z":"f25328d.ca048d8","name":"Wait","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410,"y":240,"wires":[["eff2eab4.98d088"]]},{"id":"b68a559.47531a8","type":"delay","z":"f25328d.ca048d8","name":"Wait","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410,"y":320,"wires":[["10ea37b2.aa5f28"]]},{"id":"eff2eab4.98d088","type":"api-current-state","z":"f25328d.ca048d8","name":"Still above?","server":"76ca0172.30ea9","version":1,"outputs":2,"halt_if":"18","halt_if_type":"num","halt_if_compare":"gte","override_topic":false,"entity_id":"sensor.panasonic_aquarea_outdoor_ambient","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":550,"y":240,"wires":[["74bcc35b.5337ac"],[]]},{"id":"10ea37b2.aa5f28","type":"api-current-state","z":"f25328d.ca048d8","name":"Still below?","server":"76ca0172.30ea9","version":1,"outputs":2,"halt_if":"15","halt_if_type":"num","halt_if_compare":"lt","override_topic":false,"entity_id":"sensor.panasonic_aquarea_outdoor_ambient","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":550,"y":320,"wires":[["f866b86f.c9b338"],[]]},{"id":"500dd750.064a18","type":"api-current-state","z":"f25328d.ca048d8","name":"Not set","server":"76ca0172.30ea9","version":1,"outputs":2,"halt_if":"DHW","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"sensor.panasonic_aquarea_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":280,"y":240,"wires":[["b4e6f50d.254b88"],[]]},{"id":"ccb7c890.0ac0e8","type":"api-current-state","z":"f25328d.ca048d8","name":"Not set","server":"76ca0172.30ea9","version":1,"outputs":2,"halt_if":"DHW","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.panasonic_aquarea_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":280,"y":320,"wires":[["b68a559.47531a8"],[]]},{"id":"2e5dcda6.73a322","type":"mqtt out","z":"f25328d.ca048d8","name":"Set DHW","topic":"panasonic_heat_pump/SetMode","qos":"0","retain":"false","broker":"f9f1082f.f35368","x":860,"y":240,"wires":[]},{"id":"74bcc35b.5337ac","type":"change","z":"f25328d.ca048d8","name":"Set payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":240,"wires":[["2e5dcda6.73a322"]]},{"id":"f866b86f.c9b338","type":"change","z":"f25328d.ca048d8","name":"Set payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":320,"wires":[["cf27a042.be6d7"]]},{"id":"cf27a042.be6d7","type":"mqtt out","z":"f25328d.ca048d8","name":"Set Heat+DHW","topic":"panasonic_heat_pump/SetMode","qos":"0","retain":"false","broker":"f9f1082f.f35368","x":880,"y":320,"wires":[]},{"id":"698266bd.c1a5c8","type":"server-state-changed","z":"8bcd9459.b2efa8","name":"Frontdoor Open","server":"76ca0172.30ea9","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.neo_dw_fordor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":220,"y":280,"wires":[["3ce119be.a31da6"],[]]},{"id":"c793a561.844c88","type":"api-call-service","z":"8bcd9459.b2efa8","name":"Unlock","server":"76ca0172.30ea9","version":1,"debugenabled":false,"service_domain":"lock","service":"unlock","entityId":"lock.hoveddor_38","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":280,"wires":[[]]},{"id":"3ce119be.a31da6","type":"api-current-state","z":"8bcd9459.b2efa8","name":"Only if locked","server":"76ca0172.30ea9","version":1,"outputs":2,"halt_if":"locked","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"lock.hoveddor_38","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":400,"y":280,"wires":[["c793a561.844c88"],[]]},{"id":"97e4e8c4.68efa8","type":"comment","z":"9334b7e1.225e08","name":"Switch dashboard on wallpanel","info":"","x":150,"y":400,"wires":[]},{"id":"f222c916.ead7a8","type":"server-state-changed","z":"9334b7e1.225e08","name":"Alarm state changed","server":"76ca0172.30ea9","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"alarm_control_panel.house","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"disarmed","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":460,"wires":[["66e63001.23c6b"],["61faa72.cff7b58"]]},{"id":"66e63001.23c6b","type":"api-call-service","z":"9334b7e1.225e08","name":"Set default","server":"76ca0172.30ea9","version":1,"debugenabled":false,"service_domain":"display","service":"load_url","entityId":"display.hall_tablet","data":"{\"url\":\"http://10.254.254.109:8123/lovelace/tablet-test\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":350,"y":440,"wires":[[]]},{"id":"61faa72.cff7b58","type":"api-call-service","z":"9334b7e1.225e08","name":"Set default","server":"76ca0172.30ea9","version":1,"debugenabled":false,"service_domain":"display","service":"load_url","entityId":"display.hall_tablet","data":"{\"url\":\"http://10.254.254.109:8123/alarm\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":350,"y":500,"wires":[[]]},{"id":"e623cfed.e1af1","type":"api-call-service","z":"9334b7e1.225e08","name":"Alarm Ready","server":"76ca0172.30ea9","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.alarm_ready","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":390,"y":80,"wires":[[]]},{"id":"7b634f03.3e50a","type":"api-current-state","z":"9334b7e1.225e08","name":"Alarm Ready?","server":"76ca0172.30ea9","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.alarm_ready","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":340,"y":180,"wires":[["1456a435.dcd3bc"],[]]},{"id":"f76c604b.25a4a","type":"comment","z":"cf813d83.034c","name":"deConz switches","info":"","x":120,"y":220,"wires":[]},{"id":"8d6ba14f.0e569","type":"deconz-input","z":"cf813d83.034c","name":"Test switch","server":"6d3bc98b.62b398","device":"14:b4:57:ff:fe:6c:62:dc-01-1000","device_name":"LK-4gang-01 : ZHASwitch","state":"0","output":"always","outputAtStartup":true,"x":120,"y":300,"wires":[["9ff25f9.560c8a","b602c2ee.4149b"],[]]},{"id":"9ff25f9.560c8a","type":"debug","z":"cf813d83.034c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":220,"wires":[]},{"id":"b602c2ee.4149b","type":"switch","z":"cf813d83.034c","name":"","property":"payload.buttonevent","propertyType":"msg","rules":[{"t":"eq","v":"4002","vt":"str"},{"t":"eq","v":"5002","vt":"str"},{"t":"eq","v":"4003","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":290,"y":300,"wires":[["5c451533.663fec"],["9af9442a.b340b8"],[]]},{"id":"5c451533.663fec","type":"api-call-service","z":"cf813d83.034c","name":"","server":"76ca0172.30ea9","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.sofabord","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":560,"y":240,"wires":[[]]},{"id":"50beb836.23ae08","type":"api-current-state","z":"7e916d2c.47c2b4","name":"State","server":"76ca0172.30ea9","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":250,"y":40,"wires":[["e6150522.486a78"]]},{"id":"554909a6.47af98","type":"function","z":"7e916d2c.47c2b4","name":"","func":"flow.set(\"buttonpressed\", msg.payload.buttonevent);\n\nmsg.payload = {\n    \"entity_id\": env.get(\"entity_id\")\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":40,"wires":[["50beb836.23ae08"]]},{"id":"e6150522.486a78","type":"function","z":"7e916d2c.47c2b4","name":"","func":"var btnPushed = flow.get(\"buttonpressed\").toString().slice(0, 1);\nvar btnState  = flow.get(\"buttonpressed\").toString().slice(-1);\nvar currentState = msg.payload;\n\nif (btnState == \"2\") {\n    if (btnPushed == env.get(\"btnOn\") && currentState == \"off\") {\n        msg.payload = {\n            \"data\": {\n                \"entity_id\": env.get(\"entity_id\")\n            },\n            \"service\": \"turn_on\"\n        }\n    } else if (btnPushed == env.get(\"btnOff\") && currentState == \"on\") {\n        msg.payload = {\n            \"data\": {\n                \"entity_id\": env.get(\"entity_id\")\n            },\n            \"service\": \"turn_off\"\n        }\n    }\n    \n    return [msg, null, null];\n} else if (btnState == \"1\") {\n    msg.payload = {\n        \"entity_id\": env.get(\"entity_id\")\n    }\n    \n    return [null, msg, null];\n} else if (btnState == \"3\") {\n    msg.reset = \"STOP\";\n    \n    return [null, null, msg];\n}\n\n\n\n\n\n","outputs":3,"noerr":0,"x":370,"y":40,"wires":[["41486ef2.1c529"],["775d488f.dcd318"],["8b771bb2.3aabf8"]]},{"id":"41486ef2.1c529","type":"api-call-service","z":"7e916d2c.47c2b4","name":"","server":"76ca0172.30ea9","version":1,"debugenabled":false,"service_domain":"light","service":"","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":40,"wires":[[]]},{"id":"54a231f3.85689","type":"api-call-service","z":"7e916d2c.47c2b4","name":"","server":"76ca0172.30ea9","version":1,"debugenabled":false,"service_domain":"light","service":"","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":780,"y":300,"wires":[[]]},{"id":"775d488f.dcd318","type":"api-current-state","z":"7e916d2c.47c2b4","name":"State","server":"76ca0172.30ea9","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":590,"y":120,"wires":[["b05bfb27.98cb78"]]},{"id":"b05bfb27.98cb78","type":"function","z":"7e916d2c.47c2b4","name":"","func":"var bright = msg.data.attributes.brightness;\nvar entity = msg.data.entity_id;\n\nmsg = {\n    \"payload\": {\n        \"data\": {\n            \"entity_id\": entity,\n            \"brightness\": bright\n        }\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":180,"wires":[["26b7a0d8.4eb9a"]]},{"id":"26b7a0d8.4eb9a","type":"function","z":"7e916d2c.47c2b4","name":"","func":"var direction = msg.direction;\nvar Brightness = parseInt(msg.payload.data.brightness);\nvar dimStep = parseInt(env.get(\"dimStep\"));\n\n\n\n\nif (direction == 1 || direction == \"\") {\n    Brightness = Brightness + dimStep;\n    direction = 1;\n    if (Brightness > env.get(\"maxBright\")) {\n        Brightness = env.get(\"maxBright\") - dimStep;\n        direction = 0;\n    }\n} else {\n    Brightness = Brightness - dimStep;\n    direction = 0;\n    if (Brightness < env.get(\"minBright\")) {\n        Brightness = env.get(\"minBright\") + dimStep;\n        direction = 1;\n    }\n}\n\nmsg.payload = {\n    \"data\": {\n        \"entity_id\": msg.payload.data.entity_id,\n        \"brightness\": Brightness.toString()\n    },\n    \"service\": \"turn_on\"\n}\n\nmsg.direction = direction;\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":300,"wires":[["54a231f3.85689","8b771bb2.3aabf8"]]},{"id":"8b771bb2.3aabf8","type":"trigger","z":"7e916d2c.47c2b4","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":600,"y":420,"wires":[["26b7a0d8.4eb9a"]]},{"id":"9af9442a.b340b8","type":"api-call-service","z":"cf813d83.034c","name":"","server":"76ca0172.30ea9","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.bryggers","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":560,"y":300,"wires":[[]]},{"id":"f3237af6.07d8d8","type":"deconz-input","z":"cf813d83.034c","name":"Test switch","server":"6d3bc98b.62b398","device":"00:17:88:01:03:28:27:65-02-0406","device_name":"Motion Bryggers : ZHAPresence","state":"0","output":"always","outputAtStartup":true,"x":120,"y":420,"wires":[["ea9c809f.3a2f1"],[]]},{"id":"ea9c809f.3a2f1","type":"debug","z":"cf813d83.034c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":320,"y":420,"wires":[]}]